{{#em-form model=this submitButton=false as |form|}}
  {{date-picker model=this property="dateTimePickerDate"  label=label class=(concat 'col-sm-4 ' datePickerClass) dateSetAction="dateChanged"}}
  {{#unless isAllDay}}
    <div class="form-input-group col-sm-3 required">
      <label class="control-label" for="startTime">{{t 'labels.startTime'}}</label>
      <div class="input-group">
        <select onchange={{action "startHourChanged" value="target.value"}} class="form-control start-hour">
          {{#each hourList as |item|}}
            <option value="{{item.value}}"
                    selected={{is-equal item.value startHour}}>
              {{item.name}}
            </option>
          {{/each}}
        </select>
        <div class="input-group-addon">:</div>
        <select onchange={{action "startMinuteChanged" value="target.value"}} class="form-control start-minute">
          {{#each minuteList as |item|}}
            <option value="{{item.value}}"
                    selected={{is-equal item.value startMinute}}>
              {{item.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-input-group col-sm-3 required has-feedback {{if endTimeHasError 'has-error'}}">
      <label class="control-label" for="endTime">{{t 'labels.endTime'}}</label>
      <div class="input-group">
        <select onchange={{action "endHourChanged" value="target.value"}} class="form-control end-hour">
          {{#each hourList as |item|}}
            <option value="{{item.value}}"
                    selected={{is-equal item.value endHour}}>
              {{item.name}}
            </option>
          {{/each}}
        </select>
        <div class="input-group-addon">:</div>
        <select onchange={{action "endMinuteChanged" value="target.value"}} class="form-control end-minute">
          {{#each minuteList as |item|}}
            <option value="{{item.value}}"
                    selected={{is-equal item.value endMinute}}>
              {{item.name}}
            </option>
          {{/each}}
        </select>
      </div>
      {{#if endTimeHasError}}
        <p class="help-block">{{t 'appointments.messages.endTimeLaterThanStart'}}</p>
      {{/if}}
    </div>
  {{/unless}}
{{/em-form}}
