<div class="panel panel-primary">
  <div class="panel-body">
    {{yield}}
  </div>
  <div class="panel-footer">
    {{#unless editPanelProps.hideCancelButton}}
      {{#if editPanelProps.cancelButtonText}}
        <button class="btn btn-default warning" {{action 'cancel'}}>{{editPanelProps.cancelButtonText}}</button>
      {{else}}
        <button class="btn btn-default warning" {{action 'cancel'}}>{{t 'buttons.cancel'}}</button>
      {{/if}}
    {{/unless}}
    {{#if editPanelProps.showUpdateButton}}
      {{#if editPanelProps.disabledAction}}
        <button class="btn btn-primary on-white disabled-btn" {{action 'disabledAction'}}>{{editPanelProps.updateButtonText}}</button>
      {{else}}
        <button class="btn btn-primary on-white" {{action 'updateButtonAction'}} disabled={{editPanelProps.isUpdateDisabled}}>
          {{editPanelProps.updateButtonText}}
        </button>
      {{/if}}
    {{/if}}
    {{#each editPanelProps.additionalButtons as |button|}}
      <button class="{{button.class}}" {{action 'fireButtonAction' button.buttonAction}}>
        {{#if button.buttonIcon}}
          <span class="{{button.buttonIcon}}"></span>
        {{/if}}
        {{button.buttonText}}
      </button>
    {{/each}}
  </div>
</div>
