
{{#each headers as |prop|}}

  {{#if isEditing}}
    <td>
      {{input class="form-control" value=(get row prop)}}
    </td>

  {{else}}
    <td>{{get row prop}}</td>
  {{/if}}


{{/each}}

<td class="text-center">
{{#if operations}}
  {{#if isEditing}}
      <div role="group">
        <button class="btn btn-default btn-block btn-xs" {{action "saveRow" row}}>Save</button>
        <button class="btn btn-danger btn-block btn-xs" {{action "deleteRow" row}}>Delete</button>
      </div>

  {{else}}
    <button class="btn btn-default btn-sm" {{action "editRow"}}>Edit</button>
  {{/if}}

{{/if}}
</td>
