<<<<<<< HEAD
{{em-text label=label property=property rows=rows}}
<div class="text-expansion-div" style={{expansionDivStyle}}>{{expansionText}}</div>
=======
{{form.text label=label property=property rows=rows}}
<div class="text-expansion-div" style={{expansionDivStyle}}>{{expansionText}}</div>
>>>>>>> 04412e25eaea300a172007bb9619752ed10be2ea
