{{#each content as |radio|}}    
  <label class={{radioClass}}>
    {{#if haveLabel}}
      {{radio-button value=radio.value checked=value}} {{radio.label}}
    {{else}}
      {{radio-button value=radio checked=value}} {{radio}}
    {{/if}}
  </label>
{{/each}}
{{#if includeOtherOption}}
  <div class="radio">
    <label>
      {{radio-button value=otherValue checked=value }}
      {{otherOptionLabel}} {{input value=otherValue class="form-control"}}
    </label>
  </div>
{{/if}}
