{{#if view.showInline}}
    {{#each view.content}}    
        <label class="radio-inline">
            {{radio-button content=this name=view.name selection=view.value }}
        </label>
    {{/each}}
{{else}}
    {{#each view.content}}
        <div class="radio">
            <label>
                {{radio-button content=this name=view.name selection=view.value }}
            </label>
        </div>
    {{/each}}
{{/if}}

{{#if includeOtherOption}}
    <div class="radio">
        <label>
            {{radio-button value=otherValue name=view.name selection=view.value }}        
            {{otherOptionLabel}} {{input value=otherValue class="form-control"}}
        </label>
    </div>
{{/if}}