<select tabindex="-1" class="language-select" onchange={{action 'selectLanguage' value='target.value'}}>
  <option value disabled>{{t 'navigation.actions.selectLanguage'}}</option>
  {{#each languageOptions as |lang|}}
    <option value={{lang.id}} selected={{eq selectedLanguage lang.id}}>{{lang.name}}</option>
  {{/each}}
</select>
