<label class="ps-info-label wide">{{t 'allergies.patientAllergy'}}</label>

<a class="clickable" {{action "createNewAllergy"}}><span class="octicon octicon-plus"></span>  {{t 'buttons.addNewAllergy'}}</a>

<div class="ps-info-data-block">
  <ul class="list-inline allergy-list">
        {{#each patient.allergies as |allergy index|}}
        <li>
          <button class="btn-link allergy-button" {{action "editAllergy" allergy}}>{{allergy.name}}</button>
        </li>
    {{/each}}
  </ul>
</div>



{{#if displayModal}}
  {{#modal-dialog
    title=modalTitle
    updateButtonText=buttonConfirmText
    hideCancelButton=true
    updateButtonAction='updateAllergy'
    additionalButtons=additionalButtons
  }}

    <div class="row">
      <div class="col-xs-12 form-group">
        <label>{{t "allergies.allergyName"}}</label>
        {{#if currentAllergy}}
          {{input class="form-control" value=currentAllergy.name}}
        {{else}}
          {{input class="form-control" value=name}}
        {{/if}}
      </div>

    </div>

  {{/modal-dialog}}
{{/if}}