<label for="">Allergies</label>


<ul class="list-inline">
  <li>
    <button class="btn muted" {{action "createNewAllergy" bubbles=false}}>Add New Allergy</button>
  </li>
  {{#each patient.allergies as |allergy index|}}
    {{#if showAllAllergies}}
      <li>
        <button class="btn-link" {{action "editAllergy" allergy}}>{{allergy.name}}</button>
      </li>
    {{else}}
      {{#if (lte index 4)}}
        <li>
          <button class="btn-link" {{action "editAllergy" allergy}}>{{allergy.name}}</button>
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
  <li>
    {{#if (gt patient.allergies.length 4)}}
      <button class="btn-link" {{action "toggleAllergyDisplay" bubbles=false}}>{{if showAllAllergies "Show Fewer" "Show All"}}</button>
    {{/if}}
  </li>

</ul>



{{#if displayModal}}
  {{#modal-dialog
    title="Allergies"
    updateButtonText=buttonConfirmText
    showCancelButton=false
    updateButtonAction='updateAllergy'
    additionalButtons=additionalButtons
  }}

    <div class="row">
      <div class="col-xs-12 form-group">
        <label for="">
          Name
        {{#if currentAllergy}}
          {{input class="form-control" value=currentAllergy.name}}
        {{else}}
          {{input class="form-control" value=name}}
        {{/if}}
        </label>
      </div>

    </div>

  {{/modal-dialog}}
{{/if}}