<label for="">{{t 'allergies.patientAllergy'}}</label>


<ul class="list-inline allergy-list">
  <li>
    <button class="btn muted test-action" {{action "createNewAllergy"}}>{{t 'buttons.addNewAllergy'}}</button>
  </li>
  {{#each patient.allergies as |allergy index|}}
    {{#if showAllAllergies}}
      <li>
        <button class="btn-link allergy-button" {{action "editAllergy" allergy}}>{{allergy.name}}</button>
      </li>
    {{else}}
      {{#if (lte index 4)}}
        <li>
          <button class="btn-link allergy-button" {{action "editAllergy" allergy}}>{{allergy.name}}</button>
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
    {{#if (gt patient.allergies.length 4)}}
      <li>
        <button class="btn-link" {{action "toggleAllergyDisplay" bubbles=false}}>{{if showAllAllergies (t "buttons.showFewer") (t "buttons.showAll")}}</button>
      </li>
    {{/if}}

</ul>



{{#if displayModal}}
  {{#modal-dialog
    title=modalTitle
    updateButtonText=buttonConfirmText
    hideCancelButton=true
    updateButtonAction='updateAllergy'
    additionalButtons=additionalButtons
  }}

    <div class="row">
      <div class="col-xs-12 form-group">
        <label>{{t "allergies.allergyName"}}</label>
        {{#if currentAllergy}}
          {{input class="form-control" value=currentAllergy.name}}
        {{else}}
          {{input class="form-control" value=name}}
        {{/if}}
      </div>

    </div>

  {{/modal-dialog}}
{{/if}}