<label for="">Allergies</label>
<ul class="list-inline">
  {{#each patient.allergies as |allergy index|}}
    {{#if (lte index 4)}}
      <li>{{allergy.name}}</li>
    {{/if}}
    {{#if (eq index 4)}}
      <li>...</li>
    {{/if}}
  {{/each}}
  <li>
    <button class="btn-link" {{action "showAllAllergies" bubbles=false}}>Manage</button>
  </li>
</ul>



{{#if displayModal}}
  {{#modal-dialog
    title="Allergies"
    updateButtonText=buttonConfirmText
    hideCancelButton=true
    updateButtonAction=updateButtonAction
  }}

    <button type="button" class="btn btn-primary align-right" {{action "toggleAddAllergy" bubbles=false on="click"}}>
      <span class="octicon octicon-plus"></span>Add Allergy
    </button>

    <table class="clearfix table table-responsive">
      <tr class="table-header">
        <td>Name</td>
        <td>ICD9CM Code</td>
        <td>ICD10 Code</td>
        <td>Operations</td>
      </tr>
      {{#each patient.allergies as |allergy|}}
        {{editable-row row=allergy headers=allergyProps operations=true}}
      {{/each}}

      {{#if addAllergyRow}}
        <tr>
            <td>
              {{input lable="Name" class="form-control" value=name}}
            </td>

            <td>
              {{input lable="ICD 9 Code" class="form-control" value=icd9CMCode}}
            </td>

            <td>
              {{input lable="ICD 10 Code" class="form-control" value=icd10Code}}
            </td>

            <td>
              <button class="btn btn-default" {{action "addAllergy"}}>Save</button>
            </td>

        </tr>
      {{/if}}
    </table>

  {{/modal-dialog}}
{{/if}}