{{#if showAllergies}}
  <label class="ps-info-label wide">{{t 'allergies.labels.patientAllergy'}}</label>

  {{#if canAddAllergy}}
  <a class="clickable" {{action "createNewAllergy" bubbles=false }}><span class="octicon octicon-plus"></span>  {{t 'allergies.buttons.addAllergy'}}</a>
  {{/if}}

  <div class="ps-info-data-block allergy-list">
    {{#each patient.allergies as |allergy index|}}
      {{#unless (eq index 0)}}, {{/unless}}
      {{#if canAddAllergy}}
        <a class="clickable allergy-button" {{action "editAllergy" allergy bubbles=false }}>{{allergy.name}}</a>
      {{else}}
        <span>{{allergy.name}}</span>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
