<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="octicon octicon-x" /></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      <div class="modal-footer">
        {{#unless hideCancelButton}}
          <button class="btn btn-default warning" {{action "cancelAction"}}>{{cancelBtnText}}</button>
        {{/unless}}
        {{#unless hideUpdateButton}}
          <button class="btn btn-primary on-white {{updateButtonClass}}" {{action "updateAction" }} disabled={{isUpdateDisabled}}>{{ updateButtonText }}</button>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
