{{#if show}}
  <div class="category-title" {{action 'toggleContent'}}>
    {{#link-to nav.route class="primary-section-link nav-link"}}
      <span class="mega-octicon {{nav.iconClass}}"></span>{{nav.localizedTitle}}
    {{/link-to}}
  </div>
  {{#if isShowing }}
    <div class="category-sub-items">
      {{#each nav.subnav as |subnav|}}
        {{#if subnav.show}}
          <div {{action 'resetNav'}}>
            {{#if subnav.subroute}}
              {{#link-to subnav.route subnav.subroute class="category-sub-item nav-link"}}
                <span class="octicon {{subnav.iconClass}}"></span>{{subnav.localizedTitle}}
              {{/link-to}}
            {{else}}
              {{#link-to subnav.route class="category-sub-item nav-link"}}
                <span class="octicon {{subnav.iconClass}}"></span>{{subnav.localizedTitle}}
              {{/link-to}}
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
