{{log this}}
{{#if show}}
  {{#link-to nav.route class="primary-section-link nav-link"}}
    <div class="category-title" {{action 'toggleContent'}}>    
      <span {{bind-attr class=":mega-octicon nav.iconClass"}}></span>{{nav.title}}
  </div>
  {{/link-to}}
  {{#if isShowing }}
  <div class="category-sub-items">
      {{#each nav.subnav}}
        {{#if show}}
          {{#if subroute}}
            {{#link-to route subroute class="category-sub-item nav-link"}}
            <span {{bind-attr class=":octicon iconClass"}}></span>{{title}}
            {{/link-to}}
          {{else}}
            {{#link-to route class="category-sub-item nav-link"}}
            <span {{bind-attr class=":octicon iconClass"}}></span>{{title}}
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}
  </div>
  {{/if}}
{{/if}}