{{log this}}
{{#if show}}
  <div class="category-title">
    <a href="#" class="primary-section-link nav-link" {{action 'toggleContent'}}>
        <span {{bind-attr class=":mega-octicon nav.iconClass"}}></span>{{nav.title}}
    </a>
  </div>
  {{#if isShowing }}
  <div class="category-sub-items">
      {{#each nav.subnav}}
        {{#if show}}
          {{#if subroute}}
            {{#link-to route subroute class="category-sub-item nav-link"}}
            <span {{bind-attr class=":octicon iconClass"}}></span>{{title}}
            {{/link-to}}
          {{else}}
            {{#link-to route class="category-sub-item nav-link"}}
            <span {{bind-attr class=":octicon iconClass"}}></span>{{title}}
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}
  </div>
  {{/if}}
{{/if}}