<div class="row">
  {{select-or-typeahead
    className=(concat (if (not-eq haveProcedures true) 'required ') 'procedure-description col-sm-10')
    property="procedureDescription"
    label=(t 'components.operativeProcedures.labels.procedure') list=procedureList
    selection=procedureDescription hint=false
  }}
  <div class="col-sm-2">
    <label class="control-label">&nbsp;</label>
    <p class=" form-control-static">
      <button class="btn btn-primary" {{action 'addProcedure'}}>
        <span class="octicon octicon-plus"></span> {{t 'components.operativeProcedures.buttons.addProcedure'}}
      </button>
    </p>
  </div>
</div>
{{#if haveProcedures}}
  <h4>{{t 'components.operativeProcedures.titles.procedures'}}</h4>
  <table class="table procedure-listing">
    <tr class="table-header">
      <th>{{t 'components.operativeProcedures.labels.procedure'}}</th>
      <th>{{t 'labels.action'}}</th>
    </tr>
    {{#each model.procedures as |procedure|}}
      <tr>
        <td class="procedure-description">{{procedure.description}}</td>
        <td>
          <button type="button" class="btn btn-default warning" {{action "deleteProcedure" procedure bubbles=false }}>
            <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
          </button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
