  {{#if showPrimaryDiagnoses}}
    <div class="ps-info-group long-form">
      <label class="ps-info-label wide">{{primaryDiagnosisLabel}}</label>
      {{#if canAddDiagnosis}}
        <a class="clickable" {{action "showAddDiagnosis" bubbles=false }}><span class="octicon octicon-plus"></span> {{t 'visits.buttons.addDiagnosis' }}</a>
      {{/if}}
      <div class="ps-info-data-block">
        {{#each primaryDiagnoses as |diagnosis index|}}
          {{#unless (eq index 0)}}, {{/unless}}
          {{#if canAddDiagnosis}}
            <a class="clickable primary-diagnosis" {{action "editDiagnosis" diagnosis bubbles=false}}>
              {{diagnosis.diagnosis}} (<strong>{{date-format diagnosis.date}}</strong>)
            </a>
          {{else}}
            <span class="primary-diagnosis">
              {{diagnosis.diagnosis}} (<strong>{{date-format diagnosis.date}}</strong>)
            </span>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if haveSecondaryDiagnoses}}
    <div class="ps-info-group long-form">
      <label class="ps-info-label wide">{{secondaryDiagnosisLabel}}</label>
      <div class="ps-info-data-block">
        {{#each secondaryDiagnoses as |diagnosis index|}}
          {{#unless (eq index 0)}}, {{/unless}}
          {{#if canAddDiagnosis}}
            <a class="clickable secondary-diagnosis" {{action "editDiagnosis" diagnosis bubbles=false}}>
              {{diagnosis.diagnosis}} (<strong>{{date-format diagnosis.date}}</strong>)
            </a>
          {{else}}
            <span class="secondary-diagnosis">
              {{diagnosis.diagnosis}} (<strong>{{date-format diagnosis.date}}</strong>)
            </span>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
