<div {{action 'linkToPatient'}} class="clearfix">

  <div class="ps-info-group patient-id">
    <label class="ps-info-label">{{t 'labels.id'}}</label>
    <span class="ps-info-data">{{patient.displayPatientId}}</span>
  </div>

  <div class="ps-info-group patient-name">
    <label class="ps-info-label">{{t 'labels.name'}}</label>
    <span class="ps-info-data">{{patient.displayName}}</span>
  </div>

  <div class="ps-info-group">
    <label class="ps-info-label">{{t 'labels.sex'}}</label>
    <span class="ps-info-data">{{patient.sex}}</span>
  </div>

  <div class="ps-info-group">
    <label class="ps-info-label">{{t 'labels.age'}}</label>
    <span class="ps-info-data">{{patient.age}} (<strong>{{date-format patient.dateOfBirth}}</strong>)</span>
  </div>


  {{#if havePrimaryDiagnoses}}
    <div class="ps-info-group long-form">
      <label class="ps-info-label wide">{{t 'patients.labels.primaryDiagnosis'}}</label>
      <div class="ps-info-data-block">
        {{#each primaryDiagnoses as |diagnosis|}}
          {{#unless diagnosis.first}}, {{/unless}}
          {{diagnosis.description}} (<strong>{{date-format diagnosis.date}}</strong>)
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if haveSecondaryDiagnoses}}
    <div class="ps-info-group long-form">
      <label class="ps-info-label wide">{{t 'patients.labels.secondaryDiagnosis'}}</label>
      <div class="ps-info-data-block">
        {{#each secondaryDiagnoses as |diagnosis|}}
          {{#unless diagnosis.first}}, {{/unless}}
          {{diagnosis.description}} (<strong>{{date-format diagnosis.date}}</strong>)
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if haveProcedures}}
    <div class="ps-info-group long-form">
      <label class="ps-info-label wide">{{t 'labels.procedures'}}</label>
      <div class="ps-info-data-block">
        {{#each patientProcedures as |procedure|}}
          {{#unless procedure.first}}, {{/unless}}
          <span {{action 'editProcedure' procedure}} class="clickable">
            {{procedure.description}} (<strong>{{date-format procedure.procedureDate}}</strong>)
          </span>
        {{/each}}
      </div>
    </div>
  {{/if}}

</div>
