{{#unless firstQuantity}}
  <div class="row">
    <div class="col-xs-5">
      <div class="form-group required {{quantityClass}}">
        <label class="control-label">{{t 'components.quantityConv.conversion' name=unitName}}</label>
      </div>
    </div>
  </div>
{{/unless}}
<div class="row">
  <div class="col-xs-3">
    <div class="form-group required {{quantityClass}} test-inv-quantity">
      {{form.input
        model=this
        property='quantity'
        label=(if firstQuantity (t 'labels.quantity'))
      }}
      <span class="help-block">{{quantityHelp}}</span>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group required {{unitClass}}">
      {{form.select
        model=this
        class='form-input-group test-inv-unit required'
        content=unitListHash
        property='unit'
        prompt=' '
        label=(if firstQuantity (t 'components.quantityConv.unit') '')
      }}
    </div>
    <span class="help-block">{{unitHelp}}</span>
  </div>
</div>
