<select {{action 'change' on='change'}} class="form-control">
  {{#if prompt}}
    <option disabled selected={{is-not selection}}>
      {{prompt}}
    </option>
  {{/if}}

  {{#each content key="@identity" as |item|}}
    <option value="{{read-path item optionLabelPath}}"
            selected={{is-equal-array item.roles selection}}>
      {{read-path item optionLabelPath}}
    </option>
  {{/each}}
</select>
