<div class="form-group {{class}}">
  <label class="control-label">{{label}}</label>
  <p class="form-control-static">
    {{#if value}}
      {{value}}
    {{else}}
      {{yield}}
    {{/if}}
  </p>
</div>
