{{#if canCaptureVideo}}
  {{#em-form model=this submitButton=false as |form|}}
    {{form.select
      class='form-input-group'
      content=photoSources
      id='photo-source'
      optionLabelPath="label"
      optionValuePath="value"
      property='photoSource'
      label=sourceChooserLabel
      action=(action 'photoSourceChange')
    }}
    {{#if showCameraSelect}}
      {{form.select
          action=(action 'cameraChange')
          class='form-input-group'
          content=videoSources
          id='camera'
          label=(t 'components.takePhoto.camera')
          optionLabelPath="label"
          optionValuePath="id"
          property='selectedCamera'
      }}
    {{/if}}
  {{/em-form}}
  <div class="camera panel panel-success">
    <div class="panel-body">
      <div class="col-sm-4">
        <h2>{{t 'components.takePhoto.preview'}}</h2>
        <video></video>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <h2>{{t 'components.takePhoto.photo'}}</h2>
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default neutral" {{action 'takePhoto'}}>{{t 'components.takePhoto.takePhoto'}}</button>
    </div>
  </div>
{{/if}}
{{#if showFileUpload}}
  {{image-upload label=(t 'components.takePhoto.uploadFile') property="fileName" selectedFile=photoFile isImage=isImage}}
{{/if}}
