<h4>{{t 'components.upcomingAppointments.titles.upcomingAppointments'}}</h4>
<table class="table">
  <tr class="table-header">
    <th>{{t 'components.upcomingAppointments.labels.date'}}</th>
    <th>{{t 'components.upcomingAppointments.labels.with'}}</th>
    <th>{{t 'components.upcomingAppointments.labels.location'}}</th>
    <th>{{t 'components.upcomingAppointments.labels.type'}}</th>
  </tr>
  {{#each appointments as |appointment|}}
    <tr>
      <td>{{appointment.formattedAppointmentDate}}</td>
      <td>{{appointment.provider}}</td>
      <td>{{appointment.location}}</td>
      <td>{{appointment.appointmentType}}</td>
    </tr>
  {{/each}}
</table>
