{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#if model.selectPatient}}
      {{patient-typeahead property="patientTypeAhead" label=(t 'labels.patient') content=patientList selection=selectedPatient class="required test-patient-input"}}
    {{else}}
      {{patient-summary patient=model.patient returnTo='appointments.edit' returnToContext=model.id disablePatientLink=model.isNew }}
    {{/if}}
    <div class="row">
      {{#if isAdmissionAppointment}}
        {{date-picker property="startDate" label=(t 'labels.startDate') showTime=showTime class="col-sm-4 required test-appointment-start"}}
        {{date-picker property="endDate" label=(t 'labels.endDate') showTime=showTime class="col-sm-4 required test-appointment-end"}}
      {{else}}
        {{date-picker property="appointmentDate" label=(t 'labels.date') class="col-sm-4 required test-appointment-date"}}
        {{#unless isAllDay}}
          <div class="form-group col-sm-3 required">
            <label class="control-label" for="startTime">{{t 'labels.startTime'}}</label>
            <div class="input-group">
              {{select-list
                content=hourList
                optionLabelPath='name'
                optionValuePath='value'
                value=startHour
                class='form-control'
                id='startTime'
                action=(action (mut startHour))
              }}
              <div class="input-group-addon">:</div>
              {{select-list
                content=minuteList
                value=startMinute
                class='form-control'
                action=(action (mut startMinute))
              }}
            </div>
          </div>
          <div class="form-group col-sm-3 required has-feedback {{if endTimeHasError 'has-error'}}">
            <label class="control-label" for="endTime">{{t 'labels.endTime'}}</label>
            <div class="input-group">
              {{select-list
                  content=hourList
                  optionLabelPath='name'
                  optionValuePath='value'
                  value=endHour
                  class='form-control'
                  id='endTime'
                  action=(action (mut endHour))
              }}
              <div class="input-group-addon">:</div>
              {{select-list
                  content=minuteList
                  value=endMinute
                  class='form-control'
                  action=(action (mut endMinute))
              }}
            </div>
            {{#if endTimeHasError}}
              <p class="help-block">{{t 'appointments.messages.endTimeLaterThanStart'}}</p>
            {{/if}}
          </div>
        {{/unless}}
      {{/if}}
      {{em-checkbox label=(t 'labels.allDay') property="allDay"  class="col-sm-2"}}
    </div>
    <div class="row">
      {{em-select class="col-sm-6 required test-appointment-type" label=(t 'labels.type')
        property="appointmentType" content=visitTypes
      }}
      {{select-or-typeahead className="col-sm-6 test-appointment-with" property="provider"
        label=(t 'labels.with') list=physicianList
        selection=model.provider
      }}
    </div>
    <div class="row">
      {{select-or-typeahead className="col-sm-6 required test-appointment-location" property="location"
        label=(t 'labels.location') list=locationList
        selection=model.location
      }}
      {{em-select class="col-sm-3 test-appointment-status" property="status"
        label=(t 'labels.status') content=appointmentStatuses
      }}
    </div>
    {{em-text label=(t 'labels.notes') property="notes" rows=3 }}
  {{/em-form}}
{{/edit-panel}}
