<div class="container-fluid">    
    {{#em-form model=this submit_button=false }}    
        {{date-picker property="appointmentDate" label="Date"}}
        {{em-input property="patientId" label="Patient"}}
        {{em-input property="providerId" label="With"}}
        {{em-input property="locationId" label="At Location"}}
        {{em-input property="appointmentType" label="Type"}}
        {{em-input property="note" label="Notes"}}
    {{/em-form}}
</div>