{{! disable specific rules for this template }}
<!-- template-lint bare-strings=false -->
{{#edit-panel editPanelProps=editPanelProps}}
  <div class="panel panel-primary">
    <div class="panel-body">
      {{#em-form model=this submitButton=false as |form|}}
        <div class="row">
          {{form.select class="col-xs-3 form-input-group" label="Object Type"
              property="objectType" content=objectTypes
              selected=objectType
          }}
        </div>
        {{form.input label="Field Name" property="fieldName"}}
        {{form.input label="Query Value" property="queryValue"}}
      {{/em-form}}
    </div>
  </div>
  {{#if haveError}}
    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
  {{/if}}
  {{#if showQueryResults}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Query Results</h3>
      </div>
      <div class="panel-body">
        {{#each resultRows as |resultRow|}}
          <table class="table">
            <tr class="table-header">
              <th>Field</th>
              <th>Value</th>
            </tr>
            {{#each resultRow as |result|}}
              <tr>
                <th>{{name}}</th>
                <td>{{value}}</td>
              </tr>
            {{/each}}
          </table>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/edit-panel}}
