{{#em-form model=this submit_button=false }}
    {{#unless isNew}}
        <div class="form-group">
            <label>ID</label>
            {{input class="form-control" value=friendlyId type="text" disabled=true }}
        </div>
    {{/unless}}
    {{em-input property="name" label="Name"}}
    {{em-text label="Description" property="description" rows=3 }}
    {{em-select label="Type" property="type" 
        content=inventoryTypes 
        optionValuePath="content" 
        optionLabelPath="content"
    }}
    {{em-input property="crossReference" label="Cross Reference"}}
    {{#if showPurchases}}
        <div class="row">
            {{em-input property="reorderPoint" label="Reorder Point" class="col-sm-3"}}
            {{em-input property="price" label="Price Per Unit" class="col-sm-3"}}
            {{em-select label="Distribution Unit" class="col-sm-3" 
                property="distributionUnit" 
                content=unitList 
                optionLabelPath="content"
                optionValuePath="content"
            
            }}
        </div>
    {{/if}}
    {{#if showNewPurchase}}
        <h3>Purchase information</h3>
        {{partial 'inventory/purchase'}}
    {{else}}
        <div class="row">
            {{#if canEditQuantity}}
                {{em-input property="quantity" label="Quantity" class="col-sm-3"}}
            {{else}}
                <div class="form-group col-sm-3">
                    <label>Quantity</label>
                    {{input class="form-control" value=quantity type="text" disabled=true }}
                </div>
            {{/if}}
        </div>
        {{#if showPurchases}}
            <h3>Purchases <button class="btn btn-primary" {{action "showAddPurchase" this}}>Add Purchase</button></h3>    
            <table class="table">
                <tr class="table-header">
                    <th>Date Added</th>
                    <th>Purchase Cost</th>
                    <th>Cost Per Unit</th>
                    <th>Original Quantity</th>
                    <th>Current Quantity</th>
                    <th>Lot Number</th>
                    <th>Expiration Date</th>
                    <th>Vendor</th>
                    <th>Action</th>
                </tr>
                {{#each purchases itemController='inventory/purchase/item-controller'}}                
                    <tr {{bind-attr class="rowClass"}}>
                        <td>{{date-format dateAdded}}</td>
                        <td>{{purchaseCost}}</td>
                        <td>{{costPerUnit}}</td>
                        <td>{{originalQuantity}}</td>
                        <td>{{currentQuantity}}</td>
                        <td>{{lotNumber}}</td>                
                        <td>{{date-format expirationDate}}</td>
                        <td>{{vendor}}</td>
                        <td>
                            {{#if expired}}
                                <strong>Expired</strong>
                            {{else}}
                                <button class="btn btn-primary" {{action "showEditPurchase" this}}>Edit Purchase</button>
                                {{#if canDelete}}
                                    <button class="btn btn-default" {{action "showDeletePurchase" this}}>Delete</button>
                                {{else}}
                                    <button class="btn btn-default" {{action "showExpirePurchase" this}}>Expire</button>                    
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    {{/if}}
    {{#if showLocations}}
        <h3>Locations</h3>    
        <table class="table">
            <tr class="table-header">
                <th>Location</th>
                <th>Aisle Location</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            {{#each locations}}                
                <tr>
                    <td>{{location}}</td>
                    <td>{{aisleLocation}}</td>
                    <td>{{quantity}}</td>
                    <td>                    
                        <button class="btn btn-primary" {{action "showTransfer" this}}>Transfer</button>
                    </td>                    
                </tr>
            {{/each}}
        </table>
    {{/if}}
{{/em-form}}