{{#em-form model=this submit_button=false }}
    {{partial 'inventory-basic'}}
    {{#if isNew}}
        <h3>Purchase information</h3>
        {{partial 'inv-purchase'}}
    {{else}}
            {{#if quantityDiscrepency}}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        The total quantity <strong>({{quantity}})</strong>, does not match the total quantity in the locations <strong>({{locationQuantityTotal}})</strong>.
                    </p>
                    <p>Please adjust the quantities on the appropriate location(s) to account for the difference of {{quantityDifferential}}.</p>
                </div>
            {{/if}}
            <h3>
                Purchases 
                {{#if canAddPurchase}}
                    <button class="btn btn-primary align-right" {{action "showAddPurchase" this}}><span class="octicon octicon-plus"></span> Add Purchase</button>
                {{/if}}
            </h3>
            <table class="table">
                <tr class="table-header">
                    <th>Date Received</th>
                    <th>Purchase Cost</th>
                    <th>Cost Per Unit</th>
                    <th>Original Quantity</th>
                    <th>Current Quantity</th>
                    <th>Gift In Kind</th>
                    <th>Serial/Lot Number</th>
                    <th>Expiration Date</th>
                    <th>Vendor</th>
                    <th>Invoice Number</th>
                </tr>
                {{#each purchases itemController='inventory/purchase/item-controller'}}
                    <tr {{bind-attr class="rowClass"}}>
                        <td>{{date-format dateReceived}}</td>
                        <td>{{purchaseCost}}</td>
                        <td>{{costPerUnit}}</td>
                        <td>{{originalQuantity}}</td>
                        <td>{{currentQuantity}}</td>
                        <td>
                            {{#if giftInKind}}Y{{else}}N{{/if}}
                        </td>
                        <td>{{lotNumber}}</td>                
                        <td>{{date-format expirationDate}}</td>
                        <td>{{vendor}}</td>
                        <td>{{invoiceNo}}</td>
                    </tr>
                {{/each}}
            </table>
    {{/if}}
    {{#unless isNew}}
        <h3>Locations</h3>    
        <table class="table">
            <tr class="table-header">
                <th>Location</th>
                <th>Aisle Location</th>
                <th>Quantity</th>
                {{#if canAdjustLocation}}
                    <th>Action</th>
                {{/if}}
            </tr>
            {{#each locations itemController='inventory/location-item'}}
                {{#if haveItems}}
                    <tr>
                        <td>{{location}}</td>
                        <td>{{aisleLocation}}</td>
                        <td>{{quantity}}</td>
                        {{#if parentController.canAdjustLocation}}
                            <td>
                                <button class="btn btn-primary neutral" {{action "showAdjustment" this}}>Adjust</button>
                                <button class="btn btn-primary neutral" {{action "showTransfer" this}}>Transfer</button>
                            </td>
                        {{/if}}
                    </tr>
                {{/if}}
            {{/each}}
        </table>
        {{#if showTransactions}}
            <h3>Transactions</h3>
            <table class="table">
                <tr class="table-header">
                    <th>Date Completed</th>
                    <th>Quantity</th>
                    <th>Transaction</th>
                    <th>Expense Account</th>
                    <th>Details</th>
                </tr>
                {{#if haveTransactions}}
                    {{#each transactions itemController='inventory/completed-items'}}
                        <tr>
                            <td>{{date-format dateCompleted}}</td>                    
                            <td>{{quantity}}</td>
                            <td>{{transactionType}}</td>
                            <td>{{expenseAccount}}</td>
                            <td>
                                {{#if isAdjustment}}
                                    {{#if haveReason}}
                                        <strong>Reason:</strong> {{reason}}<br/>
                                    {{/if}}
                                    <strong>Location Adjusted:</strong> {{deliveryDetails}}
                                {{/if}}
                                {{#if isFulfillment}}
                                    <strong>Cost Per Unit:</strong> {{costPerUnit}}<br/>
                                    <strong>Quantity At Completion:</strong> {{quantityAtCompletion}}<br/>
                                    <strong>Pulled From:</strong>
                                    {{#each locationsAffected}}
                                        {{name}}<br/>
                                    {{/each}}
                                    {{#if patient}}
                                        <strong>Prescription For: </strong> {{deliveryDetails}}
                                    {{else}}
                                        <strong>Delivered To: </strong> {{deliveryDetails}}
                                    {{/if}}
                                {{/if}}
                                {{#if isTransfer}}
                                    <strong>Transferred From:</strong>
                                    {{#each locationsAffected}}
                                        {{name}}<br/>
                                    {{/each}}
                                    <strong>Transferred To: </strong> {{deliveryDetails}}
                                {{/if}}
                            </td>
                        </tr>            
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="4"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading transactions....</td>
                    </tr>
                {{/if}}
            </table>
        {{/if}}
    {{/unless}}
{{/em-form}}