{{#modal-dialog
isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
{{#em-form model=model submitButton=false }}
    <div class="row">
        {{date-picker property="dateRecorded" label="Date Recorded" class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
      <div class="row">
        {{em-select label="Type of Person Involved" prompt=" "
            property="typeOfPerson" content=typeOfPersonInvolved
            selected=model.typeOfPerson
            class="col-sm-6"
        }}
    </div>
    <div class="row">
        {{em-select label="Identity Document Type" prompt=" "
            property="identityDocumentType" content=identityDocumentTypes
            selected=model.identityDocumentType
            class="col-sm-6"
        }}
        {{em-input class="col-sm-6" property="identityNumber" label="Identity Number"}}

    </div>
    <div class="row">
        {{em-text property="narrativeStatement" label="Narrative Statement" }}
    </div>
{{/em-form}}
{{/modal-dialog}}
