{{#modal-dialog isUpdateDisabled=isUpdateDisabled title=title updateButtonAction=updateButtonAction updateButtonText=updateButtonText}}
  {{#em-form model=model submitButton=false}}
    <div class="row">
      {{date-picker property="dateRecorded" label=(t 'incident.labels.dateRecorded') class="col-sm-6" format="l h:mm A" showTime=false}}
      {{em-input class="col-sm-6" property="identityNumber" label=(t 'incident.labels.id_number')}}
    </div>
    <div class="row">
      {{em-select label=(t 'incident.labels.typeOfPerson') prompt=" " property="typeOfPerson"
        content=typeOfPersonInvolved selected=model.typeOfPerson class="col-sm-6"}}
      {{em-select label=(t 'incident.labels.id_type') prompt=" " property="identityDocumentType"
        content=identityDocumentTypes selected=model.identityDocumentType class="col-sm-6"}}
    </div>
    <div class="row">
      {{em-text class="col-sm-12" property="narrativeStatement" label=(t 'incident.labels.narrativeStatement')}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
