{{#em-form model=this submit_button=false }}
    {{#unless selectPatient}}
        {{patient-summary patient=patient returnTo='medication.edit' returnToContext=id disablePatientLink=isNew }}
    {{/unless}}
    <div class="row">
        {{#if selectPatient}}
            {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=selectedPatient class="col-xs-6 required"}}
        {{/if}}
        {{#if isNew}}
            {{em-select class="col-xs-4 required" label="Visit" 
                property="visit" content=patientVisits
                optionValuePath="content" optionLabelPath="content.visitDescription"
                prompt="--Add New Outpatient Visit--"
                selected=visit
            }}        
        {{else}}
            <div class="form-group col-xs-3">
                <label>Visit</label>
                <p class="form-control-static">{{visit.visitDescription}}</p>
            </div>
        {{/if}}
    </div>
    {{#if isRequested}}
        <div class="form-group">
            <label class="control-label">Medication</label>
            <p class="form-control-static">{{inventoryItem.name}}</p>        
        </div>
    {{else}}
        {{inventory-typeahead property="inventoryItemTypeAhead" label="Medication" content=medicationList selection=selectedInventoryItem class="required"}}
    {{/if}}
    {{em-text property="prescription" label="Prescription" rows="3" class="required"}}
    <div class="row">
        {{date-picker property="prescriptionDate" label="Prescription Date" class="col-sm-4"}}
    </div>
    <div class="row">
        {{em-input property="quantity" label="Quantity Requested" class=quantityClass }}          
        {{em-input property="refills" label="Refills" class="col-xs-3"}}
    </div>
    {{em-text property="notes" label="Prescription Notes" rows="3"}}
    {{#if isNew}}
        {{#if canFulfill}}
            <div class="form-group">            
                <label class="control-label">Fulfill Request</label>
             </div>
            {{em-checkbox label="Fulfill Request Now" property="shouldFulfillRequest"}}
        {{/if}}
    {{/if}}
    {{#if isFulfilling}}
        {{inventory-location-picker label="Pull From" quantityRequested=quantity
            locationList=inventoryItem.availableLocations
            selectedLocations=inventoryLocations
        }}
    {{/if}}
{{/em-form}}