{{#em-form model=this submit_button=false }}
    <div class="row">
        {{#if selectPatient}}
            {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=selectedPatient class="col-xs-3 required"}}
            {{em-select class="col-xs-3 required" label="Visit" 
                property="visit" content=patientVisits
                optionValuePath="content" optionLabelPath="content.visitDescription"
                prompt="--Add New Visit--"
                selected=visit
            }}        
        {{else}}
            <div class="form-group col-xs-3">
                <label>Patient</label>
                <p class="form-control-static">{{patient.displayName}}</p>
            </div>
            <div class="form-group col-xs-3">
                <label>Visit</label>
                <p class="form-control-static">{{visit.visitDescription}}</p>
            </div>
        {{/if}}
    </div>
    {{#if isRequested}}
        <div class="form-group">
            <label class="control-label">Medication</label>
            <p class="form-control-static">{{inventoryItem.name}}</p>        
        </div>
    {{else}}
        {{inventory-typeahead property="inventoryItemTypeAhead" label="Medication" content=medicationList selection=selectedInventoryItem class="required"}}
    {{/if}}
    <div class="row">
        {{em-input property="dose" label="Dose" class="col-xs-3 required"}}
        {{select-or-typeahead property="frequency" label="Frequency" class="col-xs-3 required" list=medicationFrequencyList selection=frequency }}
    </div>        
    <div class="row">
        {{em-input property="duration" label="Duration" class="col-xs-3 required"}}
        {{em-select class="col-xs-3" label=" " 
            property="durationType" content=durationTypes
            optionValuePath="content" optionLabelPath="content"
        }}
    </div>
    <div class="row">
        {{date-picker property="prescriptionDate" label="Prescription Date" class="col-sm-4"}}
    </div>
    <div class="row">
        {{em-input property="quantity" label="Quantity Requested" class="col-xs-3"}}          
        {{em-input property="refills" label="Refills" class="col-xs-3"}}
    </div>
    {{em-text property="notes" label="Prescription Notes" rows="3"}}
    {{#if isNew}}
        {{#if canFulfill}}
            <div class="form-group">            
                <label class="control-label">Fulfill Request</label>
             </div>
            {{em-checkbox label="Fulfill Request Now" property="shouldFulfillRequest"}}
        {{/if}}
    {{/if}}
    {{#if isFulfilling}}
        {{inventory-location-picker label="Pull From" quantityRequested=quantity
            locationList=inventoryItem.availableLocations
            selectedLocations=inventoryLocations
        }}
    {{/if}}
{{/em-form}}