{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#unless model.selectPatient}}
      {{patient-summary patient=model.patient returnTo='medication.edit' returnToContext=model.id disablePatientLink=model.isNew }}
    {{/unless}}
    <div class="row">
      {{#if model.selectPatient}}
        {{patient-typeahead property="patientTypeAhead" label=(t 'labels.patient') content=patientList selection=selectedPatient class="col-xs-6 required test-patient-input"}}
      {{/if}}
      {{#if model.isNew}}
        {{em-select class="col-xs-4 required test-add-visit" label=(t 'labels.visit')
          property="visit" content=patientVisitsForSelect
          optionValuePath="selectObject" optionLabelPath="selectObject.visitDescription"
          prompt=(t 'labels.addNewOutpatientVisit')
          selected=model.visit
        }}
      {{else}}
        <div class="form-group col-xs-3">
          <label>{{t 'labels.visit'}}</label>
          <p class="form-control-static">{{model.visit.visitDescription}}</p>
        </div>
      {{/if}}
    </div>
    {{#if isFulfilledOrRequested}}
      <div class="form-group">
        <label class="control-label">{{t 'labels.medication'}}</label>
        <p class="form-control-static">{{model.medicationName}}</p>
      </div>
    {{else}}
      {{inventory-typeahead property="inventoryItemTypeAhead" label=(t 'labels.medication') content=medicationList selection=selectedInventoryItem class="required test-medication-input"}}
    {{/if}}
    {{#if isFulfilledOrRequested}}
      <div class="form-group">
        <label class="control-label">{{t 'labels.prescriber'}}</label>
        <p class="form-control-static">{{model.requestedBy}}</p>
      </div>
    {{/if}}
    {{#if isFulfilled}}
      {{static-text label=(t 'labels.prescription') value=model.prescription }}
      <div class="row">
        {{#static-text label=(t 'labels.prescriptionDate') class="col-xs-4"}}
          {{date-format model.prescriptionDate}}
        {{/static-text}}
        {{static-text label=quantityLabel class="col-xs-3" value=model.quantity }}
        {{static-text label=(t 'medication.labels.refills') class="col-xs-3" value=model.refills }}
      </div>
    {{else}}
      {{em-text property="prescription" label=(t 'labels.prescription')rows="3" class=prescriptionClass }}
      <div class="row">
        {{date-picker property="prescriptionDate" label=(t 'labels.prescriptionDate') class="col-sm-4"}}
      </div>
      <div class="row">
        {{number-input property="quantity" label=quantityLabel class=quantityClass }}
        {{em-input property="refills" label=(t 'medication.labels.refills') class="col-xs-3"}}
      </div>
      {{#unless model.hideFulfillRequest}}
        {{#if model.isNew}}
          {{#if canFulfill}}
            <div class="form-group">
              <label class="control-label">{{t 'labels.fulfillRequest'}}</label>
            </div>
            {{em-checkbox label=(t 'labels.fulfillRequestNow') property="shouldFulfillRequest"}}
          {{/if}}
        {{/if}}
      {{/unless}}
      {{#if isFulfilling}}
        {{select-or-typeahead property="expenseAccount" label=(t 'labels.billTo') list=expenseAccountList selection=model.expenseAccount }}
        {{inventory-location-picker label=(t 'labels.pullFrom') quantityRequested=model.quantity
          locationList= model.inventoryItem.availableLocations
          selectedLocations=model.inventoryLocations
        }}
      {{/if}}
    {{/if}}
  {{/em-form}}
{{/edit-panel}}
