{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#unless model.selectPatient}}
      {{patient-summary patient=model.patient returnTo='medication.edit' returnToContext=model.id disablePatientLink=model.isNew }}
    {{/unless}}
    <div class="row">
      {{#if model.selectPatient}}
        {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=selectedPatient class="col-xs-6 required test-patient-input"}}
      {{/if}}
      {{#if model.isNew}}
        {{em-select class="col-xs-4 required test-add-visit" label="Visit"
          property="visit" content=patientVisitsForSelect
          optionValuePath="selectObject" optionLabelPath="selectObject.visitDescription"
          prompt="--Add New Outpatient Visit--"
          selected=model.visit
        }}
      {{else}}
        <div class="form-group col-xs-3">
          <label>Visit</label>
          <p class="form-control-static">{{model.visit.visitDescription}}</p>
        </div>
      {{/if}}
    </div>
    {{#if isFulfilledOrRequested}}
      <div class="form-group">
        <label class="control-label">Medication</label>
        <p class="form-control-static">{{model.medicationName}}</p>
      </div>
    {{else}}
      {{inventory-typeahead property="inventoryItemTypeAhead" label="Medication" content=medicationList selection=selectedInventoryItem class="required test-medication-input"}}
    {{/if}}
    {{#if isFulfilled}}
      {{static-text label="Prescription" value=model.prescription }}
      <div class="row">
        {{#static-text label="Prescription Date" class="col-xs-4"}}
          {{date-format model.prescriptionDate}}
        {{/static-text}}
        {{static-text label=quantityLabel class="col-xs-3" value=model.quantity }}
        {{static-text label="Refills" class="col-xs-3" value=model.refills }}
      </div>
    {{else}}
      {{em-text property="prescription" label="Prescription" rows="3" class=prescriptionClass }}
      <div class="row">
        {{date-picker property="prescriptionDate" label="Prescription Date" class="col-sm-4"}}
      </div>
      <div class="row">
        {{em-input property="quantity" label=quantityLabel class=quantityClass }}
        {{em-input property="refills" label="Refills" class="col-xs-3"}}
      </div>
      {{#unless model.hideFulfillRequest}}
        {{#if model.isNew}}
          {{#if canFulfill}}
            <div class="form-group">
              <label class="control-label">Fulfill Request</label>
            </div>
            {{em-checkbox label="Fulfill Request Now" property="shouldFulfillRequest"}}
          {{/if}}
        {{/if}}
      {{/unless}}
      {{#if isFulfilling}}
        {{select-or-typeahead property="expenseAccount" label="Bill To" list=expenseAccountList selection=model.expenseAccount }}
        {{inventory-location-picker label="Pull From" quantityRequested=model.quantity
          locationList= model.inventoryItem.availableLocations
          selectedLocations=model.inventoryLocations
        }}
      {{/if}}
    {{/if}}
  {{/em-form}}
{{/edit-panel}}
