<div class="panel panel-primary">
  <div class="panel-body">
    <p>{{t 'admin.textReplacements.replDesc'}}</p>
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.from'}}</th>
        <th>{{t 'labels.to'}}</th>
        <th/>
      </tr>
      <tbody>
    {{#each model as |expansion|}}
    <tr>
      <td>#{{expansion.from}}</td>
      <td>{{expansion.to}}</td>
      <td>
        <button class="pull-right btn button-default on-white" {{action 'deleteExpansion' expansion}}>{{t 'buttons.delete'}}</button>
      </td>
    </tr>
    {{/each}}
    </tbody>
    </table>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <h3>{{t 'admin.textReplacements.createNew'}}</h3>
    {{#em-form model=newExpansion action="addExpansion" formLayout="horizontal" showErrorsOnFocusIn="true" submitButton=false as |form|}}
        {{form.input property="from" label=(t 'labels.from') placeholder=(t 'admin.textReplacements.toReplace')}}
        {{form.input property="to" label=(t 'labels.to') placeholder=(t 'admin.textReplacements.replaceWith')}}
    {{/em-form}}
  </div>
  <div class="panel-footer">
    <button class="btn button-primary on-white" disabled={{isInvalid}} {{action 'addExpansion' newExpansion}}>{{t 'buttons.add'}}</button>
    <button class="btn button-default on-white" {{action 'cancelExpansion'}}>{{t 'buttons.cancel'}}</button>
  </div>
</div>
