<table class="table">
  <tr class="table-header">
    <th>{{t 'patients.labels.professional'}}</th>
    <th>{{t 'patients.labels.profession'}}</th>
    <th>{{t 'patients.labels.status'}}</th>
    <th>{{t 'patients.labels.message'}}</th>
    <th>{{t 'patients.labels.call'}}</th>
    <th>{{t 'patients.labels.video'}}</th>
  </tr>
  <tr {{action "editImaging" imaging}}>
      <td>Doctor Strange</td>
      <td>Dark Magic</td>
      <td>Conected Now</td>
     <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Send message</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Call now</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>VideoCall</button>
          {{/if}}
      </td>
    </tr>
  <tr {{action "editImaging" imaging}}>
      <td>Banner Professor</td>
      <td>Gamma Ray</td>
      <td>Conected Now</td>
      <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Send message</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Call now</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>VideoCall</button>
          {{/if}}
      </td>
    </tr>
    <tr {{action "editImaging" imaging}}>
      <td>House Gregory</td>
      <td>Diagnostics</td>
      <td>Conected Now</td>
      <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Send message</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>Call now</button>
          {{/if}}
      </td>
       <td>
        {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>VideoCall</button>
          {{/if}}
      </td>
    </tr>
    
</table>
