{{#em-form model=this submit_button=false }}
    {{em-input label="Name" property="name" class="required"}}
    <div class="row">
        {{em-input label="Price" property="price" class="required col-xs-2"}}
        {{select-or-typeahead property="expenseAccount" label="Department" list=expenseAccountList selection=expenseAccount class="col-xs-4"}}
    </div>
    <div class="row">
        {{em-select label="Category" class="required col-xs-4"
        property="category" content=categories
        optionValuePath="content" optionLabelPath="content"
        selected=category }}    
        {{select-or-typeahead property="pricingType" label="Type" list=pricingTypes selection=pricingType class="col-xs-4" prompt=" "}}
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Pricing profile overrides
                {{#if showUpdateButton}}
                    <button class="btn btn-primary align-right" {{action "editOverride" bubbles=false }}><span class="octicon octicon-plus"></span>Add Override</button>
                {{/if}}
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tbody>
                    <tr class="table-header">
                        <th>Pricing Profile</th>
                        <th>Price</th>
                        {{#if showUpdateButton}}
                            <th>Actions</th>
                        {{/if}}
                    </tr>
                    {{#with this as parentController}}
                        {{#each pricingOverrides}}
                            <tr>
                                <td>{{profile.name}}</td>
                                <td>{{price}}</td>
                                <td>                                
                                    {{#if parentController.showUpdateButton}}
                                        <button class="btn btn-default neutral" {{action "editOverride" this}}>Edit</button>
                                        <button class="btn btn-default warning" {{action "showDeleteOverride" this  bubbles=false }}>
                                            <span class="octicon octicon-x"></span>  Delete
                                        </button>
                                    {{/if}}                                
                                </td>                            
                            </tr>
                        {{/each}}
                    {{/with}}
                </tbody>        
            </table>
        </div>
    </div>
{{/em-form}}