{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{em-input label=(t 'labels.name') property="name" class="required price-name"}}
    <div class="row">
      {{number-input label=(t 'labels.price') property="price" class="required col-xs-2 price-amount"}}
      {{select-or-typeahead property="expenseAccount" label=(t 'labels.department') list=expenseAccountList selection=model.expenseAccount className="col-xs-4 price-department"}}
    </div>
    <div class="row">
      {{em-select label=(t 'labels.category') class="required col-xs-4 price-category"
      property="category" content=categories
      selected=model.category }}
      {{select-or-typeahead property="pricingType" label=(t 'labels.type') list=pricingTypes selection=model.pricingType className="col-xs-4 price-type" prompt=" "}}
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'billing.labels.pricingPanelOverrides'}}
          {{#if showUpdateButton}}
            <button class="btn btn-primary align-right" {{action "editOverride" bubbles=false }}><span class="octicon octicon-plus"></span>{{t 'billing.buttons.addOverride'}}</button>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body detail-section-content">
        <table class="table">
          <tbody>
            <tr class="table-header">
              <th>{{t 'billing.labels.pricingProfile'}}</th>
              <th>{{t 'labels.price'}}</th>
              {{#if showUpdateButton}}
                <th>{{t 'labels.actions'}}</th>
              {{/if}}
            </tr>
            {{#each model.pricingOverrides as |override|}}
              <tr>
                <td class="override-profile">{{override.profile.name}}</td>
                <td>{{override.price}}</td>
                <td>
                  {{#if showUpdateButton}}
                    <button class="btn btn-default neutral" {{action "editOverride" override}}>{{t 'labels.edit'}}</button>
                    <button class="btn btn-default warning" {{action "showDeleteOverride" override bubbles=false }}>
                      <span class="octicon octicon-x"></span>  {{t 'buttons.delete'}}
                    </button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/em-form}}
{{/edit-panel}}
