<section>
    <header id='header'>
        <h1>Users</h1>
        <label>User name</label>{{input type='text' id='new-user' value=newUser}}
        <label>Password</label>{{input type='password' id='new-userpw' value=newUserPw}}
         <label>Role</label>{{role-select value=newRoles}}
        <button {{action 'createUser'}}>New User</button>
    </header>
</section>
<section id='main'>
    {{outlet}}
</section>
