{{#edit-panel editPanelProps=editPanelProps}}
  <div class="panel panel-primary">
    <div class="panel-body">
      {{#em-form model=model submitButton=false }}
        {{em-input label=(t 'admin.header.facilityName') property="value.facilityName"}}
        {{em-checkbox label=(t 'admin.header.includeFacilityName') property="value.facilityNameInclude"}}
        {{em-input label=(t 'admin.header.headerLine1') property="value.headerLine1"}}
        {{em-checkbox label=(t 'admin.header.includeHeaderLine1') property="value.headerLine1Include"}}
        {{em-input label=(t 'admin.header.headerLine2') property="value.headerLine2"}}
        {{em-checkbox label=(t 'admin.header.includeHeaderLine2') property="value.headerLine2Include"}}
        {{em-input label=(t 'admin.header.headerLine3') property="value.headerLine3"}}
        {{em-checkbox label=(t 'admin.header.includeHeaderLine3') property="value.headerLine3Include"}}
        {{em-input label=(t 'admin.header.logoURL') property="value.logoURL"}}
        {{em-checkbox label=(t 'admin.header.includeLogoURL') property="value.logoURLInclude"}}
      {{/em-form}}
    </div>
  </div>
{{/edit-panel}}
