{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.name'}}</th>
        <th>{{t 'labels.quantity'}}</th>
        <th>{{t 'labels.requestedOn'}}</th>
        <th>{{t 'labels.requestedBy'}}</th>
        {{#if canFulfill}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |request|}}
        <tr>
          <td>{{request.inventoryItem.name}}</td>
          <td>{{request.quantity}}</td>
          <td>{{date-format request.dateRequested}}</td>
          <td>{{request.requestedBy}}</td>
          {{#if canFulfill}}
            <td>
              <button class="btn btn-primary" {{action 'fulfill' request}}>{{t 'labels.fulfill'}}</button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'inventory.messages.noRequests'}}{{#if canAdd}}<a href="#" {{action 'newRequest'}}> {{t 'inventory.messages.createRequest'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
