{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Name</th>
            <th>Quantity</th>
            <th>Requested On</th>
            <th>Requested By</th>
            {{#if canFulfill}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with canFulfill as canFulfill}}
            {{#each}}
                <tr>
                    <td>{{inventoryItem.name}}</td>
                    <td>{{quantity}}</td>
                    <td>{{date-format dateRequested}}</td>
                    <td>{{requestedBy}}</td>
                    {{#if canFulfill}}
                        <td>
                            <button class="btn btn-primary" {{action 'fulfill' this}}>Fulfill</button>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <p>No requests found. {{#if canAdd}}<a href="#" {{action 'newRequest'}}>Create a new request?</a>{{/if}}</p>
    </div>
{{/if}}