{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Name</th>
            <th>Quantity</th>
            <th>Requested On</th>
            <th>Requested By</th>
            <th>Actions</th>
        </tr>
        {{#each}}
            <tr>
                <td>{{inventoryItem.name}}</td>
                <td>{{quantity}}</td>
                <td>{{date-format dateRequested}}</td>
                <td>{{requestedBy}}</td>
                <td>            
                    <button class="btn btn-primary" {{action 'fulfill' this}}>Fulfill</button>
                </td>
            </tr>            
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No requests found.  Create a new request?</em> <button class="btn btn-primary" {{action 'newRequest'}}>New Request</button>
    </div>
{{/if}}