<div class="report-header">
  {{#if logoURL}}
    <img src={{logoURL}} class="report-logo">
  {{/if}}
  {{#if facilityName }}
    <h3>{{facilityName}}</h3>
  {{/if}}
  {{#if headerLine1}}
    <span>{{headerLine1}}</span><br>
  {{/if}}
  {{#if headerLine2}}
    <span>{{headerLine2}}</span><br>
  {{/if}}
  {{#if headerLine3}}
    <span>{{headerLine3}}</span><br>
  {{/if}}
</div>
  <div class="opd-report">
    {{#edit-panel editPanelProps=editPanelProps}}
    {{#em-form model=model submitButton=false }}
      {{#if model.visit}}
        {{patient-summary
          patient=model.visit.patient
          returnTo='visit.edit'
          returnToContext=model.id
          disablePatientLink=model.isNew
        }}
      {{/if}}

      {{#if model.visit.startDate}}
        <div class="ps-info-group">
          <p class="ps-info-label">{{t 'reports.form.visitDate' }}</p>
          {{date-format model.visit.startDate format="DD/MM/YYYY hh:mm a"}}
        </div>
      {{/if}}

      {{#unless model.visit.outPatient}}
        <div class="ps-info-group">
          <p class="ps-info-label">{{t 'reports.form.dischargeDate' }}</p>
          {{date-format model.reportDate format="DD/MM/YYYY hh:mm a"}}
        </div>
      {{/unless}}

      {{#unless model.visit.outPatient}}
        <div class="row">
          {{select-or-typeahead className="col-sm-4" property="surgeon"
           label=(t "operativePlan.labels.surgeon") list=physicianList
           selection=model.surgeon
           class="plan-surgeon"
          }}
        </div>
      {{/unless}}

      {{#unless model.visit.outPatient}}
        {{#if model.visit.notes}}
          <div class="ps-info-group">
            <label class="ps-info-label">{{t 'reports.form.notes' }}</label>
            <ul>
                <li>{{model.visit.notes}}</li>
            </ul>
          </div>
        {{/if}}
      {{/unless}}

      {{#if diagnosis.primary.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.primaryDiagnosis' }}</label>
          <ul>
            {{#each diagnosis.primary as |item|}}
              <li>{{item.diagnosis}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if diagnosis.secondary.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.secondaryDiagnosis' }}</label>
          <ul>
            {{#each diagnosis.secondary as |item|}}
              <li>{{item.diagnosis}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if model.visit.procedures.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.procedures' }}</label>
          <ul>
            {{#each model.visit.procedures as |item|}}
              <li>{{item.description}} {{#if item.procedureDate }} - {{date-format item.procedureDate format="DD/MM/YYYY"}} {{/if}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if model.visit.labs.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.labs' }}</label>
          <ul>
            {{#each model.visit.labs as |item|}}
              <li>{{item.labType.name}}-{{item.result}} ({{item.status}})</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if model.visit.imaging.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.images' }}</label>
          <ul>
            {{#each model.visit.imaging as |item|}}
              <li>{{item.imagingType.name}}-{{item.result}} ({{item.status}})</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}


      {{#if nextAppointment}}
        <div class="ps-info-group">
          <p class="ps-info-label">{{t 'reports.form.nextAppointmentDate' }}</p>
         {{date-format nextAppointment format="DD/MM/YYYY hh:mm a"}}
        </div>
      {{/if}}

      {{#if model.visit.patient.operativePlans.length}}
        <div class="ps-info-group">
          <label class="ps-info-label">{{t 'reports.form.operativePlan' }}</label>
          <ul>
            {{#each model.visit.patient.operativePlans as |item|}}
              {{#each item.procedures as |p|}}
                <li>{{p.description}} ({{item.status}})</li>
              {{/each}}
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if model.visit.outPatient}}
        {{custom-form-manager model=model formType="opdReport"}}
      {{else}}

      {{/if}}



    {{/em-form}}
  {{/edit-panel}}
  </div>
