<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    {{#each itemController='users/item-controller'}}    
    <tr>
        {{#if isEditing}}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{input value=email}}</td>
            <td>{{input type='password' value=password}}</td>
            <td>
                {{role-select optionValuePath="content.roles" optionLabelPath="content.name" value=roles}}
            </td>
            <td>
                <button {{action 'cancelUpdate'}}>Cancel</button>
                <button {{action 'updateUser'}}>Update</button>
            </td>
        {{else}}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td></td>
            <td>{{roles}}</td>
            <td>
                <button {{action 'editUser'}}>Edit</button>
                <button {{action 'deleteUser'}}>Delete</button>
            </td>        
        {{/if}}
    </tr>
    {{/each}}
</table>
