{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.username'}}</th>
        <th>{{t 'labels.name'}}</th>
        <th>{{t 'labels.email'}}</th>
        <th>{{t 'labels.role'}}</th>
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |user|}}
        {{#unless user.deleted}}
          <tr {{action 'editItem' user}} class="clickable">
            <td class="user-name">{{user.name}}</td>
            <td class="user-display-name">{{user.displayName}}</td>
            <td class="user-email">{{user.email}}</td>
            <td class="user-role">{{user.displayRole}}</td>
            {{#if showActions}}
              <td>
                {{#if canAdd}}
                  <button class="btn btn-default" {{action 'editItem' user bubbles=false }}>{{t 'labels.edit'}}</button>
                {{/if}}
                {{#if canDelete}}
                  <button class="btn btn-default warning" {{action 'deleteItem' user bubbles=false }}><span class="octicon octicon-x"></span>{{t 'labels.delete'}}</button>
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/unless}}
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <em>{{t 'messages.noUsersFound'}}</em>
      {{#if canAdd}}
        <em>{{t 'messages.createNewUser'}}</em> <button class="btn btn-primary" {{action 'newItem'}}>{{t 'buttons.newUser'}}</button>
      {{/if}}
    </div>
  {{/if}}
{{/item-listing}}
