<div class="panel panel-primary">
    <div class="panel-heading">New Medication Request</div>
    <div class="panel-body">
        {{#form-for controller role="form" wrapper="twitter-bootstrap"}}
            {{input patientId}}            
            {{input prescription as="smart-prescription"}}

            <div class="form-group">
            <label>Medication:</label>
            {{#each availableMeds}}                
                <div class="radio">
                    <label>
                        <input type="radio" name="medicationId" value="{{id}}">
                        {{name}}
                    </label>
                </div>            
            {{/each}}                
            </div>    

            {{submit "Add" class="btn btn-primary" value="Add" name="Add" as="button"}}
        {{/form-for}}
    </div>
</div>