<div class="panel panel-primary">
    <div class="panel-heading">New Medication Request</div>
    <div class="panel-body">
        {{#form-for controller role="form" wrapper="twitter-bootstrap"}}
            {{input patientId}}            
            {{input prescription as="smart-prescription"}}
            <div class="row">
                {{input quantity class="col-xs-2"}}
            </div>            
            <div class="form-group">
                <label>Medication:</label>
                {{ext-radio name=medicationId content=availableMeds value=medicationId}}
            </div>
            {{submit "Add" class="btn btn-primary" value="Add" name="Add" as="button"}}
        {{/form-for}}
    </div>
</div>