<table class="table">
  <tr class="table-header">
    <th>{{t 'models.lab.labels.requestedDate'}}</th>
    <th>{{t 'models.lab.labels.labType'}}</th>
    <th>{{t 'models.lab.labels.status'}}</th>
    <th>{{t 'models.lab.labels.labDate'}}</th>
    <th>{{t 'models.lab.labels.result'}}</th>
    <th>{{t 'models.lab.labels.notes'}}</th>
    <th>{{t 'models.lab.labels.requestedBy'}}</th>
    <th>{{t 'labels.actions'}}</th>
  </tr>
  {{#each patientLabs as |lab|}}
    <tr {{action "editLab" lab}}>
      <td>{{date-format lab.requestedDate}}</td>
      <td>{{lab.labType.name}}</td>
      <td>{{lab.status}}</td>
      <td>{{date-format lab.labDate}}</td>
      <td>{{lab.result}}</td>
      <td>{{lab.notes}}</td>
      <td>{{lab.requestedBy}}</td>
      <td>
        {{#if lab.canEdit}}
          {{#if canAddLab}}
            <button type="button" class="btn btn-default neutral" {{action "editLab" lab}}>{{t 'labels.edit'}}</button>
          {{/if}}
          {{#if canDeleteLab}}
            <button type="button" class="btn btn-default warning" {{action "showDeleteLab" lab  bubbles=false }}><span class="octicon octicon-x"></span> {{t 'labels.delete'}}</button>
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
