{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>XRef</th>
            <th>Actions</th>
        </tr>
        {{#each itemController='inventory/item-controller'}}
            {{#unless isNew}}
                <tr>
                    <td>{{friendlyId}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{type}}</td>
                    <td>{{quantity}}</td>
                    <td>{{price}}</td>
                    <td>{{crossReference}}</td>
                    <td>
                        {{#if showAdd}}
                            <button class="btn btn-default" {{action 'showAddBatch' this}}>Add</button>
                        {{/if}}                        
                        <button class="btn btn-default" {{action 'editItem' this}}>Edit</button>
                        <button class="btn btn-default" {{action 'deleteItem' this}}>Delete</button>                        
                        {{#link-to 'inventory.barcode' this class="btn btn-default"}}Barcode{{/link-to}}
                    </td>
                </tr>
            {{/unless}}
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.  Create a new record?</em> <button class="btn btn-primary" {{action 'newItem'}}>New Item</button>
    </div>
{{/if}}