{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
    <tr class="table-header">
      {{#sortable-column sortBy='friendlyId' sortDesc=sortDesc sortKey=sortKey }}ID{{/sortable-column}}
      {{#sortable-column sortBy='name' sortDesc=sortDesc sortKey=sortKey }}Name{{/sortable-column}}
      {{#sortable-column sortBy='inventoryType' sortDesc=sortDesc sortKey=sortKey }}Type{{/sortable-column}}
      {{#sortable-column sortBy='quantity' sortDesc=sortDesc sortKey=sortKey }}Quantity{{/sortable-column}}
      <th>Location</th>
      {{#sortable-column sortBy='crossReference' sortDesc=sortDesc sortKey=sortKey }}XRef{{/sortable-column}}
      <th>Actions</th>
    </tr>
    {{#each model as |inventory|}}
      {{#unless inventory.isNew}}
        <tr {{action 'editItem' inventory}}>
          <td>{{inventory.friendlyId}}</td>
          <td>{{inventory.name}}</td>
          <td>{{inventory.inventoryType}}</td>
          <td>{{inventory.quantity}} {{inventory.distributionUnit}}</td>
          <td>{{inventory.displayLocations}}</td>
          <td>{{inventory.crossReference}}</td>
          <td>
            {{#if canAddPurchase}}
              <button class="btn btn-default" {{action 'showAddPurchase' inventory bubbles=false }}>Add</button>
            {{/if}}
            {{#if canAddItem}}
              <button class="btn btn-default neutral" {{action 'editItem' inventory bubbles=false }}>Edit</button>
            {{/if}}
            {{#if canDeleteItem}}
              <button class="btn btn-default warning" {{action 'deleteItem' inventory bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
            {{/if}}
            {{#link-to 'inventory.barcode' inventory class="btn btn-default neutral" bubbles=false }}Barcode{{/link-to}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>No items found. {{#if canAddItem}} <a href="#" {{action 'newItem'}}>Create a new record?</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
