{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            {{#sortable-column sortBy='friendlyId' sortDesc=sortDesc sortKey=sortKey }}ID{{/sortable-column}}
            {{#sortable-column sortBy='name' sortDesc=sortDesc sortKey=sortKey }}Name{{/sortable-column}}
            {{#sortable-column sortBy='description' sortDesc=sortDesc sortKey=sortKey }}Description{{/sortable-column}}
            {{#sortable-column sortBy='type' sortDesc=sortDesc sortKey=sortKey }}Type{{/sortable-column}}
            {{#sortable-column sortBy='quantity' sortDesc=sortDesc sortKey=sortKey }}Quantity{{/sortable-column}}
            {{#sortable-column sortBy='price' sortDesc=sortDesc sortKey=sortKey }}Sale Price{{/sortable-column}}
            {{#sortable-column sortBy='crossReference' sortDesc=sortDesc sortKey=sortKey }}XRef{{/sortable-column}}
            <th>Actions</th>
        </tr>
        {{#each itemController='inventory/item-controller'}}
            {{#unless isNew}}
                <tr {{action 'editItem' this}}>
                    <td>{{friendlyId}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{type}}</td>
                    <td>{{quantity}}</td>
                    <td>{{price}}</td>
                    <td>{{crossReference}}</td>
                    <td>
                        {{#if showAdd}}
                            <button class="btn btn-default" {{action 'showAddPurchase' this bubbles=false }}>Add</button>
                        {{/if}}
                        {{#if canEdit}}
                            <button class="btn btn-default neutral" {{action 'editItem' this bubbles=false }}>Edit</button>
                        {{/if}}
                        {{#if canDelete}}
                            <button class="btn btn-default warning" {{action 'deleteItem' this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                        {{/if}}
                        {{#link-to 'inventory.barcode' this class="btn btn-default neutral" bubbles=false }}Barcode{{/link-to}}
                    </td>
                </tr>
            {{/unless}}
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.</em>  
        {{#if canAddItem}}
            <em>Create a new record?</em>
            <button class="btn btn-primary" {{action 'newItem'}}>New Item</button>
        {{/if}}
    </div>
{{/if}}