{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Number</th>
            <th>Patient</th>
            <th>Total</th>
            <th>Status</th>
            <th>Bill Date</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr {{action 'editItem' this}}>
                    <td>{{displayInvoiceNumber}}</td>
                    <td>{{patient.displayName}} - {{patient.displayPatientId}} <br>{{visit.primaryDiagnosis}}</td>
                    <td>{{total}}</td>
                    <td>{{status}}</td>
                    <td>{{date-format billDate}}</td>
                    {{#if parentController.showActions}}
                        <td>                        
                            {{#if parentController.canAdd}}
                                <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                            {{/if}}
                            {{#if parentController.canDelete}}
                                <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                            {{/if}}                                                   
                        </td>
                    
                    {{/if}}
                </tr>            
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No invoices found.  Create an invoice?</em> <button class="btn btn-primary" {{action 'newItem'}}>New Invoice</button>
    </div>
{{/if}}