{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.number'}}</th>
        <th>{{t 'labels.billDate'}}</th>
        <th>{{t 'labels.status'}}</th>
        <th>{{t 'labels.patient'}}</th>
        <th>{{t 'labels.total'}}</th>
        <th>{{t 'labels.balanceDue'}}</th>
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |invoice|}}
        <tr {{action 'editItem' invoice}} class="clickable">
          <td class="invoice-number">{{invoice.displayInvoiceNumber}}</td>
          <td>{{date-format invoice.billDate}}</td>
          <td>{{invoice.status}}</td>
          <td>{{invoice.patient.displayName}} - {{invoice.patient.displayPatientId}} <br>{{invoice.visit.primaryDiagnosis}}</td>
          <td>{{invoice.total}}</td>
          <td>{{invoice.remainingBalance}}</td>
          <td>
            {{#unless invoice.paidFlag}}
              {{#if showActions}}
                {{#if canAddPayment}}
                  <button class="btn btn-default neutral" {{action 'showAddPayment' invoice bubbles=false }}>
                    <span class="octicon octicon-plus"></span> {{t 'admin.roles.capability.addPayment'}}
                  </button>
                {{/if}}
                {{#if canAdd}}
                  <button class="btn btn-default neutral" {{action 'editItem' invoice bubbles=false }}>{{t 'buttons.edit'}}</button>
                {{/if}}
                {{#if canDelete}}
                  <button class="btn btn-default warning" {{action 'deleteItem' invoice bubbles=false }}><span class="octicon octicon-x"></span> {{t 'buttons.delete'}}</button>
                {{/if}}
              {{/if}}
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'billing.alerts.noInvoiceFound'}} <a href="#" {{action 'newItem'}}>{{t 'billing.buttons.createInvoice'}}</a></p>
    </div>
  {{/if}}
{{/item-listing}}
