{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=(t (if model.isNew 'admin.lookup.edit.template.addTitle' 'admin.lookup.edit.template.editTitle'))
    updateButtonAction=updateButtonAction
    updateButtonText= updateButtonText}}
  {{#em-form model=model submitButton=false}}
    <div class="row">
      <div class="form-input-group col-xs-6">
        <label for="fieldTypeSelect">{{t 'labels.type'}}</label>
        <select onchange={{action 'selectType' value="target.value"}} class="form-control custom-field-select" id="fieldTypeSelect">
          <option disabled selected={{is-not model.type}}></option>
          {{#each fieldTypes as |fieldType|}}
            <option value="{{fieldType.id}}" selected={{eq model.type fieldType.id}}>
              {{fieldType.value}}
            </option>
          {{/each}}
        </select>
      </div>
      {{em-input property="label" class="col-xs-6 required custom-field-label" label=(t 'admin.customForms.labels.label')}}
    </div>
    <div class="row">
      {{em-input property="colSpan" class="col-xs-5 custom-field-colspan" label=(t 'admin.customForms.labels.colSpan')}}
    </div>
    {{#if showValues}}
      <h4>
        {{#if (eq model.type 'radio')}}
          {{t 'admin.customForms.titles.radioValues'}}
        {{/if}}
        {{#if (eq model.type 'select')}}
          {{t 'admin.customForms.titles.dropDownValues'}}
        {{/if}}
        {{#if (eq model.type 'checkbox')}}
          {{t 'admin.customForms.titles.checkboxValues'}}
        {{/if}}
        {{#if (eq model.type 'header')}}
          {{t 'admin.customForms.titles.headerValues'}}
        {{/if}}
        <button class="btn btn-primary align-right" {{action 'addValue'}}>
          {{t "buttons.addValue"}}
        </button>
      </h4>
      <table class="table">
        <tr class="table-header">
          {{#if (eq model.type 'checkbox')}}
            <th>{{t 'admin.customForms.labels.label'}}</th>
          {{else}}
            <th>{{t 'labels.value'}}</th>
          {{/if}}
          <th>{{t 'labels.action'}}</th>
        </tr>
        {{#each model.values as |value|}}
          <tr>
            <td>
              {{input value=value.label class="form-control custom-field-value"}}
            </td>
            <td>
              <button class="btn btn-default warning delete-field-value" {{action "deleteValue" value bubbles=false }}>
                <span class="octicon octicon-x"></span>{{t "buttons.delete"}}
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
    {{#if (eq model.type 'radio')}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=model.includeOtherOption}}
          {{t 'admin.customForms.labels.includeOtherOption'}}
        </label>
      </div>
      {{#if model.includeOtherOption}}
        <div class="form-group">
          <label>{{t 'admin.customForms.labels.otherOptionLabel'}}</label>
          {{input class="form-control" value=model.otherOptionLabel}}
        </div>
      {{/if}}
    {{/if}}
  {{/em-form}}
{{/modal-dialog}}
