{{#print-this}}
  <div class="panel panel-primary print-invoice">
    <div class="panel-body">
      <h5 class="text-center">
        {{t "print.invoice.titles.patients"}}
      </h5>
      <h5 class="text-center">
        {{t "print.invoice.titles.billingStatement"}}
      </h5>
      <table>
        <tr>
          <td colspan="2" class="col-xs-8">
            {{t "print.invoice.labels.patientName"}} {{model.patient.displayName}}
          </td>
          <td class="col-xs-4">
            {{t "print.invoice.labels.patientId"}} {{model.patient.displayPatientId}}
          </td>
        </tr>
        <tr>
          <td class="col-xs-5">
            {{t "print.invoice.labels.patientAge"}} {{model.patient.age}}
          </td>
          <td class="col-xs-3">
            {{t "print.invoice.labels.dateAdmitted"}}{{date-format model.visit.startDate}}
          </td>
          <td class="col-xs-4"></td>
        </tr>
        <tr>
          <td class="col-xs-5"></td>
          <td class="col-xs-3">{{t "print.invoice.labels.dateDischarged"}}{{date-format model.visit.endDate}}</td>
          <td class="col-xs-4"></td>
        </tr>
        <tr>
          <td colspan="3" class="col-xs-12">
            {{t "print.invoice.labels.patientAddress"}} {{model.patient.displayAddress}}
          </td>
        </tr>
      </table>
      <table class="table">
        <tr class="table-header">
          <th>{{t "labels.description"}}</th>
          <th class="text-right">{{t "billing.labels.actualCharges"}}</th>
          <th class="text-right">{{t "labels.discount"}}</th>
          <th class="text-right">{{t "billing.labels.insurance"}}</th>
          <th class="text-right">{{t "billing.labels.hmoCom"}}</th>
          <th class="text-right">{{t "labels.excess"}}</th>
        </tr>
        {{#each model.lineItemsByCategory as |categoryGroup|}}
          <tr>
            <td colspan="6">
              <strong>{{categoryGroup.category}}</strong>
            </td>
          </tr>
          {{#each categoryGroup.items as |item|}}
            <tr>
              <td>
                {{item.name}}
              </td>
              <td class="text-right">
                {{number-format item.total}}
              </td>
              <td class="text-right">
                {{number-format item.discount}}
              </td>
              <td class="text-right">
                {{number-format item.nationalInsurance}}
              </td>
              <td class="text-right">
                {{number-format item.privateInsurance}}
              </td>
              <td class="text-right">{{number-format item.amountOwed}}</td>
            </tr>
          {{/each}}
          <tr>
            <td><strong>{{t 'labels.total'}} {{categoryGroup.category}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.total}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.discount}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.nationalInsurance}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.privateInsurance}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.amountOwed}}</strong></td>
          </tr>
        {{/each}}
        <tr>
          <td><strong>{{t 'labels.total'}}</strong></td>
          <td class="text-right"><strong>{{number-format model.total}}</strong></td>
          <td class="text-right"><strong>{{number-format model.discount}}</strong></td>
          <td class="text-right"><strong>{{number-format model.nationalInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format model.privateInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format model.amountOwed}}</strong></td>
        </tr>
        <tr>
          <td><strong>{{t 'billing.labels.paymentsDeposits'}}</strong></td>
          <td colspan="4"></td>
          <td class="text-right">-{{number-format model.paidTotal}}</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>{{t 'labels.grandTotal'}}</strong></td>
          <td colspan="4"></td>
          <td class="text-right"><strong>{{number-format model.remainingBalance}}</strong></td>
          <td></td>
        </tr>
      </table>
      <table>
        {{#if model.visit.dischargeInfo}}
          <tr>
            <td class="col-xs-12">
              {{t 'print.invoice.labels.dischargeNotes'}} {{model.visit.dischargeInfo}}
            </td>
          </tr>
        {{/if}}
        {{#if model.remarks}}
          <tr>
            <td class="col-xs-12">
              {{t 'print.invoice.labels.remarks'}} {{model.remarks}}
            </td>
          </tr>
        {{/if}}
        <tr>
          <td class="col-xs-7"></td>
          <td class="col-xs-5">{{t 'print.invoice.messages.whereConducted'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8">{{t 'print.invoice.labels.billedBy'}} {{model.modifiedBy}}</td>
          <td class="col-xs-4">{{t 'print.invoice.labels.spacer'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8">{{t 'print.invoice.labels.billedDate'}} {{date-format model.billDate}}</td>
          <td class="text-center col-xs-4">{{t 'print.invoice.titles.patientMember'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8"></td>
          <td class="col-xs-4">{{t 'print.invoice.labels.spacer'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8"></td>
          <td class="text-center col-xs-4">{{t 'print.invoice.titles.relContact'}}</td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      {{#link-to "invoices.edit" model class="btn btn-default warning" }}{{t 'buttons.returnButton'}}{{/link-to}}
    </div>
  </div>
{{/print-this}}
