{{#print-this}}
  <div class="panel panel-primary print-invoice">
    <div class="panel-body">
      {{#if model.template.isError}}
        Please define a template in {{#link-to 'admin.invoice-template'}}Adminstrator->Invoice Templates{{/link-to}}
      {{else}}
        {{dynamic-render model.template.value.invoiceHeader model.invoice}}
      {{/if}}
      <table class="table">
        <tr class="table-header">
          <th>{{t "labels.description"}}</th>
          <th class="text-right">{{t "billing.labels.actualCharges"}}</th>
          <th class="text-right">{{t "labels.discount"}}</th>
          <th class="text-right">{{t "billing.labels.insurance"}}</th>
          <th class="text-right">{{t "billing.labels.hmoCom"}}</th>
          <th class="text-right">{{t "labels.excess"}}</th>
        </tr>
        {{#each model.invoice.lineItemsByCategory as |categoryGroup|}}
          <tr>
            <td colspan="6">
              <strong>{{categoryGroup.category}}</strong>
            </td>
          </tr>
          {{#each categoryGroup.items as |item|}}
            <tr>
              <td>
                {{item.name}}
              </td>
              <td class="text-right">
                {{number-format item.total}}
              </td>
              <td class="text-right">
                {{number-format item.discount}}
              </td>
              <td class="text-right">
                {{number-format item.nationalInsurance}}
              </td>
              <td class="text-right">
                {{number-format item.privateInsurance}}
              </td>
              <td class="text-right">{{number-format item.amountOwed}}</td>
            </tr>
          {{/each}}
          <tr>
            <td><strong>{{t 'labels.total'}} {{categoryGroup.category}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.total}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.discount}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.nationalInsurance}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.privateInsurance}}</strong></td>
            <td class="text-right"><strong>{{number-format categoryGroup.amountOwed}}</strong></td>
          </tr>
        {{/each}}
        <tr>
          <td><strong>{{t 'labels.total'}}</strong></td>
          <td class="text-right"><strong>{{number-format model.invoice.total}}</strong></td>
          <td class="text-right"><strong>{{number-format model.invoice.discount}}</strong></td>
          <td class="text-right"><strong>{{number-format model.invoice.nationalInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format model.invoice.privateInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format model.invoice.amountOwed}}</strong></td>
        </tr>
        <tr>
          <td><strong>{{t 'billing.labels.paymentsDeposits'}}</strong></td>
          <td colspan="4"></td>
          <td class="text-right">-{{number-format model.invoice.paidTotal}}</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>{{t 'labels.grandTotal'}}</strong></td>
          <td colspan="4"></td>
          <td class="text-right"><strong>{{number-format model.invoice.remainingBalance}}</strong></td>
          <td></td>
        </tr>
      </table>
      <table>
        {{#if model.invoice.visit.dischargeInfo}}
          <tr>
            <td class="col-xs-12">
              {{t 'print.invoice.labels.dischargeNotes'}} {{model.invoice.visit.dischargeInfo}}
            </td>
          </tr>
        {{/if}}
        {{#if model.invoice.remarks}}
          <tr>
            <td class="col-xs-12">
              {{t 'print.invoice.labels.remarks'}} {{model.invoice.remarks}}
            </td>
          </tr>
        {{/if}}
        <tr>
          <td class="col-xs-7"></td>
          <td class="col-xs-5">{{t 'print.invoice.messages.whereConducted'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8">{{t 'print.invoice.labels.billedBy'}} {{model.invoice.modifiedBy}}</td>
          <td class="col-xs-4">{{t 'print.invoice.labels.spacer'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8">{{t 'print.invoice.labels.billedDate'}} {{date-format model.invoice.billDate}}</td>
          <td class="text-center col-xs-4">{{t 'print.invoice.titles.patientMember'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8"></td>
          <td class="col-xs-4">{{t 'print.invoice.labels.spacer'}}</td>
        </tr>
        <tr>
          <td class="col-xs-8"></td>
          <td class="text-center col-xs-4">{{t 'print.invoice.titles.relContact'}}</td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      {{#link-to "invoices.edit" model.invoice class="btn btn-default warning" }}{{t 'buttons.returnButton'}}{{/link-to}}
    </div>
  </div>
{{/print-this}}
