{{#em-form model=this submit_button=false }}
    <div class="form-group">
        <label class="control-label">Item</label>
        <p class="form-control-static">{{adjustmentItem.name}}</p>        
    </div>
    <div class="form-group">
        <label class="control-label">Adjustment For</label>
        <p class="form-control-static">{{locationName}}</p>        
    </div>
    <div class="form-group">
        <label class="control-label">Current Quantity</label>
        <p class="form-control-static">{{quantity}}</p>
    </div>
    <div class="row">
        {{em-select class="col-sm-4" label="Adjustment Type"
            property="transactionType" content=adjustmentTypes
            optionValuePath="content.type" optionLabelPath="content.name"
        }}
        {{em-input property="adjustmentQuantity" label="Quantity" class="col-sm-3"}}
    </div>
    {{em-text label="Reason" property="reason" rows=3 }}
    <div class="row">
        {{date-picker property="dateCompleted" label="Adjustment Date" class="col-sm-4"}}
        {{select-or-typeahead property="expenseAccount" label="Expense To" list=expenseAccountList selection=expenseAccount  class="col-sm-8"}}
    </div>
{{/em-form}}