<table class="table">
  <tr class="table-header">
    <th>Actions</th>
    <th>Date</th>
    <th>By</th>
    <th>Note</th>    
  </tr>
  {{#each model.clinicalNotes as |note|}}              
  <tr>
    <td>
      {{#if canDeleteMedication}}
        <button type="button" class="btn btn-default warning" {{action "showDeleteNote" note bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
      {{/if}}
    </td>
    <td>{{date-format note.date}}</td>
    <td>{{note.attribution}}{{#if note.onBehalfOf}} on behalf of {{note.onBehalfOf}}{{/if}}</td>
    <td>{{note.content}}</td>
  </tr>
  {{/each}}
</table>