{{#item-listing paginationProps=paginationProps }}
  <table class="table">
    <thead>
      <tr class="table-header">
        {{#sortable-column sortBy='patient.displayPatientId' sortDesc=sortByDesc sortKey=sortByKey }}{{t 'labels.id'}}{{/sortable-column}}
        {{#sortable-column
          sortBy='patient.firstName'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='patient.firstName'
          filteredBy=filteredBy
          filterType='typeahead'
          filterValues=firstNames
        }}
          {{t 'patients.labels.firstName'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='patient.lastName'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='patient.lastName'
          filteredBy=filteredBy
          filterType='typeahead'
          filterValues=lastNames
        }}
          {{t 'patients.labels.lastName'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='patient.sex'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='patient.sex'
          filteredBy=filteredBy
          filterValues=sexList
        }}
          {{t 'patients.labels.sex'}}
        {{/sortable-column}}
        {{#sortable-column sortBy='patient.dateOfBirth' sortDesc=sortByDesc sortKey=sortByKey }}{{t 'labels.age'}}{{/sortable-column}}
        {{#sortable-column
          sortBy='visitType'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='visitType'
          filteredBy=filteredBy
          filterValues=visitTypesValues
        }}{{t 'visits.labels.visitType'}}{{/sortable-column}}
        {{#sortable-column sortBy='status' sortDesc=sortByDesc sortKey=sortByKey }}{{t 'labels.status'}}{{/sortable-column}}
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedVisits as |visit|}}
        <tr {{action 'editItem' visit}} class="clickable">
          <td class="col-xs-1">{{visit.patient.displayPatientId}}</td>
          <td class="col-xs-1">{{visit.patient.firstName}}</td>
          <td class="col-xs-1">{{visit.patient.lastName}}</td>
          <td class="col-xs-1">{{visit.patient.sex}}</td>
          <td class="col-xs-1">{{visit.patient.shortAge}}</td>
          <td class="col-xs-1">{{visit.visitType}}</td>
          <td class="col-xs-1">{{visit.status}}</td>
          {{#if showActions}}
            <td>
              {{#if canAdd}}
                <button class="btn btn-default neutral" {{action 'editVisit' visit  bubbles=false }}>{{t 'labels.edit'}}</button>
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/item-listing}}
