{{#em-form model=this submit_button=false}}
    {{inventory-typeahead property="inventoryItemTypeAhead" label="Name" content=inventoryList selection=inventoryItem}}
    <div class="row">
        {{em-input property="quantity" label="Quantity" class="col-sm-3"}}
    </div>
    {{date-picker property="dateFulfilled" label="Date Fulfilled"}}
    {{em-select
            label="Fulfillment Type"
            property="fulfillmentType"
            content=fulfillmentTypeList
            optionValuePath="content"
            optionLabelPath="content"}}
    {{type-ahead property="deliveryLocation" label="Delivery Location" content=deliveryLocationList.value selection=deliveryLocation}}
    {{type-ahead property="expenseAccount" label="Bill To" content=expenseAccountList.value selection=expenseAccount}}
{{/em-form}}