{{#em-form model=this submit_button=false }}
    {{inventory-typeahead property="inventoryItemTypeAhead" label="Inventory Item" content=inventoryList selection=inventoryItem }}
    <div class="row">
        {{em-input property="quantity" label="Quantity" class="col-sm-3"}}
    </div>
    <div class="row">
        {{date-picker property="dateCompleted" label="Date Completed" class="col-sm-4"}}
    </div>
    {{type-ahead property="deliveryLocation" label="Delivery Location" content=deliveryLocationList.value selection=deliveryLocation }}
    {{type-ahead property="expenseAccount" label="Bill To" content=expenseAccountList.value selection=expenseAccount }}
{{/em-form}}