{{#em-form model=this submit_button=false }}
    <div class="panel panel-success">
            <div>
                <div class="row">        
                    <div class="form-group col-sm-2">
                        <label class="control-label">Incident Id</label>{{id}}
                    </div>                    
                </div>
            </div>
        </div>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active" ><a href="#creation" role="tab" data-toggle="pill">Creation</a></li>
            <li role="presentation"><a href="#feedback" role="tab" data-toggle="pill">Feedback</a></li>    
            <li role="presentation"><a href="#investigate" role="tab" data-toggle="pill">Investigation Findings</a></li>
            <li role="presentation"><a href="#factors" role="tab" data-toggle="pill">Contributing Factors</a></li>
            <li role="presentation"><a href="#risk" role="tab" data-toggle="pill">Risk Assesment</a></li>
            <li role="presentation"><a href="#recommendation" role="tab" data-toggle="pill">Recommendations</a></li>
            <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
        </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="creation">        
            <div class="panel detail-section">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        General Information
                    </h3>
                </div>
                <div class="panel-body detail-section-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group has-success">
                                <label class="control-label">Reported By</label>
                                <div class="form-control not-editable">
                                    {{#if isNew}}
                                        {{setAndGetReportedBy}}
                                    {{else}}
                                        {{reportedBy}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{em-select label="Location of Incident" property="locationOfIncident" 
                                content=incidentLocations 
                                optionValuePath="content" 
                                optionLabelPath="content"
                                class="required"
                             }}
                        </div>
                    </div>
                    <div class="row">
                        {{date-picker property="dateOfIncident" label="Date of Incident" class="col-xs-12 col-sm-6"}}
                        {{em-input property="timeOfIncident" label="Time of Incident" class="col-xs-12 col-sm-6"}}
                    </div>                        
                    {{em-text label="Incident Description" property="incidentDescription" rows=3}}
                </div>
            </div>
            <div class="panel detail-section">
                <div class="panel-heading">
                    <h3 class="panel-title">
                            Incident Type
                    </h3>
                </div>
                <div class="panel-body detail-section-content">
                    <div class="row">
                        {{em-select class="col-xs-12 col-sm-6" label="Category" prompt=" "
                            property="categoryName" content=incidentCategory selected=categoryName
                            optionValuePath="content.name" optionLabelPath="content.name"}}
                        
                        {{em-select class="col-xs-12 col-sm-6" label="Choose an Item" prompt=" "
                            property="categoryItem" content=itemList
                             selected=categoryItem optionValuePath="content" optionLabelPath="content"}}
                    </div>
                </div>
             </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="feedback">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Feedbacks
                            {{#if canAddFeedback}}
                                <button class="btn btn-primary align-right" {{action "showAddFeedback" bubbles=false }}><span class="octicon octicon-plus"></span>New Feedback</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Date</th>
                                <th>Given By</th>
                                <th>Feedback</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each feedbacks}}
                                    <tr>
                                        <td>{{date-format dateRecorded}}</td>
                                        <td>{{givenBy}}</td>
                                        <td>{{description}}</td>
                                        <td>
                                            {{#if parentController.canAddFeedback}}
                                               <button class="btn btn-default neutral" {{action "showEditFeedback" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteFeedback}}
                                               <button class="btn btn-default warning" {{action "showDeleteFeedback" this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="investigate">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Investigation Findings : Narrative Statements from People Involved
                            {{#if canAddInvestigationFinding}}
                                <button class="btn btn-primary align-right" {{action "showAddInvestigationFinding" bubbles=false }}><span class="octicon octicon-plus"></span>New Investigation Finding</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Date Recorded</th>
                                <th>Type of Person Involved</th>
                                <th>Identity Document Type</th>
                                <th>Identity Number</th>
                                <th>Narrative Statement</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each investigationFindings}}
                                    <tr>
                                        <td>{{date-format dateRecorded}}</td>
                                        <td>{{typeOfPerson}}</td>
                                        <td>{{identityDocumentType}}</td>
                                        <td>{{identityNumber}}</td>
                                        <td>{{narrativeStatement}}</td>
                                        <td>
                                            {{#if parentController.canAddInvestigationFinding}}
                                                <button class="btn btn-default neutral" {{action "showEditInvestigationFinding" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteInvestigationFinding}}
                                                <button class="btn btn-default warning" {{action "showDeleteInvestigationFinding" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="factors">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Factors: Factors Contributing to the Incident
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <label>
                            Please tick the main Factors
                        </label>
                        {{em-checkbox label="Patient Factor: E.g. Clinical Condition, Physical factors, Social factors, Psychological/Mental factors" property="patientContributingFactor"}}
                        {{em-checkbox label="Individual / Staff Factor:  E.g. Physical issues, Psychological, Social, Domestic, Personality, Cognitive" property="individualContributingFactor"}}
                        {{em-checkbox label="Task Factor:    E.g. Guidelines/ Procedures/ Protocols/ Task design" property="taskContributingFactor"}}
                        {{em-checkbox label="Communication Factor:   E.g. Verbal, Written, Non-verbal, Handoff" property="communicationContributingFactor"}}
                        {{em-checkbox label="Team Factor:    E.g. Collaboration, Coordination, Leadership, Support" property="teamContributingFactor"}}
                        {{em-checkbox label="Working Condition factor:   E.g. Environment, Staffing, Workload, Working Hours" property="workingConditionContributingFactor"}}
                        {{em-checkbox label="Organizational Factor:  E.g. Organizational structure, Policies, Priorities, Safety culture" property="organizationalContributingFactor"}}
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="risk">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Harm Score
                        </h3>
                    </div>
                    {{#if canAddRisk}}
                        <div class="panel-body detail-section-content">
                            {{ext-radio name=harmScore content=harmScoreList value=harmScore radioLabelPath="content.label" 
                              radioValuePath="content.value"}}
                        </div>
                    {{/if}}
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Risk Assesment
                       </h3>
                    </div>
                    {{#if canAddRisk}}
                        <div class="panel-body detail-section-content">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    PRE-Incident Risk Assesment
                                </h2>
                            </div>
                            <div class="panel-body">
                                <table class="table" >
                                    <tr class="table-header">
                                        <th>Severity</th>
                                        <th>Occurrence</th>
                                        <th>RISK SCORE = Severity x Occurrence</th>
                                    </tr>
                                    <tr>
                                        <td>
                                                {{ext-radio name=preSeverity content=preSeverityTypes 
                                                value=preSeverity radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                         </td>
                                         <td>
                                                {{ext-radio name=preOccurence content=preOccurrenceTypes 
                                                value=preOccurence radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                         </td>
                                         <td> 
                                                {{ext-radio name=preRiskScore content=preRiskScores 
                                                value=preRiskScore radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                       </div>
                       <div class="panel-body detail-section-content">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    POST-Incident Risk Assesment
                                </h2>
                            </div>
                            <div class="panel-body">
                                <table class="table" >
                                    <tr class="table-header">
                                        <th>Severity</th>
                                        <th>Occurrence</th>
                                        <th>RISK SCORE = Severity x Occurrence</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ext-radio name=postSeverity content=severityTypes 
                                                value=postSeverity radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                        <td>
                                            {{ext-radio name=postOccurence content=occurrenceTypes 
                                                value=postOccurence radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                        <td> 
                                            {{ext-radio name=postRiskScore content=riskScores 
                                                value=postRiskScore radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                       </div>
                    {{/if}}
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="recommendation">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Recommendations
                            {{#if canAddRecommendation}}
                                <button class="btn btn-primary align-right" {{action "showAddRecommendation" bubbles=false }}><span class="octicon octicon-plus"></span> New Recommendation</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table" >
                            <tr class="table-header">
                                <th>Activity/Plan</th>
                                <th>Responsibility</th>
                                <th>Start Date</th>
                                <th>Target Date of Completion</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each recommendations}}
                                    <tr>
                                        <td>{{activity}}</td>
                                        <td>{{responsibility}}</td>
                                        <td>{{date-format startDate}}</td>
                                        <td>{{date-format targetDateOfCompletion}}</td>
                                        <td>{{status}}</td>
                                        <td>
                                            {{#if parentController.canAddRecommendation}}
                                                <button class="btn btn-default neutral" {{action "showEditRecommendation" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteRecommendation}}
                                                <button class="btn btn-default warning" {{action "showDeleteRecommendation" this bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="summary">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Summary
                            {{#if canAddAppointment}}
                                <button class="btn btn-primary align-right" {{action "newAppointment" bubbles=false }}><span class="octicon octicon-plus"></span> New Appointment</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Date</th>
                                <th>Examiner</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each appointments itemController='appointments/item'}}
                                    <tr {{action "editAppointment" this}}>
                                        <td>{{appointmentDate}}</td>
                                        <td>{{provider}}</td>
                                        <td>{{location}}</td>
                                        <td>{{appointmentType}}</td>
                                        <td>
                                            {{#if parentController.canAddAppointment}}
                                                <button class="btn btn-default neutral" {{action "editAppointment" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteAppointment}}
                                                <button class="btn btn-default warning" {{action "showDeleteAppointment" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
    </div>
{{/em-form}}