{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{#unless model.isNew}}
        <div class="form-group col-sm-2">
          <label class="control-label">{{t 'incident.labels.incidentId'}}</label>
          <p class="form-control-static">{{model.friendlyId}}</p>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">{{t 'incident.labels.reportedDate'}}</label>
          <p class="form-control-static">{{date-format model.reportedDate format="l h:mm A"}}</p>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">{{t 'incident.labels.reportedBy'}}</label>
          <p class="form-control-static">{{model.reportedByDisplayName}}</p>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">{{t 'incident.labels.lastUpdated'}}</label>
          <p class="form-control-static">{{date-format model.lastModified format="l h:mm A"}}</p>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">{{t 'incident.labels.updatedBy'}}</label>
          <p class="form-control-static">{{model.modifiedByDisplayName}}</p>
        </div>
      {{/unless}}
    </div>
    <div class="row">

      {{em-checkbox label=(t 'incident.labels.sentinelEvent') property="sentinelEvent" class="col-sm-3"}}
      {{date-picker property="dateOfIncident" label=(t 'incident.labels.incidentDate') class="col-sm-3 required" showTime=true}}
      {{select-or-typeahead className="col-sm-3 required" property="department"
        label=(t 'incident.labels.department') list=incidentDepartmentList
        selection=model.location
      }}
      {{em-input property="reportedTo" label=(t 'incident.labels.reportedTo') class="col-sm-3"}}
    </div>
    <div class="row">
      {{em-select
        class="col-sm-4 form-input-group required"
        label=(t 'incident.labels.category')
        prompt=" "
        property="categoryName"
        content=categoryNameList
      }}
      {{em-select
        class="col-sm-4 form-input-group"
        label=(t 'incident.labels.categoryItem')
        prompt=" "
        property="categoryItem"
        content=itemList
        optionLabelPath="item" optionValuePath="item"
      }}
      {{#if canUpdateStatus}}
        {{em-select label=(t 'incident.labels.status') property="status" content=incidentStatuses class="required form-input-group col-sm-3"}}
      {{else}}
        <div class="form-group col-sm-3">
          <label class="control-label">{{t 'incident.labels.status'}}</label>
          <p class="form-control-static">{{model.status}}</p>
        </div>
      {{/if}}
    </div>
    <div class="row">
      {{patient-typeahead
        property="patientTypeAhead"
        label=(t 'incident.labels.patientImpacted')
        content=patientList
        class="patient-name col-sm-9"
      }}
      {{#if model.patient}}
        <div class="form-group col-sm-3">
          <label class="control-label">{{t 'incident.labels.patientId'}}</label>
          <p class="form-control-static">{{model.patient.friendlyId}}</p>
        </div>
      {{/if}}
    </div>
    <div class="row">
      {{em-text label=(t 'incident.labels.description') property="description" class="required col-sm-12" rows=3}}
    </div>

    {{#if canManageIncident}}
      <ul class="nav nav-pills tab-nav" role="tablist">
        <li role="presentation" class="active"><a href="#notes" role="tab" data-toggle="pill">{{t 'incident.titles.notes'}}</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="notes">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <button class="btn btn-primary align-right" {{action "showAddNote" bubbles=false }}>{{t 'incident.buttons.newNote'}}</button>
              </h3>
            </div>
            <div class="panel-body detail-section-content">
              <table class="table">
                <tr class="table-header">
                  <th>{{t 'incident.labels.date'}}</th>
                  <th>{{t 'incident.labels.givenBy'}}</th>
                  <th>{{t 'incident.labels.note'}}</th>
                  <th>{{t 'incident.labels.actions'}}</th>
                </tr>
                {{#each model.notes as |note|}}
                  <tr>
                    <td>{{date-format note.dateRecorded}}</td>
                    <td>{{note.givenByDisplayName}}</td>
                    <td>{{note.description}}</td>
                    <td>
                      <button class="btn btn-default neutral" {{action "showEditNote" note}}>{{t 'incident.buttons.edit'}}</button>
                      <button class="btn btn-default warning" {{action "showDeleteNote" note bubbles=false }}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
                    </td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/em-form}}
{{/edit-panel}}
