{{#em-form model=this submit_button=false }}
    <div class="panel panel-success">
            <div class="row">        
                    <div class="col-xs-12 col-md-8">
                        <p class="text-info">Incident Id: {{friendlyId}}</p>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="text-success pull-right">Status: {{statusOfIncident}}</p>
                    </div>     
            </div>
    </div>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active" ><a href="#creation" role="tab" data-toggle="pill">Creation</a></li>
            <li role="presentation"><a href="#reviewers" role="tab" data-toggle="pill">+ Reviewers</a></li>
            <li role="presentation"><a href="#feedback" role="tab" data-toggle="pill">Feedback</a></li>    
            <li role="presentation"><a href="#investigate" role="tab" data-toggle="pill">Investigations</a></li>
            <li role="presentation"><a href="#factors" role="tab" data-toggle="pill">Root Cause Analysis</a></li>
            <li role="presentation"><a href="#harmscore" role="tab" data-toggle="pill">Harm Score</a></li>
            <li role="presentation"><a href="#prerisk" role="tab" data-toggle="pill">Pre-Incident Asst</a></li>
            <li role="presentation"><a href="#recommendation" role="tab" data-toggle="pill">Recommendations</a></li>
            <li role="presentation"><a href="#postrisk" role="tab" data-toggle="pill">Post-Incident Asst</a></li>
            <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
        </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="creation">        
            <div class="panel detail-section">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        General Information (All Fields are mandatory)
                    </h3>
                </div>
                <div class="panel-body detail-section-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group has-success">
                                <label class="control-label">Reported By</label>
                                <div class="form-control not-editable">
                                    {{#if isNew}}
                                        {{setAndGetReportedBy}}
                                    {{else}}
                                        {{reportedBy}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                          {{em-select label="Location of Incident" property="locationOfIncident" 
                                prompt=" "
                                content=incidentLocations 
                                optionValuePath="content" 
                                optionLabelPath="content"
                            }}
                        </div>
                    </div>
                    <div class="row">
                        {{date-picker property="dateOfIncident" label="Date of Incident" class="col-xs-12 col-sm-6" format="l h:mm A" showTime=true}}
                        {{em-input property="reportedTo" label="Incident Reported To (Full Name)" class="col-xs-12 col-sm-6"}}
                    </div>
                    <div class="row">
                        {{em-input property="witnessList" label="Witness (Full Name)" class="col-xs-12 col-sm-12"}}
                    </div>                        
                    {{em-text label="Incident Description" property="incidentDescription" rows=3}}
                </div>
            </div>
            <div class="panel detail-section">
                <div class="panel-heading">
                    <h3 class="panel-title">
                            Incident Type
                    </h3>
                </div>
                <div class="panel-body detail-section-content">
                    <div class="row">
                        {{em-select class="col-xs-12 col-sm-6" label="Category" prompt=" "
                            property="categoryName" content=incidentCategory selected=categoryName
                            optionValuePath="content.name" optionLabelPath="content.name"}}
                        
                        {{em-select class="col-xs-12 col-sm-6" label="Choose an Item" prompt=" "
                            property="categoryItem" content=itemList
                             selected=categoryItem optionValuePath="content" optionLabelPath="content"}}
                    </div>
                </div>
             </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="reviewers">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Add Reviewers
                            {{#if canAddReviewer}}
                                <button class="btn btn-primary align-right" {{action "showAddReviewer" bubbles=false }}><span class="octicon octicon-plus"></span>New Reviewer</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Reviewer Name</th>
                                <th>Reviewer Email</th>
                                <th>Added By</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each reviewers}}
                                    <tr>
                                        <td>{{reviewerName}}</td>
                                        <td>{{reviewerEmail}}</td>
                                        <td>{{addedBy}}</td>
                                        <td>{{date-format dateRecorded}}</td>
                                        <td>
                                            {{#if parentController.canAddReviewer}}
                                               <button class="btn btn-default neutral" {{action "showEditReviewer" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteReviewer}}
                                               <button class="btn btn-default warning" {{action "showDeleteReviewer" this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="feedback">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Feedback List
                            {{#if canAddFeedback}}
                                <button class="btn btn-primary align-right" {{action "showAddFeedback" bubbles=false }}><span class="octicon octicon-plus"></span>New Feedback</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Date</th>
                                <th>Given By</th>
                                <th>Feedback</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each feedbacks}}
                                    <tr>
                                        <td>{{date-format dateRecorded}}</td>
                                        <td>{{givenBy}}</td>
                                        <td>{{description}}</td>
                                        <td>
                                            {{#if parentController.canEditFeedback}}
                                               <button class="btn btn-default neutral" {{action "showEditFeedback" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteFeedback}}
                                               <button class="btn btn-default warning" {{action "showDeleteFeedback" this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="investigate">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Investigation Findings : Narrative Statements from People Involved
                            {{#if canAddInvestigationFinding}}
                                <button class="btn btn-primary align-right" {{action "showAddInvestigationFinding" bubbles=false }}><span class="octicon octicon-plus"></span>New Investigation Finding</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table">
                            <tr class="table-header">
                                <th>Date Recorded</th>
                                <th>Type of Person Involved</th>
                                <th>Identity Document Type</th>
                                <th>Identity Number</th>
                                <th>Narrative Statement</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each investigationFindings}}
                                    <tr>
                                        <td>{{date-format dateRecorded}}</td>
                                        <td>{{typeOfPerson}}</td>
                                        <td>{{identityDocumentType}}</td>
                                        <td>{{identityNumber}}</td>
                                        <td>{{narrativeStatement}}</td>
                                        <td>
                                            {{#if parentController.canAddInvestigationFinding}}
                                                <button class="btn btn-default neutral" {{action "showEditInvestigationFinding" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteInvestigationFinding}}
                                                <button class="btn btn-default warning" {{action "showDeleteInvestigationFinding" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="factors">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Root Cause Analysis (RCA)
                        </h3>
                    </div>
                    {{#if canAddContributingFactor}}
                    <div class="panel-body detail-section-content">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                Contributory Factors Classification Framework
                            </h2>
                        </div>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Patient Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                {{#each patientFactors}}
                                    <tr>
                                        <td>
                                            {{type}}
                                        </td>
                                        <td>
                                            <table class="table">
                                                <TBODY>
                                                    {{#each components}}
                                                        <tr>
                                                            {{em-checkbox label=name property=id}}
                                                         </tr>
                                                    {{/each}}
                                                </TBODY> 
                                            </table>
                                        </td>
                                    </tr>
                                {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                                <THEAD>
                                    <tr class="table-header">
                                        <th>Staff Factors</th>
                                        <th>Components</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    {{#each staffFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY>  
                                                        {{#each components}}
                                                            <tr>
                                                               {{em-checkbox label=name property=id}}
                                                             </tr>
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                   {{/each}}
                                </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Task Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each taskFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY>
                                                        {{#each components}}
                                                            <tr>
                                                                {{em-checkbox label=name property=id}}
                                                            </tr>                        
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Communication Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each communicationFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY> 
                                                        {{#each components}}
                                                            <tr>
                                                                {{em-checkbox label=name property=id}}
                                                            </tr>
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Equipment Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each equipmentFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY>
                                                        {{#each components}}
                                                            <tr>
                                                                {{em-checkbox label=name property=id}}
                                                            </tr>
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                   {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Work Environment Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each workEnvFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY> 
                                                        {{#each components}}
                                                            <tr>
                                                               {{em-checkbox label=name property=id}}
                                                            </tr>
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Organisational Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each organisationalFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY> 
                                                        {{#each components}}
                                                            <tr>
                                                                {{em-checkbox label=name property=id}}
                                                            </tr>
                                                        {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Education and Training Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                    {{#each educationAndTrainingFactors}}
                                        <tr>
                                            <td>
                                                {{type}}
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <TBODY>
                                                        {{#each components}}
                                                            <tr>
                                                                {{em-checkbox label=name property=id}}
                                                            </tr>
                                                       {{/each}}
                                                    </TBODY>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/each}}
                            </TBODY>
                        </table>
                        <table class="table">
                            <THEAD>
                                <tr class="table-header">
                                    <th>Team Factors Factors</th>
                                    <th>Components</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                {{#each teamFactors}}
                                    <tr>
                                        <td>
                                            {{type}}
                                        </td>
                                        <td>
                                            <table class="table">
                                                <TBODY> 
                                                    {{#each components}}
                                                        <tr>
                                                            {{em-checkbox label=name property=id}}
                                                        </tr>
                                                    {{/each}}
                                                </TBODY>
                                            </table>
                                        </td>
                                    </tr>
                                {{/each}}
                            </TBODY>
                        </table>
                        {{em-text label="Root Cause Summary" property="rcaSummary" rows=3}}
                    </div>
                    {{/if}}
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="harmscore">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Harm Score
                        </h3>
                    </div>
                    {{#if canAddRisk}}
                        <div class="panel-body detail-section-content">
                            {{ext-radio name=harmScore content=harmScoreList value=harmScore radioLabelPath="content.label" 
                              radioValuePath="content.value"}}
                        </div>
                    {{/if}}
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="prerisk">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            PRE-Incident Risk Assesment
                       </h3>
                    </div>
                    {{#if canAddRisk}}
                        <div class="panel-body detail-section-content">
                            <div class="panel-body">
                                <table class="table" >
                                    <tr class="table-header">
                                        <th>Severity</th>
                                        <th>Occurrence</th>
                                        <th>RISK SCORE = Severity x Occurrence</th>
                                    </tr>
                                    <tr>
                                        <td>
                                                {{ext-radio name=preSeverity content=preSeverityTypes 
                                                value=preSeverity radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                         </td>
                                         <td>
                                                {{ext-radio name=preOccurence content=preOccurrenceTypes 
                                                value=preOccurence radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                         </td>
                                         <td> 
                                                {{ext-radio name=preRiskScore content=preRiskScores 
                                                value=preRiskScore radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                       </div>
                    {{/if}}
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="recommendation">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Recommendations
                            {{#if canAddRecommendation}}
                                <button class="btn btn-primary align-right" {{action "showAddRecommendation" bubbles=false }}><span class="octicon octicon-plus"></span> New Recommendation</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        <table class="table" >
                            <tr class="table-header">
                                <th>Activity/Plan</th>
                                <th>Responsibility</th>
                                <th>Start Date</th>
                                <th>Target Date of Completion</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            {{#with this as parentController}}
                                {{#each recommendations}}
                                    <tr>
                                        <td>{{activity}}</td>
                                        <td>{{responsibility}}</td>
                                        <td>{{date-format startDate}}</td>
                                        <td>{{date-format targetDateOfCompletion}}</td>
                                        <td>{{status}}</td>
                                        <td>
                                            {{#if parentController.canAddRecommendation}}
                                                <button class="btn btn-default neutral" {{action "showEditRecommendation" this}}>Edit</button>
                                            {{/if}}
                                            {{#if parentController.canDeleteRecommendation}}
                                                <button class="btn btn-default warning" {{action "showDeleteRecommendation" this bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/with}}
                        </table>
                        {{#if canAddRecommendation}}
                            {{em-text label="Lessons Learned" property="lessonsLearned" rows=3}}
                        {{/if}}
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="postrisk">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            POST-Incident Risk Assesment
                       </h3>
                    </div>
                    {{#if canAddRisk}}
                       <div class="panel-body detail-section-content">
                            <div class="panel-body">
                                <table class="table" >
                                    <tr class="table-header">
                                        <th>Severity</th>
                                        <th>Occurrence</th>
                                        <th>RISK SCORE = Severity x Occurrence</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ext-radio name=postSeverity content=severityTypes 
                                                value=postSeverity radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                        <td>
                                            {{ext-radio name=postOccurence content=occurrenceTypes 
                                                value=postOccurence radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                        <td> 
                                            {{ext-radio name=postRiskScore content=riskScores 
                                                value=postRiskScore radioLabelPath="content.label"
                                                radioValuePath="content.value"}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                       </div>
                    {{/if}}
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="summary">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Summary
                            {{#if canAddSummary}}
                                <button class="btn btn-primary align-right" {{action "generateSummary" bubbles=false }}><span class="octicon octicon-plus"></span>Generate Summary</button>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body detail-section-content">
                        {{#if canShowSummary}}
                            <table class="table">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th>Decription</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    <tr>
                                        <td>{{incidentDescription}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                            <table class="table table-hover">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th colspan="3">Details</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    <tr>
                                        <td>Incident Date:</td>
                                        <td>{{date-format dateOfIncident}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location of Incident:</td>
                                        <td>{{locationOfIncident}}</td>
                                    </tr>   
                                    <tr>
                                        <td>Incident Type:</td>
                                        <td>{{categoryName}}</td>
                                        <td>{{categoryItem}}</td>
                                    </tr>
                                    <tr>
                                        <td>Harm Score:</td>
                                        <td>{{harmScore}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                            <table class="table">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th colspan="2">Contributory Factors</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    {{#if havePatientContributingFactors}}
                                        <tr>
                                            <td>Patient Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each patientContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}   
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                     {{#if haveStaffContributingFactors}}
                                        <tr>
                                            <td>Staff Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                     <tbody>
                                                        {{#each staffContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveTaskContributingFactors}}
                                        <tr>
                                            <td>Task Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each taskContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveCommunicationContributingFactors}}
                                        <tr>
                                            <td>Communication Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each communicationContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveEquipmentContributingFactors}}
                                        <tr>
                                            <td>Equipment Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each equipmentContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveWorkEnvironmentContributingFactors}}
                                        <tr>
                                            <td>Work Environment Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each wrkEnvironmentContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveOrganizationalContributingFactors}}
                                        <tr>
                                            <td>Organizational Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each organizationalContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveEducationTrainingContributingFactors}}
                                        <tr>
                                            <td>Education and Training Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each eduTrainingContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{#if haveTeamContributingFactors}}
                                        <tr>
                                            <td>Team Factors</td>
                                            <td>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {{#each teamContributingFactors}}
                                                            <tr>
                                                                <td>{{type}}</td>
                                                                <td>{{component}}</td>
                                                                <td>{{userValue}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {{/if}}
                                    <tr>
                                       <td>Root Cause Summary</td>
                                       <td>{{rcaSummary}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                            <table class="table table-hover">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th colspan="2">Pre Incident Risk Assessment</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    <tr>
                                        <td>Severity:</td>
                                        <td>{{preSeverity}}</td>
                                    </tr>
                                    <tr>
                                        <td>Occurance:</td>
                                        <td>{{preOccurence}}</td>
                                    </tr>
                                    <tr>
                                        <td>Risk Score:</td>
                                        <td>{{preRiskScore}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                            <table class="table table-hover">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th colspan="5">Recommendations</th>
                                    </tr>
                                    <tr class="table-header">
                                        <th>Activity/Plan</th>
                                        <th>Responsibility</th>
                                        <th>Start Date</th>
                                        <th>Target Date of Completion</th>
                                        <th>Status</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    {{#each recommendations}}
                                        <tr>
                                            <td>{{activity}}</td>
                                            <td>{{responsibility}}</td>
                                            <td>{{date-format startDate}}</td>
                                            <td>{{date-format targetDateOfCompletion}}</td>
                                            <td>{{status}}</td>
                                        </tr>
                                    {{/each}}
                                    <tr>
                                        <td>Lessons Learned</td>
                                        <td>{{lessonsLearned}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                            <table class="table table-hover">
                                <THEAD>
                                    <tr class="table-header success">
                                        <th colspan="2">Post Incident Risk Assessment</th>
                                    </tr>
                                </THEAD>
                                <TBODY>
                                    <tr>
                                        <td>Severity:</td>
                                        <td>{{postOccurence}}</td>
                                    </tr>
                                    <tr>
                                        <td>Occurance:</td>
                                        <td>{{preOccurence}}</td>
                                    </tr>
                                    <tr>
                                        <td>Risk Score:</td>
                                        <td>{{postRiskScore}}</td>
                                    </tr>
                                </TBODY>
                            </table>
                        {{/if}}
                    </div>
                </div>
        </div>
    </div>
{{/em-form}}