{{#edit-panel editPanelProps=editPanelProps}}
{{#em-form model=model submitButton=false }}
  <div class="panel panel-success">
    <div class="row">
      <div class="col-xs-12 col-md-8"><p class="text-info">{{t 'incident.messages.incident_id' id=model.friendlyId}}</p></div>
      <div class="col-xs-6 col-md-4"><p class="text-success pull-right">{{t 'incident.messages.status' status=model.statusOfIncident}}</p></div>
    </div>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#creation" role="tab" data-toggle="pill">{{t 'incident.tabs.creation'}}</a></li>
    <li role="presentation"><a href="#reviewers" role="tab" data-toggle="pill">{{t 'incident.tabs.reviewers'}}</a></li>
    <li role="presentation"><a href="#feedback" role="tab" data-toggle="pill">{{t 'incident.tabs.feedback'}}</a></li>
    <li role="presentation"><a href="#investigate" role="tab" data-toggle="pill">{{t 'incident.tabs.investigations'}}</a></li>
    <li role="presentation"><a href="#factors" role="tab" data-toggle="pill">{{t 'incident.tabs.root_cause'}}</a></li>
    <li role="presentation"><a href="#harmscore" role="tab" data-toggle="pill">{{t 'incident.tabs.harm_score'}}</a></li>
    <li role="presentation"><a href="#prerisk" role="tab" data-toggle="pill">{{t 'incident.tabs.pre_risk'}}</a></li>
    <li role="presentation"><a href="#recommendation" role="tab" data-toggle="pill">{{t 'incident.tabs.recommendations'}}</a></li>
    <li role="presentation"><a href="#postrisk" role="tab" data-toggle="pill">{{t 'incident.tabs.post_risk'}}</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">{{t 'incident.tabs.summary'}}</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="creation">
      <div class="panel detail-section">
        <div class="panel-heading">
          <h3 class="panel-title">{{t 'incident.titles.general'}}</h3>
        </div>
        <div class="panel-body detail-section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group has-success">
                <label class="control-label">{{t 'incident.labels.reported_by'}}</label>
                <div class="form-control not-editable">
                  {{model.reportedBy}}
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              {{em-select label=(t 'incident.labels.incident_location') property="locationOfIncident" prompt=" " content=incidentLocations class="required"}}
            </div>
          </div>
          <div class="row">
            {{date-picker property="dateOfIncident" label=(t 'incident.labels.incident_date') class="col-xs-12 col-sm-6 required" format="l h:mm A" showTime=true}} {{em-input property="reportedTo" label=(t 'incident.labels.reported_to') class="col-xs-12 col-sm-6
            required"}}
          </div>
          <div class="row">
            {{em-input property="witnessList" label=(t 'incident.labels.witness') class="col-xs-12 col-sm-12"}}
          </div>
          {{em-text label=(t 'incident.labels.incident_desc') property="incidentDescription" class="required" rows=3}}
        </div>
      </div>
      <div class="panel detail-section">
        <div class="panel-heading">
          <h3 class="panel-title">{{t 'incident.titles.incident_type'}}</h3>
        </div>
        <div class="panel-body detail-section-content">
          <div class="row">
            {{em-select class="col-xs-12 col-sm-6 required" label=(t 'incident.labels.category')
              prompt=" " property="categoryName" content=categoryNameList}}
            {{em-select class="col-xs-12 col-sm-6 required" label=(t 'incident.labels.choose')
              prompt=" " property="categoryItem" content=itemList optionLabelPath="item" optionValuePath="item"}}
          </div>
          <div class="row">
            {{em-input property="categoryOther" label=(t 'incident.labels.other') class="col-xs-12 col-sm-6"}}
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviewers">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.add_reviewers'}}
            {{#if canAddReviewer}}
              <button class="btn btn-primary align-right" {{action "showAddReviewer" bubbles=false }}>{{t 'incident.buttons.new_reviewer'}}</button>
            {{/if}}
          </h3>
        </div>
        <div class="panel-body detail-section-content">
          <table class="table">
            <tr class="table-header">
              <th>{{t 'incident.labels.reviewer_name'}}</th>
              <th>{{t 'incident.labels.reviewer_email'}}</th>
              <th>{{t 'incident.labels.added_by'}}</th>
              <th>{{t 'incident.labels.added_on'}}</th>
              <th>{{t 'incident.labels.actions'}}</th>
            </tr>
            {{#each model.reviewers as |reviewer|}}
              <tr>
                <td>{{reviewer.reviewerName}}</td>
                <td>{{reviewer.reviewerEmail}}</td>
                <td>{{reviewer.addedBy}}</td>
                <td>{{date-format reviewer.dateRecorded}}</td>
                <td>
                  {{#if canAddReviewer}}
                    <button class="btn btn-default neutral" {{action "showEditReviewer" reviewer}}>{{t 'incident.buttons.edit'}}</button>
                  {{/if}}
                  {{#if canDeleteReviewer}}
                    <button class="btn btn-default warning" {{action "showDeleteReviewer" reviewer bubbles=false }}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="feedback">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.feedback_list'}}
            {{#if canAddFeedback}}
              <button class="btn btn-primary align-right" {{action "showAddFeedback" bubbles=false }}>{{t 'incident.buttons.new_feedback'}}</button>
            {{/if}}
          </h3>
        </div>
        <div class="panel-body detail-section-content">
          <table class="table">
            <tr class="table-header">
              <th>{{t 'incident.labels.date'}}</th>
              <th>{{t 'incident.labels.given_by'}}</th>
              <th>{{t 'incident.labels.feedback'}}</th>
              <th>{{t 'incident.labels.actions'}}</th>
            </tr>
            {{#each model.feedbacks as |feedback|}}
              <tr>
                <td>{{date-format feedback.dateRecorded}}</td>
                <td>{{feedback.givenBy}}</td>
                <td>{{feedback.description}}</td>
                <td>
                  {{#if canEditFeedback}}
                    <button class="btn btn-default neutral" {{action "showEditFeedback" feedback}}>{{t 'incident.buttons.edit'}}</button>
                  {{/if}}
                  {{#if canDeleteFeedback}}
                    <button class="btn btn-default warning" {{action "showDeleteFeedback" feedback bubbles=false }}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="investigate">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.findings'}}
            {{#if canAddInvestigationFinding}}
              <button class="btn btn-primary align-right" {{action "showAddInvestigationFinding" bubbles=false }}>{{t 'incident.buttons.new_finding'}}</button>
            {{/if}}
          </h3>
        </div>
        <div class="panel-body detail-section-content">
          <table class="table">
            <tr class="table-header">
              <th>{{t 'incident.labels.date_recorded'}}</th>
              <th>{{t 'incident.labels.type_of_person'}}</th>
              <th>{{t 'incident.labels.id_type'}}</th>
              <th>{{t 'incident.labels.id_number'}}</th>
              <th>{{t 'incident.labels.narrative_statement'}}</th>
              <th>{{t 'incident.labels.actions'}}</th>
            </tr>
            {{#each model.investigationFindings as |investigationFinding|}}
              <tr>
                <td>{{date-format investigationFinding.dateRecorded}}</td>
                <td>{{investigationFinding.typeOfPerson}}</td>
                <td>{{investigationFinding.identityDocumentType}}</td>
                <td>{{investigationFinding.identityNumber}}</td>
                <td>{{investigationFinding.narrativeStatement}}</td>
                <td>
                  {{#if canAddInvestigationFinding}}
                    <button class="btn btn-default neutral" {{action "showEditInvestigationFinding" investigationFinding}}>{{t 'incident.buttons.edit'}}</button>
                  {{/if}}
                  {{#if canDeleteInvestigationFinding}}
                    <button class="btn btn-default warning" {{action "showDeleteInvestigationFinding" investigationFinding bubbles=false }}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="factors">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.rca'}}
          </h3>
        </div>
        {{#if canAddContributingFactor}}
          <div class="panel-body detail-section-content">
            <div class="panel-heading">
              <h2 class="panel-title">
                {{t 'incident.titles.cfcf'}}
              </h2>
            </div>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.patient_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.patientFactors as |patientFactor|}}
                  <tr>
                    <td>
                      {{patientFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each patientFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.staff_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.staffFactors as |staffFactor|}}
                  <tr>
                    <td>
                      {{staffFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each staffFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.task_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.taskFactors as |taskFactor|}}
                  <tr>
                    <td>
                      {{taskFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each taskFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.communication_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.communicationFactors as |communicationFactor|}}
                  <tr>
                    <td>
                      {{communicationFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each communicationFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.equipment_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.equipmentFactors as |equipmentFactor|}}
                  <tr>
                    <td>
                      {{equipmentFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each equipmentFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.work_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.workEnvFactors as |workEnvFactor|}}
                  <tr>
                    <td>
                      {{workEnvFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each workEnvFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.organizational_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.organisationalFactors as |organisationalFactor|}}
                  <tr>
                    <td>
                      {{organisationalFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each organisationalFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.educational_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.educationAndTrainingFactors as |educationAndTrainingFactor|}}
                  <tr>
                    <td>
                      {{educationAndTrainingFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each educationAndTrainingFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.team_factors'}}</th>
                  <th>{{t 'incident.labels.components'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.teamFactors as |teamFactor|}}
                  <tr>
                    <td>
                      {{teamFactor.factorType}}
                    </td>
                    <td>
                      <table class="table">
                        <TBODY>
                          {{#each teamFactor.components as |component|}}
                            <tr>{{em-checkbox label=component.name property=component.id}}</tr>
                          {{/each}}
                        </TBODY>
                      </table>
                    </td>
                  </tr>
                {{/each}}
              </TBODY>
            </table>
            {{em-text label=(t 'incident.labels.root_cause_summary') property="rcaSummary" rows=3}}
          </div>
        {{/if}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="harmscore">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">{{t 'incident.titles.harm_score'}}</h3>
        </div>
        {{#if canAddRisk}}
          <div class="panel-body detail-section-content">{{ext-radio content=harmScoreList value=model.harmScore showInline=false}}</div>
        {{/if}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="prerisk">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">{{t 'incident.titles.pre_risk'}}</h3>
        </div>
        {{#if canAddRisk}}
          <div class="panel-body detail-section-content">
            <div class="panel-body">
              <table class="table">
                <tr class="table-header">
                  <th>{{t 'incident.labels.severity'}}</th>
                  <th>{{t 'incident.labels.occurrence'}}</th>
                  <th>{{t 'incident.labels.risk_score'}}</th>
                </tr>
                <tr>
                  <td>{{ext-radio name=preSeverity content=preSeverityTypes value=preSeverity radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                  <td>{{ext-radio name=preOccurence content=preOccurrenceTypes value=preOccurence radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                  <td>{{ext-radio name=preRiskScore content=preRiskScores value=preRiskScore radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                </tr>
              </table>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="recommendation">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.recommendations'}}
            {{#if canAddRecommendation}}
              <button class="btn btn-primary align-right" {{action "showAddRecommendation" bubbles=false }}>{{t 'incident.buttons.new_recommendation'}}</button>
            {{/if}}
          </h3>
        </div>
        <div class="panel-body detail-section-content">
          <table class="table">
            <tr class="table-header">
              <th>{{t 'incident.labels.activity'}}</th>
              <th>{{t 'incident.labels.responsibility'}}</th>
              <th>{{t 'incident.labels.start_date'}}</th>
              <th>{{t 'incident.labels.target_date'}}</th>
              <th>{{t 'incident.labels.status'}}</th>
              <th>{{t 'incident.labels.actions'}}</th>
            </tr>
            {{#each model.recommendations as |recommendation|}}
              <tr>
                <td>{{recommendation.activity}}</td>
                <td>{{recommendation.responsibility}}</td>
                <td>{{date-format recommendation.startDate}}</td>
                <td>{{date-format recommendation.targetDateOfCompletion}}</td>
                <td>{{recommendation.status}}</td>
                <td>
                  {{#if canAddRecommendation}}
                    <button class="btn btn-default neutral" {{action "showEditRecommendation" recommendation}}>{{t 'incident.buttons.edit'}}</button>
                  {{/if}}
                  {{#if canDeleteRecommendation}}
                    <button class="btn btn-default warning" {{action "showDeleteRecommendation" recommendation bubbles=false }}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
          {{#if canAddRecommendation}}
            {{em-text label=(t 'incident.labels.actions_taken') property="actionsTaken" rows=3}}
            {{em-text label=(t 'incident.labels.lessons_learned') property="lessonsLearned" rows=3}}
          {{/if}}
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="postrisk">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">{{t 'incident.titles.post_risk'}}</h3>
        </div>
        {{#if canAddRisk}}
          <div class="panel-body detail-section-content">
            <div class="panel-body">
              <table class="table">
                <tr class="table-header">
                  <th>{{t 'incident.labels.severity'}}</th>
                  <th>{{t 'incident.labels.occurrence'}}</th>
                  <th>{{t 'incident.labels.risk_score'}}</th>
                </tr>
                <tr>
                  <td>{{ext-radio name=postSeverity content=severityTypes value=postSeverity radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                  <td>{{ext-radio name=postOccurence content=occurrenceTypes value=postOccurence radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                  <td>{{ext-radio name=postRiskScore content=riskScores value=postRiskScore radioLabelPath="content.label" radioValuePath="content.value"}}</td>
                </tr>
              </table>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{t 'incident.titles.summary'}}
            {{#if canAddSummary}}
              <button class="btn btn-primary align-right" {{action "generateSummary" bubbles=false }}>{{t 'incident.buttons.generate_sum'}}</button>
            {{/if}}
          </h3>
        </div>
        <div class="panel-body detail-section-content">
          {{#if showSummary}}
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th>{{t 'incident.labels.description'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                <tr>
                  <td>{{model.incidentDescription}}</td>
                </tr>
              </TBODY>
            </table>
            <table class="table table-hover">
              <THEAD>
                <tr class="table-header success">
                  <th colspan="3">{{t 'incident.labels.details'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                <tr>
                  <td>{{t 'incident.labels.incident_date_sum'}}</td>
                  <td>{{date-format model.dateOfIncident}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.labels.incident_location_sum'}}</td>
                  <td>{{model.locationOfIncident}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.labels.incident_type'}}</td>
                  <td>{{model.categoryName}}</td>
                  <td>{{model.categoryItem}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.labels.harm_score'}}</td>
                  <td>{{model.harmScore}}</td>
                </tr>
              </TBODY>
            </table>
            <table class="table">
              <THEAD>
                <tr class="table-header success">
                  <th colspan="2">{{t 'incident.labels.contributory_factors'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#if havePatientContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.patient_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.patientContributingFactors as |patientContributingFactor|}}
                            <tr>
                              <td>{{patientContributingFactor.factorType}}</td>
                              <td>{{patientContributingFactor.component}}</td>
                              <td>{{patientContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveStaffContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.staff_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.staffContributingFactors as |staffContributingFactor|}}
                            <tr>
                              <td>{{staffContributingFactor.factorType}}</td>
                              <td>{{staffContributingFactor.component}}</td>
                              <td>{{staffContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveTaskContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.task_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.taskContributingFactors as |taskContributingFactor|}}
                            <tr>
                              <td>{{taskContributingFactor.factorType}}</td>
                              <td>{{taskContributingFactor.component}}</td>
                              <td>{{taskContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveCommunicationContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.communication_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.communicationContributingFactors as |communicationContributingFactor|}}
                            <tr>
                              <td>{{communicationContributingFactor.factorType}}</td>
                              <td>{{communicationContributingFactor.component}}</td>
                              <td>{{communicationContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveEquipmentContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.equipment_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.equipmentContributingFactors as |equipmentContributingFactor|}}
                            <tr>
                              <td>{{equipmentContributingFactor.factorType}}</td>
                              <td>{{equipmentContributingFactor.component}}</td>
                              <td>{{equipmentContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveWorkEnvironmentContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.work_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.wrkEnvironmentContributingFactors as |wrkEnvironmentContributingFactor|}}
                            <tr>
                              <td>{{wrkEnvironmentContributingFactor.factorType}}</td>
                              <td>{{wrkEnvironmentContributingFactor.component}}</td>
                              <td>{{wrkEnvironmentContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveOrganizationalContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.organizational_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.organizationalContributingFactors as |organizationalContributingFactor|}}
                            <tr>
                              <td>{{organizationalContributingFactor.factorType}}</td>
                              <td>{{organizationalContributingFactor.component}}</td>
                              <td>{{organizationalContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveEducationTrainingContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.educational_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.eduTrainingContributingFactors as |eduTrainingContributingFactor|}}
                            <tr>
                              <td>{{eduTrainingContributingFactor.factorType}}</td>
                              <td>{{eduTrainingContributingFactor.component}}</td>
                              <td>{{eduTrainingContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                {{#if haveTeamContributingFactors}}
                  <tr>
                    <td>{{t 'incident.labels.team_factors'}}</td>
                    <td>
                      <table class="table table-striped">
                        <tbody>
                          {{#each model.teamContributingFactors as |teamContributingFactor|}}
                            <tr>
                              <td>{{teamContributingFactor.factorType}}</td>
                              <td>{{teamContributingFactor.component}}</td>
                              <td>{{teamContributingFactor.userValue}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {{/if}}
                <tr>
                  <td>{{t 'incident.labels.root_cause_summary'}}</td>
                  <td>{{model.rcaSummary}}</td>
                </tr>
              </TBODY>
            </table>
            <table class="table table-hover">
              <THEAD>
                <tr class="table-header success">
                  <th colspan="2">{{t 'incident.titles.pre_risk'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                <tr>
                  <td>{{t 'incident.messages.severity'}}</td>
                  <td>{{model.preSeverity}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.messages.occurence'}}</td>
                  <td>{{model.preOccurence}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.messages.risk_score'}}</td>
                  <td>{{model.preRiskScore}}</td>
                </tr>
              </TBODY>
            </table>
            <table class="table table-hover">
              <THEAD>
                <tr class="table-header success">
                  <th colspan="5">{{t 'incident.labels.recommendations'}}</th>
                </tr>
                <tr class="table-header">
                  <th>{{t 'incident.labels.activity'}}</th>
                  <th>{{t 'incident.labels.responsibility'}}</th>
                  <th>{{t 'incident.labels.start_date'}}</th>
                  <th>{{t 'incident.labels.target_date'}}</th>
                  <th>{{t 'incident.labels.status'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                {{#each model.recommendations as |recommendation|}}
                  <tr>
                    <td>{{recommendation.activity}}</td>
                    <td>{{recommendation.responsibility}}</td>
                    <td>{{date-format recommendation.startDate}}</td>
                    <td>{{date-format recommendation.targetDateOfCompletion}}</td>
                    <td>{{recommendation.status}}</td>
                  </tr>
                {{/each}}
                <tr>
                  <td>{{t 'incident.labels.actions_taken'}}</td>
                  <td>{{model.actionsTaken}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.labels.lessons_learned'}}</td>
                  <td>{{model.lessonsLearned}}</td>
                </tr>
              </TBODY>
            </table>
            <table class="table table-hover">
              <THEAD>
                <tr class="table-header success">
                  <th colspan="2">{{t 'incident.titles.post_risk'}}</th>
                </tr>
              </THEAD>
              <TBODY>
                <tr>
                  <td>{{t 'incident.messages.severity'}}</td>
                  <td>{{model.postSeverity}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.messages.occurence'}}</td>
                  <td>{{model.postOccurence}}</td>
                </tr>
                <tr>
                  <td>{{t 'incident.messages.risk_score'}}</td>
                  <td>{{model.postRiskScore}}</td>
                </tr>
              </TBODY>
            </table>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/em-form}}
{{/edit-panel}}
