{{#em-form model=this submit_button=false }}
    <div class="row">
        {{#if selectPatient}}
            {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=selectedPatient class="col-xs-3 required"}}
        {{else}}
            <div class="form-group col-xs-3">
                <label>Patient</label>
                <p class="form-control-static">{{patient.displayName}}</p>
            </div>
        {{/if}}
        {{#if isCompleting}}
            <div class="form-group col-xs-3">
                <label>Visit</label>
                <p class="form-control-static">{{visit.visitDate}}</p>
            </div>        
        {{else}}
            {{em-select class="col-xs-3 required" label="Visit" 
                property="visit" content=patientVisits
                optionValuePath="content" optionLabelPath="content.visitDescription"
                prompt="--Add New Visit--"
                selected=visit
            }}
        {{/if}}
    </div>
    {{#if isCompleting}}
        <div class="form-group">
            <label>Lab Type</label>
            <p class="form-control-static">{{labType.name}}</p>
        </div>
        {{em-input property="result" label="Result"}}
    {{else}}
        {{pricing-typeahead property="labTypeName" label="Lab Type" content=objectTypeList selection=selectedLabType class="required"}} 
    {{/if}}
    {{em-text property="notes" label="Notes" rows=3 }}
    {{partial 'item-charges'}}
{{/em-form}}