{{#em-form model=this submit_button=false }}
    <div class="row">
        {{#if selectPatient}}
            {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=patient class="col-xs-3"}}
        {{else}}
            <div class="form-group col-xs-3">
                <label>Patient</label>
                <p class="form-control-static">{{patient.displayName}}</p>
            </div>
        {{/if}}
        {{#if isCompleting}}
            <div class="form-group col-xs-3">
                <label>Visit</label>
                <p class="form-control-static">{{visit.visitDate}}</p>
            </div>        
        {{else}}
            {{em-select class="col-xs-3" label="Visit" 
                property="visit" content=patientVisits
                optionValuePath="content" optionLabelPath="content.visitDate"
                prompt="--Add New Visit--"
                selected=visit
            }}
        {{/if}}
    </div>
    {{#if isCompleting}}
        <div class="form-group">
            <label>Lab Type</label>
            <p class="form-control-static">{{labType}}</p>
        </div>
        {{em-input property="result" label="Result"}}
    {{else}}    
        {{select-or-typeahead property="labType" label="Lab Type" list=labTypesList selection=labType }}
    {{/if}}
    {{em-text property="notes" label="Notes" rows=3 }}
{{/em-form}}