{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{date-picker property="dateRecorded" label=(t "vitals.labels.date_recorded") class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="temperature" label=temperatureLabel }}
    </div>
    <div class="row">
      {{em-input class="col-sm-3" property="weight" label=(t "vitals.labels.weight")}}
      {{em-input class="col-sm-3" property="height" label=(t "vitals.labels.height")}}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="sbp" label=(t "vitals.labels.sbp")}}
      {{em-input class="col-sm-3 required" property="dbp" label=(t "vitals.labels.dbp")}}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="heartRate" label=(t "vitals.labels.heart_rate")}}
      {{em-input class="col-sm-3 required" property="respiratoryRate" label=(t "vitals.labels.respiratory_rate")}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
