{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{date-picker property="dateRecorded" label=(t "vitals.labels.dateRecorded") class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">
      {{number-input class="col-sm-3 required temperature-text" property="temperature" label=temperatureLabel }}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 weight-text" property="weight" label=(t "vitals.labels.weight")}}
      {{em-input class="col-sm-3 height-text" property="height" label=(t "vitals.labels.height")}}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required sbp-text" property="sbp" label=(t "vitals.labels.sbp")}}
      {{em-input class="col-sm-3 required dbp-text" property="dbp" label=(t "vitals.labels.dbp")}}
    </div>
    <div class="row">
      {{number-input class="col-sm-3 required heart-rate-text" property="heartRate" label=(t "vitals.labels.heartRate")}}
      {{number-input class="col-sm-3 required respiratory-rate-text" property="respiratoryRate" label=(t "vitals.labels.respiratoryRate")}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
