{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{date-picker property="dateRecorded" label="Date Recorded" class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="temperature" label=temperatureLabel }}
    </div>
    <div class="row">
      {{em-input class="col-sm-3" property="weight" label="Weight"}}
      {{em-input class="col-sm-3" property="height" label="Height"}}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="sbp" label="SBP"}}
      {{em-input class="col-sm-3 required" property="dbp" label="DBP"}}
    </div>
    <div class="row">
      {{em-input class="col-sm-3 required" property="heartRate" label="Heart Rate"}}
      {{em-input class="col-sm-3 required" property="respiratoryRate" label="Respiratory Rate"}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
