<div class="panel panel-primary">
  {{#if canGenerateReport}}
    <div class="panel-body">
      {{#em-form model=model submitButton=false }}
        <div class="row">
          {{date-picker property="startDate" label=(t 'incident.labels.start_date') class="col-sm-4"}}
          {{date-picker property="endDate" label=(t 'incident.labels.end_date') class="col-sm-4"}}
        </div>
        <div class="row">
          {{em-select class="col-sm-4" label=(t 'incident.labels.report_type') property="reportType" optionLabelPath="name" content=reportTypes}}
        </div>
      {{/em-form}}
    </div>
    <div class="panel-footer">
      <button class="btn btn-default" {{action 'generateReport'}}>{{t 'incident.buttons.generate_rep'}}</button>
    </div>
  {{/if}}
</div>
{{#if showReportResults}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{reportTitle}}</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr class="table-header">
          {{#each reportHeaders as |header|}}
            <th>{{header}}</th>
          {{/each}}
        </tr>
        {{#each reportRows as |row|}}
          <tr>
            {{#each row as |subrow|}}
              <td>{{subrow}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </div>
    <div class="panel-footer">
      <a {{bind-attr href="csvExport"}} target="_blank" download="report.csv" class="btn btn-default">{{t 'incident.buttons.export'}}</a>
    </div>
  </div>
{{/if}}
