<div class="panel panel-primary">
   {{#if canGenerateReport}}
   <div class="panel-body">
        {{#em-form model=model submitButton=false }}
            <div class="row">
                {{em-select class="col-xs-3" label="Report Type"
                    property="reportType" content=reportTypes
                    optionValuePath="value" optionLabelPath="name"
                    selected=reportType
                }}
            </div>
            <div class="row">
                {{date-picker property="startDate" label="Start Date" class="col-sm-4"}}
                {{date-picker property="endDate" label="End Date" class="col-sm-4"}}
            </div>
        {{/em-form}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'generateReport'}}>Generate Report</button>
    </div>
    {{/if}}
</div>
{{#if showReportResults}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{reportTitle}}</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr class="table-header">
                    {{#each reportHeaders}}
                        <th>
                            {{this}}
                        </th>
                    {{/each}}
                </tr>
                {{#each reportRows}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="panel-footer">
            <a {{bind-attr href="csvExport"}} target="_blank" download="report.csv" class="btn btn-default">Export Report</a>

        </div>
    </div>
{{/if}}
