{{#edit-panel editPanelProps=editPanelProps}}
  <div class="panel panel-primary">
    <div class="panel-body">
      {{#em-form model=model submitButton=false }}
        {{em-input label=(t 'admin.address.address1_label') property="value.address1Label"}}
        {{em-checkbox label=(t 'admin.address.include1_label') property="value.address1Include"}}
        {{em-input label=(t 'admin.address.address2_label') property="value.address2Label"}}
        {{em-checkbox label=(t 'admin.address.include2_label') property="value.address2Include"}}
        {{em-input label=(t 'admin.address.address3_label') property="value.address3Label"}}
        {{em-checkbox label=(t 'admin.address.include3_label') property="value.address3Include"}}
        {{em-input label=(t 'admin.address.address4_label') property="value.address4Label"}}
        {{em-checkbox label=(t 'admin.address.include4_label') property="value.address4Include"}}
      {{/em-form}}
    </div>
  </div>
{{/edit-panel}}
