<td class="requested-date">{{date-format lab.requestedDate}}</td>
<td class="lab-date">{{date-format lab.labDate}}</td>
<td class="patient">{{lab.patient.displayName}}</td>
<td class="requested-by">{{lab.requestedBy}}</td>
<td class="lab-type">{{lab.labType.name}}</td>
<td class="result">{{lab.result}}</td>
<td class="notes">{{lab.notes}}</td>
