{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span>
    {{t 'visits.messages.delete'}}
  </div>
  <form role="form">
    <div class="form-group">
      <label class="control-label">{{t 'labels.startDate'}}</label>
      <p class="form-control-static">{{date-format model.startDate}}</p>
    </div>
    <div class="form-group">
      <label class="control-label">{{t 'labels.endDate'}}</label>
      <p class="form-control-static">{{date-format model.endDate}}</p>
    </div>
    <div class="form-group">
      <label class="control-label">{{t 'visits.labels.examiner'}}</label>
      <p class="form-control-static">{{model.examiner}}</p>
    </div>
    <div class="form-group">
      <label class="control-label">{{t 'labels.location'}}</label>
      <p class="form-control-static">{{model.location}}</p>
    </div>
    <div class="form-group">
      <label class="control-label">{{t 'labels.type'}}</label>
      <p class="form-control-static">{{model.visitType}}</p>
    </div>
  </form>
{{/modal-dialog}}
