<div class="panel panel-primary">
  <div class="panel-body">
    {{#em-form model=model submitButton=false as |form|}}
      <div class="row">
        {{form.select class="col-xs-3 lookup-type form-input-group" label=(t 'labels.lookupType')
          property="lookupType" content=lookupTypes
          optionValuePath="value" optionLabelPath="name"
          selected=model.lookupType
        }}
      </div>
    {{/em-form}}
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{lookupTitle}}</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.value'}}</th>
        <th>{{t 'labels.actions'}}</th>
      </tr>
      {{#each lookupTypeValues as |lookupTypeValue|}}
        <tr>
          <td class="lookup-type-value">{{lookupTypeValue.value}}</td>
          <td>
            {{#if lookupTypeValue.canModify}}
              <button class="btn btn-default neutral" {{action 'editValue' lookupTypeValue.value bubbles=false }}>
                {{t 'labels.edit'}}
              </button>
              <button class="btn btn-default warning" {{action 'confirmDeleteValue' lookupTypeValue.value bubbles=false }}>
                <span class="octicon octicon-x"></span>{{t 'labels.delete'}}
              </button>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default neutral" {{action 'addValue'}}>{{t 'buttons.addValue'}}</button>
    {{#em-form model=lookupTypeList submitButton=false as |form|}}
      <div class="row">
        <div class="col-sm-4">
          {{form.checkbox label=(t 'labels.userCanAddNewValue') property="userCanAdd"}}
          <button class="btn btn-primary" {{action 'updateList'}}>{{t 'buttons.update'}}</button>
        </div>
        {{#if showOrganizeByType}}
          {{form.checkbox label="Organize Pricing By Type" property="organizeByType" class="col-sm-4"}}
        {{/if}}
        <div class="col-sm-4">
          {{file-upload label=(t 'labels.importFile') property="importFileName" selectedFile=importFile }}
          <button class="btn btn-primary" {{action 'importList'}}>{{t 'buttons.import'}}</button>
        </div>
      </div>
    {{/em-form}}
  </div>
</div>
