<div class="panel panel-primary">
    <div class="panel-body">
        {{#em-form model=this submitButton=false }}
            <div class="row">
                {{em-select class="col-xs-3" label="Lookup Type" 
                    property="lookupType" content=lookupTypes
                    optionValuePath="value" optionLabelPath="name"
                    selected=lookupType
                }}
            </div>        
        {{/em-form}}
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{lookupTitle}}</h3>
    </div>    
    <div class="panel-body">
        <table class="table">
            <tr class="table-header">
                <th>Value</th>
                <th>Actions</th>
            </tr>
            {{#each lookupTypeValues}}
                <tr>
                    <td>{{this}}</td>                    
                    <td>
                        <button class="btn btn-default neutral" {{action 'editValue' this bubbles=false }}>Edit</button>
                        <button class="btn btn-default warning" {{action 'deleteValue' this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default neutral" {{action 'addValue'}}>Add Value</button>
        {{#em-form model=this submitButton=false }}
            <div class="row">
                <div class="col-sm-4">
                    {{em-checkbox label="User Can Add New Values" property="userCanAdd"}}
                    <button class="btn btn-default" {{action 'updateList'}}>Update</button> 
                </div>
                {{#if showOrganizeByType}}
                    {{em-checkbox label="Organize Pricing By Type" property="organizeByType" class="col-sm-4"}}
                {{/if}}
                <div class="col-sm-4">
                    {{file-upload label="Import File" property="importFileName" selectedFile=importFile }}
                    <button class="btn btn-default" {{action 'importList'}}>Import</button>
                </div>
            </div>
        {{/em-form}}
    </div>
</div>