<td>{{date-format imaging.requestedDate}}</td>
<td>{{date-format imaging.imagingDate}}</td>
<td>{{imaging.requestedBy}}</td>
<td>{{imaging.patient.displayName}}</td>
<td>{{imaging.imagingType.name}}</td>
<td>{{imaging.results}}</td>
<td>{{imaging.notes}}</td>
