{{#modal-dialog
    hideCancelButton=hideCancelButton
    hideUpdateButton=hideUpdateButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonClass=updateButtonClass
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false as |form|}}
    {{form.input property="title" label=(t 'incident.labels.title') class="attachment-title"}}
    {{#if model.isNew}}
      {{take-photo
        defaultPhotoSource='uploadAFile'
        isImage=model.isImage
        photoFile=model.photoFile
        sourceLabel=(t 'incident.labels.howToAddAttachment')
      }}
    {{else}}
      {{#if model.isImage}}
        <div class="thumbnail">
          <img alt={{model.title}} src={{model.url}} class="img-responsive" >
        </div>
      {{else}}
        <a href={{model.url}} target="_blank" download="{{model.shortFileName}}" class="btn btn-default">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span> {{t 'incident.buttons.download'}}
        </a>
      {{/if}}
    {{/if}}
    {{#if showFileRequired}}
      <div class="alert alert-warning" role="alert">{{fileRequiredMessage}}</div>
    {{/if}}
  {{/em-form}}
{{/modal-dialog}}
