{{#em-form model=this submit_button=false }}
    <div class="row">
        {{#unless isNew}}
            <div class="form-group col-xs-2">
                <label>Invoice Id</label>
                <p class="form-control-static">{{id}}</p>
            </div>        
        {{/unless}}
        {{date-picker property="billDate" label="Bill Date" class="col-xs-2"}}
        {{#if selectPatient}}
            {{patient-typeahead property="patientTypeAhead" label="Patient" content=patientList selection=selectedPatient class="col-xs-4 required"}}
            {{em-select class="col-xs-4 required" label="Visit" 
                property="visit" content=patientVisits
                optionValuePath="content" optionLabelPath="content.visitDescription"            
                selected=visit
                prompt='Please select a visit'
            }}                
        {{else}}
            <div class="form-group col-xs-3">
                <label>Patient</label>
                <p class="form-control-static">{{patient.displayName}}</p>
            </div>
            <div class="form-group col-xs-3">
                <label>Visit</label>
                <p class="form-control-static">{{visit.visitDescription}}</p>
            </div>        
        {{/if}}
    </div>
    <div class="row">
        {{em-input property="externalInvoiceNumber" label="External Invoice #" class="col-xs-3"}}
        {{em-select label="Payment Profile"
            property="paymentProfile"
            content=pricingProfiles
            optionValuePath="content"
            optionLabelPath="content.name"
            class="col-xs-3"
            prompt=" "
            selected=paymentProfile
        }}
    </div>
{{/em-form}}
<form class="form-inline">
    <div class="panel detail-section">
        <div class="panel-heading">
            <h3 class="panel-title">
                Line Items
                {{#if canAddCharge}}
                    <button class="btn btn-primary align-right" {{action "showAddLineItem" bubbles=false }}><span class="octicon octicon-plus"></span>Add Line Item</button>
                {{/if}}
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Description</th>
                    <th class="text-right">Actual Charges</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">PhilHealth</th>
                    <th class="text-right">HMO/COM</th>
                    <th class="text-right">Excess</th>
                    <th class="text-right">Action</th>
                </tr>
                
                {{#each lineItemsByCategory}} 
                    <tr>
                        <td colspan="7">
                            <strong>{{category}}</strong>
                        </td>
                    </tr>
                    {{#each items itemController='invoices/line-item'}}
                        <tr>
                            <td class="col-xs-5">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span {{bind-attr class=":input-group-addon :glyphicon showDetails:glyphicon-minus:glyphicon-plus"}} 
                                            {{action "toggleDetails" bubbles=false }}> </span>
                                        <strong>{{input class="form-control" value=name }}</strong>
                                    </div>
                                </div>                                
                            </td>
                            <td class="col-xs-1">
                                <div class="form-group">
                                    {{input class="form-control text-right" value=total }}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="form-group">
                                    {{input class="form-control text-right" value=discount }}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="form-group">
                                    {{input class="form-control text-right" value=nationalInsurance }}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="form-group">
                                    {{input class="form-control text-right" value=privateInsurance }}
                                </div>
                            </td>
                            <td class="col-xs-1 text-right">{{number-format amountOwed}}</td>
                            <td class="col-xs-2">
                                {{#if canAddCharge}}     
                                    <button class="btn btn-default warning" {{action "showDeleteLineItem" this bubbles=false }}>
                                        <span class="octicon octicon-x"></span>Delete
                                    </button>
                                {{/if}}
                            </td>
                        </tr>
                        {{#if showDetails}}                            
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>
                                    {{#if canAddCharge}}
                                        <button class="btn btn-primary" {{action "addCharge" this}}>
                                            <span class="octicon octicon-plus"></span>Add Charge
                                        </button>
                                    {{/if}}
                                </th>
                            </tr>
                            {{#each details itemController='invoices/detail-item'}}
                                <tr>
                                    <td class="col-xs-1">
                                    </td>
                                    <td class="col-xs-2">
                                        <div class="form-group">
                                            {{input class="form-control" value=name }}
                                        </div>
                                    </td>                                
                                    <td class="col-xs-1">
                                        <div class="form-group">
                                            {{input class="form-control" value=quantity }}
                                        </div>
                                    </td>
                                    <td class="col-xs-1">
                                        <div class="form-group">
                                            {{input class="form-control" value=price }}
                                        </div>
                                    </td>
                                    <td class="col-xs-1">
                                        <div class="form-group">
                                            {{input class="form-control" value=discount }}
                                        </div>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{number-format amountOwed}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{#if canAddCharge}}                            
                                            <button class="btn btn-default warning" {{action "showDeleteItem" this bubbles=false }}>
                                                <span class="octicon octicon-x"></span>Delete
                                            </button>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                    <tr>
                        <td>
                            <strong>Total {{category}}</strong>
                        </td>
                        <td class="text-right">{{number-format total}}</td>
                        <td class="text-right">{{number-format discount}}</td>
                        <td class="text-right">{{number-format nationalInsurance}}</td>
                        <td class="text-right">{{number-format privateInsurance}}</td>
                        <td class="text-right">{{number-format amountOwed }}</td>                            
                        <td></td>
                    </tr>
                {{/each}}
                 <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td class="text-right">{{number-format total}}</td>
                    <td class="text-right">{{number-format discount}}</td>
                    <td class="text-right">{{number-format ationalInsurance}}</td>
                    <td class="text-right">{{number-format privateInsurance}}</td>
                    <td class="text-right">{{number-format patientResponsibility}}</td>                            
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Payments/Deposits</strong>
                    </td>
                    <td colspan="4"></td>
                    <td class="text-right">-{{number-format paidTotal}}</td>                            
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Grand Total</strong>
                    </td>
                    <td colspan="4"></td>
                    <td class="text-right">{{number-format remainingBalance}}</td>                            
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="panel detail-section">
    <div class="panel-heading">
        <h3 class="panel-title">
            Payments
            {{#if canAddPayment}}
                <button class="btn btn-primary align-right" {{action "showAddPayment" this bubbles=false }}><span class="octicon octicon-plus"></span>Add Payment</button>
            {{/if}}
        </h3>
    </div>
    <div class="panel-body detail-section-content">
        <table class="table">
            <tr class="table-header">
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
            {{#each payments itemController='invoices/payment-item'}}
                <tr {{action 'showEditPayment' this}}>
                    <td>{{date-format datePaid}}</td>
                    <td>{{amount}}</td>
                    <td>{{type}}</td>
                    <td>{{notes}}</td>
                    {{#if parentController.canAddPayment}}
                        <td>
                            <button class="btn btn-default neutral" {{action 'showEditPayment' this  bubbles=false }}>Edit</button>
                            {{#if canRemovePayment}}
                                <button class="btn btn-default warning" {{action "showRemovePayment" this bubbles=false }}>
                                    <span class="octicon octicon-x"></span>Remove
                                </button>
                            {{/if}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    </div>
</div>