{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#unless model.isNew}}
      {{patient-summary patient=model.patient returnTo='invoices.edit' returnToContext=model.id disablePatientLink=model.isNew }}
    {{/unless}}
    <div class="row">
      {{#unless model.isNew}}
        <div class="form-group col-xs-2">
          <label>{{t 'labels.invoiceId'}}</label>
          <p class="form-control-static">{{model.id}}</p>
        </div>
      {{/unless}}
      {{date-picker property="billDate" label=(t 'labels.billDate') class="col-xs-2"}}
      {{#if model.isNew}}
        {{patient-typeahead property="patientTypeAhead" label=(t 'labels.patient') content=patientList selection=selectedPatient class="col-xs-4 required invoice-patient"}}
        {{em-select class="col-xs-4 required invoice-visit" label=(t 'labels.visit')
            property="visit" content=patientVisitsForSelect
            optionValuePath="selectObject" optionLabelPath="selectObject.visitDescription"
            selected=model.visit
            prompt='Please select a visit'
        }}
      {{else}}
        <div class="form-group col-xs-3">
          <label>{{t 'labels.visit'}}</label>
          <p class="form-control-static">{{model.visit.visitDescription}}</p>
        </div>
      {{/if}}
    </div>
    <div class="row">
      {{em-input property="externalInvoiceNumber" label=(t 'billing.labels.externalInvoiceNumber') class="col-xs-3 external-invoice-no"}}
      {{em-select label=(t 'billing.labels.paymentProfile')
        property="paymentProfile"
        content=pricingProfiles
        optionValuePath="selectObject"
        optionLabelPath="selectObject.name"
        class="col-xs-3"
        prompt=" "
        selected=model.paymentProfile
      }}
    </div>
  {{/em-form}}
  <form class="form-inline">
    <div class="panel detail-section">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'labels.lineItems'}}
          {{#if canAddCharge}}
            <button class="btn btn-primary align-right" {{action "showAddLineItem" bubbles=false }}><span class="octicon octicon-plus"></span>{{t 'buttons.addLineItem'}}</button>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body detail-section-content">
        <table class="table">
          <tr class="table-header">
            <th class="col-xs-5">{{t 'labels.description'}}</th>
            <th class="col-xs-1 text-right">{{t 'billing.labels.actualCharges'}}</th>
            <th class="col-xs-1 text-right">{{t 'labels.discount'}}</th>
            <th class="col-xs-1 text-right">{{t 'billing.labels.insurance'}}</th>
            <th class="col-xs-1 text-right">{{t 'billing.labels.hmoCom'}}</th>
            <th class="col-xs-1 text-right">{{t 'labels.excess'}}</th>
            <th class="col-xs-2 text-right">{{t 'labels.action'}}</th>
          </tr>
          {{#each model.lineItemsByCategory as |categoryGroup|}}
            <tr>
              <td class="col-xs-12">
                <strong>{{categoryGroup.category}}</strong>
              </td>
            </tr>
            {{#each categoryGroup.items as |item|}}
              <tr>
                <td class="col-xs-5">
                  <div class="input-group">
                    <span class="input-group-addon glyphicon
                      {{if item.showDetails 'glyphicon-minus' 'glyphicon-plus'}}"
                        {{action "toggleDetails" item bubbles=false }}>
                    </span>
                    <strong>{{input class="form-control" value=item.name }}</strong>
                  </div>
                </td>
                <td class="col-xs-1 text-right">
                  {{number-format item.total}}
                </td>
                <td class="col-xs-1">
                  <div class="form-group">
                    {{input class="form-control text-right" value=item.discount }}
                  </div>
                </td>
                <td class="col-xs-1">
                  <div class="form-group">
                    {{input class="form-control text-right" value=item.nationalInsurance }}
                  </div>
                </td>
                <td class="col-xs-1">
                  <div class="form-group">
                    {{input class="form-control text-right" value=item.privateInsurance }}
                  </div>
                </td>
                <td class="col-xs-1 text-right">{{number-format item.amountOwed}}</td>
                <td class="col-xs-2">
                  {{#if canAddCharge}}
                    <button class="btn btn-default warning" {{action "showDeleteLineItem" item bubbles=false }}>
                      <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                    </button>
                  {{/if}}
                </td>
              </tr>
              {{#if item.showDetails}}
                <tr>
                  <th colspan="2" class="col-xs-6">{{t 'labels.name'}}</th>
                  <th class="col-xs-1">{{t 'labels.quantity'}}</th>
                  <th class="col-xs-1">{{t 'labels.price'}}</th>
                  <th class="col-xs-1">{{t 'labels.expense_to'}}</th>
                  <th class="col-xs-1 text-right">{{t 'labels.total'}}</th>
                  <th class="col-xs-2">
                    {{#if canAddCharge}}
                      <button class="btn btn-primary" {{action "addItemCharge" item}}>
                        <span class="octicon octicon-plus"></span>{{t 'admin.roles.capability.addCharge'}}
                      </button>
                    {{/if}}
                  </th>
                </tr>
                {{#each item.details as |detail|}}
                  <tr>
                    <td colspan="2" class="col-xs-6 input-group">
                      {{input class="form-control" value=detail.name }}
                    </td>
                    <td class="col-xs-1">
                      <div class="form-group">
                        {{input class="form-control" value=detail.quantity }}
                      </div>
                    </td>
                    <td class="col-xs-1">
                      <div class="form-group">
                        {{input class="form-control" value=detail.price }}
                      </div>
                    </td>
                    <td class="col-xs-1">
                      <div class="form-group">
                        {{select-list
                          class='form-control'
                          content=expenseAccountList
                          value=detail.expenseAccount
                          action=(action (mut detail.expenseAccount))
                        }}
                      </div>
                    </td>
                    <td class="col-xs-1 text-right">
                      {{number-format detail.amountOwed}}
                    </td>
                    <td class="col-xs-2">
                      {{#if canAddCharge}}
                        <button class="btn btn-default warning" {{action "showDeleteItem" detail item.details bubbles=false }}>
                          <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                        </button>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              {{/if}}
            {{/each}}
            <tr>
              <td>
                <strong>{{t 'labels.total'}} {{categoryGroup.category}}</strong>
              </td>
              <td class="text-right">{{number-format categoryGroup.total}}</td>
              <td class="text-right">{{number-format categoryGroup.discount}}</td>
              <td class="text-right">{{number-format categoryGroup.nationalInsurance}}</td>
              <td class="text-right">{{number-format categoryGroup.privateInsurance}}</td>
              <td class="text-right">{{number-format categoryGroup.amountOwed }}</td>
              <td></td>
            </tr>
          {{/each}}
          <tr>
            <td>
              <strong>{{t 'labels.total'}}</strong>
            </td>
            <td class="text-right">{{number-format model.total}}</td>
            <td class="text-right">{{number-format model.discount}}</td>
            <td class="text-right">{{number-format model.nationalInsurance}}</td>
            <td class="text-right">{{number-format model.privateInsurance}}</td>
            <td class="text-right">{{number-format model.patientResponsibility}}</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>{{t 'billing.labels.paymentsDeposits'}}</strong>
            </td>
            <td colspan="4"></td>
            <td class="text-right">-{{number-format model.paidTotal}}</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>{{t 'labels.grandTotal'}}</strong>
            </td>
            <td colspan="4"></td>
            <td class="text-right">{{number-format model.remainingBalance}}</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
  <div class="panel detail-section">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{t 'labels.remarks'}}
      </h3>
    </div>
    <div class="panel-body detail-section-content">
      {{textarea class="form-control" value=model.remarks}}
    </div>
  </div>
  <div class="panel detail-section">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{t 'labels.payments'}}
        {{#if canAddPayment}}
          <button class="btn btn-primary align-right" {{action "showAddPayment" model bubbles=false }}><span class="octicon octicon-plus"></span>{{t 'admin.roles.capability.addPayment'}}</button>
        {{/if}}
      </h3>
    </div>
    <div class="panel-body detail-section-content">
      <table class="table">
        <tr class="table-header">
          <th>{{t 'labels.date'}}</th>
          <th>{{t 'labels.amount'}}</th>
          <th>{{t 'labels.type'}}</th>
          <th>{{t 'labels.notes'}}</th>
          <th>{{t 'labels.action'}}</th>
        </tr>
        {{#each model.payments as |payment|}}
          <tr {{action 'showEditPayment' payment}}>
            <td>{{date-format payment.datePaid}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.paymentType}}</td>
            <td>{{payment.notes}}</td>
            {{#if canAddPayment}}
              <td>
                <button class="btn btn-default neutral" {{action 'showEditPayment' payment  bubbles=false }}>{{t 'labels.edit'}}</button>
                {{#if payment.canRemovePayment}}
                  <button class="btn btn-default warning" {{action "showRemovePayment" payment bubbles=false }}>
                    <span class="octicon octicon-x"></span>{{t 'buttons.remove'}}
                  </button>
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
{{/edit-panel}}
