{{#modal-dialog
    hideCancelButton=false
    hideUpdateButton=true
    isUpdateDisabled=true
    title=title
    updateButtonAction="print"
    updateButtonText="Print" }}
  <div class="panel panel-primary">
    <div class="panel-body">
      <h5 class="text-center">
        {{title}}
      </h5>
      <p class="text-center">The following report is meant for authorized personnel only.</p>
      {{partial 'patients/summary' }}      
      <table class="table">
        <tr class="table-header">
          <th>Date</th>
          <th>By</th>
          <th>Note</th>
        </tr>        
        {{#each model.patientNotes as |note|}}
        {{#if note.visit}}
          <th>
            <td colspan="3">On {{note.visit.visitDate}} at {{note.visit.location}}</td>
          </th>
        {{/if}}
        {{#if note.lab}}
          {{partial 'lab/summary' note.lab }}
        {{/if}}
        {{#if note.medication}}
          {{partial 'medication/summary' note.medication }}
        {{/if}}
        {{#if note.procedure}}
          {{partial 'procedure/summary' note.procedure }}
        {{/if}}
        <tr>
          <td>{{date-format note.date}}</td>
          <td>{{note.createdBy}}{{#if note.attribution}} on behalf of {{note.attribution}}{{/if}}</td>
          <td>
            {{#if note.imaging.imagingType}}{{note.imaging.imagingType}} {{/if}}
            {{#if note.lab.labType}}{{note.lab.labType}}: {{/if}}
            {{#if note.medication.prescription}}{{note.medication.prescription}}: {{/if}}
            {{#if note.procedure.cptCode}}{{note.procedure.cptCode}}: {{/if}}
            {{note.content}}
          </td>
        </tr>
        {{/each}}
      </table>      
    </div>
  </div>
{{/modal-dialog}}