<table class="table">
  <tr class="table-header">
    <th>Date</th>
    <th>By</th>
    <th>Note</th>    
    <th>Actions</th>
  </tr>
  {{#each patientNotes as |note|}}              
  <tr>
    <td>{{date-format note.date}}</td>
    <td>{{note.createdBy}}{{#if note.attribution}} on behalf of {{note.attribution}}{{/if}}</td>
    <td>{{note.content}}</td>
    <td>
      {{#if canDeleteNote}}
        <button type="button" class="btn btn-default warning" {{action "showDeleteNote" note bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
      {{/if}}
    </td>
  </tr>
  {{/each}}
</table>