{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false}}
    {{#unless model.isNew}}
      <div class="form-group has-success">
        <label class="control-label">{{t 'labels.username'}}</label>
        <div class="form-control">
          {{model.name}}
        </div>
      </div>
    {{/unless}}
    {{em-input property="displayName" label=(t 'labels.displayName')  class="user-display-name"}}
    {{em-input property="email" type="email" label=(t 'labels.email')  class="user-email"}}
    {{em-input property="password" type="password" label=(t 'labels.password')  class="user-password"}}
    <div class="form-group has-success">
      <label class="control-label">{{t 'labels.role'}}</label>
      {{role-select selection=model.roles content=userRoles action=(action (mut model.roles)) class="user-role"}}
    </div>
  {{/em-form}}
{{/edit-panel}}
