{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false}}
    {{#unless model.isNew}}
      <div class="form-group has-success">
        <label class="control-label">Username</label>
        <div class="form-control">
          {{model.name}}
        </div>
      </div>
    {{/unless}}
    {{em-input property="displayName" label="Display Name" class="user-display-name"}}
    {{em-input property="email" type="email" label="Email" class="user-email"}}
    {{em-input property="password" type="password" label="Password" class="user-password"}}
    <div class="form-group has-success">
      <label class="control-label">Role</label>
      {{role-select selection=model.roles content=userRoles action=(action (mut model.roles)) class="user-role"}}
    </div>
  {{/em-form}}
{{/edit-panel}}
