<div class="panel-group" id="visit-accordion">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#visit-accordion" href="#visit-info">
                    Visit Information
                </a>
            </h3>
        </div>
        <div id="visit-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <label>Patient</label>
                    <p class="form-control-static">{{patient.displayName}}</p>
                </div>                
                {{#em-form model=this submit_button=false }}
                    <div class="row">
                        {{date-picker property="startDate" label="Start Date" class="col-sm-3"}}
                        {{date-picker property="endDate" label="End Date" class="col-sm-3"}}
                    </div>
                    <div class="row">
                        {{em-select class="col-sm-6" label="Visit Type" 
                            property="visitType" content=visitTypes
                            optionValuePath="content" optionLabelPath="content"
                        }}
                        {{type-ahead class="col-sm-6" property="examiner" 
                            label="Examiner" content=physicianList.value 
                            selection=examiner
                        }}
                    </div>
                    <div class="row">
                        {{type-ahead class="col-sm-6" property="location"
                            label="Location" content=locationList.value
                            selection=location
                        }}
                        {{type-ahead class="col-sm-6" property="clinic" 
                            label="Clinic" content=clinicList.value 
                            selection=clinic
                        }}
                    </div>
                    {{em-text label="History since last seen" property="history" rows=3 }}
                    {{em-text label="Notes" property="notes" rows=3 }}
                {{/em-form}}
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-medication">
                    Medication <button class="btn btn-primary" {{action "newMedication" bubbles=false }}>New Medication</button>
                </a>
            </h3>
        </div>
        <div id="patient-medication" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Prescription</th>
                        <th>Requested By</th>
                        <th>Actions</th>
                    </tr>
                    {{#each medication itemController="medication/item-controller"}}
                        <tr {{action "editMedication" this}}>
                            <td>{{date-format prescriptionDate}}</td>
                            <td>{{inventoryItem.name}}</td>
                            <td>{{status}}</td>
                            <td>{{prescription}}</td>
                            <td>{{requestedBy}}</td>
                            <td>
                                {{#if canEdit}}
                                    <button class="btn btn-primary" {{action "editMedication" this}}>Edit</button>
                                    <button class="btn btn-default" {{action "showDeleteMedication" this  bubbles=false }}>Delete</button>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-labs">
                    Labs <button class="btn btn-primary" {{action "newLab" bubbles=false }}>New Lab</button>
                </a>
            </h3>
        </div>
        <div id="patient-labs" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr class="table-header">
                        <th>Date Requested</th>
                        <th>Lab Type</th>
                        <th>Status</th>
                        <th>Date Processed</th>
                        <th>Result</th>
                        <th>Notes</th>
                        <th>Requested By</th>
                        <th>Actions</th>
                    </tr>
                    {{#each labs itemController="labs/item-controller"}}
                        <tr {{action "editLab" this}}>
                            <td>{{date-format requestedDate}}</td>
                            <td>{{labType}}</td>
                            <td>{{status}}</td>
                            <td>{{date-format labDate}}</td>
                            <td>{{result}}</td>
                            <td>{{notes}}</td>
                            <td>{{requestedBy}}</td>
                            <td>
                                {{#if canEdit}}
                                    <button class="btn btn-primary" {{action "editLab" this}}>Edit</button>
                                    <button class="btn btn-default" {{action "showDeleteLab" this  bubbles=false }}>Delete</button>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#visit-accordion" href="#visit-vitals">
                    Vitals <button class="btn btn-primary" {{action "showAddVitals" bubbles=false }}>New Vitals</button>
                </a>
            </h3>
        </div>
        <div id="visit-vitals" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Temperature</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>SBP</th>
                        <th>DBP</th>
                        <th>Heart Rate</th>
                        <th>Respiratory Rate</th>
                        <th>Delete</th>
                    </tr>
                    {{#each vitals}}
                        <tr>
                            <td>{{date-format dateRecorded format="l h:mm A"}}</td>
                            <td>{{temperature}}</td>
                            <td>{{weight}}</td>
                            <td>{{height}}</td>
                            <td>{{sbp}}</td>
                            <td>{{dbp}}</td>
                            <td>{{heartRate}}</td>
                            <td>{{respiratoryRate}}</td>
                            <td>
                                <button class="btn btn-primary" {{action "showEditVitals" this}}>Edit</button>
                                <button class="btn btn-primary" {{action "showDeleteVitals" this}}>Delete</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>    
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#visit-accordion" href="#visit-procedures">
                    Procedures <button class="btn btn-primary" {{action "showAddProcedure" bubbles=false }}>New Procedure</button>
                </a>
            </h3>
        </div>
        <div id="visit-procedures" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Procedure</th>
                        <th>Actions</th>
                    </tr>
                    {{#each procedures}}
                    <tr>
                        <td>{{date-format procedureDate}}</td>
                        <td>{{description}}</td>
                        <td>                            
                            <button class="btn btn-primary" {{action "showEditProcedure" this}}>Edit</button>
                            <button class="btn btn-default" {{action "showDeleteProcedure" this}}>Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>    
</div>