<tr {{action 'editAppointment' appointment}}>
    <td class="appointment-date">
        {{appointment.formattedAppointmentDate}}
    </td>
    <td>{{appointment.patient.displayName}}</td>
    <td>{{appointment.appointmentType}}</td>
    <td>{{appointment.location}}</td>
    <td>{{appointment.provider}}</td>
    <td>{{appointment.displayStatus}}</td>
    <td>
        {{#if canAddVisit}}
            <button class="btn btn-default" {{action 'createVisit' appointment bubbles=false }}>Add Visit</button>
        {{/if}}
        {{#if canEdit}}
            <button class="btn btn-default" {{action 'editAppointment' appointment bubbles=false }}>Edit</button>
        {{/if}}
        {{#if canDelete}}
            <button class="btn btn-default" {{action 'deleteItem' appointment bubbles=false }}>Delete</button>
        {{/if}}
    </td>
</tr>
