<tr>
    <td>
        {{appointmentDate}}
    </td>
    <td>{{patient.displayName}}</td>
    <td>{{appointmentType}}</td>
    <td>{{location}}</td>
    <td>{{provider}}</td>
    <td>
        <button class="btn btn-default" {{action 'createVisit' this}}>Add Visit</button>
        <button class="btn btn-default" {{action 'editItem' this}}>Edit</button>
        <button class="btn btn-default" {{action 'deleteItem' this}}>Delete</button>
    </td>        
</tr>