<tr {{action 'editAppointment' this}}>
    <td>
        {{appointmentDate}}
    </td>
    <td>{{patient.displayName}}</td>
    <td>{{appointmentType}}</td>
    <td>{{location}}</td>
    <td>{{provider}}</td>
    <td>{{displayStatus}}</td>
    <td>
        {{#if parentController.canAddVisit}}
            <button class="btn btn-default" {{action 'createVisit' this bubbles=false }}>Add Visit</button>
        {{/if}}
        {{#if parentController.canEdit}}
            <button class="btn btn-default" {{action 'editAppointment' this bubbles=false }}>Edit</button>
        {{/if}}
        {{#if parentController.canDelete}}
            <button class="btn btn-default" {{action 'deleteItem' this bubbles=false }}>Delete</button>
        {{/if}}
    </td>        
</tr>