{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  <div class="alert alert-warning" role="alert">
    {{t 'patients.messages.notFoundQuickAdd' model}}
  </div>
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{em-input property="friendlyId" label="Id" class="required col-sm-6"}}
      {{em-input property="firstName" label="First Name" class="required col-sm-6"}}
    </div>
    <div class="row">
      {{em-input property="middleName" label="Middle Name" class="col-sm-6" }}
      {{em-input property="lastName" label="Last Name" class="required col-sm-6"}}
    </div>
    <div class="row">
      {{select-or-typeahead property="sex" label="Sex" list=sexList selection=model.sex class="col-sm-6"}}
      {{date-picker property="dateOfBirth" label="Date of Birth" maxDate="now" class="col-sm-6"}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
