{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Date Completed</th>            
            <th>Name</th>
            <th>Quantity</th>
            <th>Transaction</th>
            <th>Completed By</th>            
            <th>Requested On</th>
            <th>Requested By</th>
            <th>Cost Per Unit</th>
            <th>Quantity At Completion</th>            
        </tr>
        {{#each}}
            <tr>
                <td>{{date-format dateCompleted}}</td>
                <td>{{inventoryItem.name}}</td>
                <td>{{quantity}}</td>
                <td>{{transactionType}}</td>
                <td>{{completedBy}}</td>                
                <td>{{date-format dateRequested}}</td>
                <td>{{requestedBy}}</td>
                <td>{{costPerUnit}}</td>
                <td>{{quantityAtCompletion}}</td>
            </tr>            
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No requests found.  Create a new delivery?</em> <button class="btn btn-primary" {{action 'newDelivery'}}>New Delivery</button>
    </div>
{{/if}}