{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Date Completed</th>            
            <th>Name</th>
            <th>Quantity</th>
            <th>Transaction</th>
            <th>Details</th>
        </tr>
        {{#each itemController='inventory/completed-items'}}
            <tr>
                <td>{{date-format dateCompleted}}</td>
                <td>{{inventoryItem.name}}</td>
                <td>{{quantity}}</td>
                <td>{{transactionType}}</td>
                <td>
                    {{#if isAdjustment}}
                        {{#if haveReason}}
                            <strong>Reason:</strong> {{reason}}<br/>
                        {{/if}}
                        <strong>Location Adjusted:</strong> {{deliveryDetails}}
                    {{/if}}
                    {{#if isFulfillment}}
                        <strong>Cost Per Unit:</strong> {{costPerUnit}}<br/>
                        <strong>Quantity At Completion:</strong> {{quantityAtCompletion}}<br/>
                        <strong>Pulled From:</strong>
                        {{#each locationsAffected}}
                            {{name}}<br/>
                        {{/each}}
                        {{#if patient}}
                            <strong>Prescription For: </strong> {{deliveryDetails}}
                        {{else}}
                            <strong>Delivered To: </strong> {{deliveryDetails}}
                        {{/if}}
                    {{/if}}
                    {{#if isTransfer}}
                        <strong>Transferred From:</strong>
                        {{#each locationsAffected}}
                            {{name}}<br/>
                        {{/each}}
                        <strong>Transferred To: </strong> {{deliveryDetails}}
                    {{/if}}
                </td>
            </tr>            
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No completed requests found.</em>
    </div>
{{/if}}