{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Incident ID</th>
            <th>Reported By</th>
            <th>Location of Incident</th>
            <th>Date of Incident</th>
            <th>Incident Type Category</th>
            <th>Incident Tye Item</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each}}
                    <tr {{action 'editItem' this}}>
                        <td>{{friendlyId}}
                  	    <td>{{reportedBy}}</td>
                        <td>{{locationOfIncident}}</td>
                        <td>{{date-format dateOfIncident}}</td>
                        <td>{{categoryName}}</td>
					    <td>{{categoryItem}}</td>
                        {{#if parentController.showActions}}
                            <td>
                                {{#if parentController.canAdd}}
                                    <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                                {{/if}}
                                {{#if parentController.canDelete}}
                                    <button class="btn btn-default warning" {{action 'showDeleteIncident' this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                {{/if}}
                            </td>
                        {{/if}}
                    </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No Incidents found.</em>
       {{#if canAdd}}
            <em>Create a new Incident?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Incident</button>
        {{/if}}
    </div>
{{/if}}