{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table incident-listing">
      <tr class="table-header">
        {{#sortable-column
          sortBy='dateOfIncident'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='dateForFilter'
          filteredBy=filteredBy
          filterType='date'
        }}
          {{t 'incident.labels.incidentDate'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='department'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='department'
          filteredBy=filteredBy
          filterType='list'
          filterValues=departmentNames
        }}
          {{t 'incident.labels.department'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='categoryName'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='categoryName'
          filteredBy=filteredBy
          filterType='list'
          filterValues=categoryNames
        }}
          {{t 'incident.labels.category'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='categoryItem'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='categoryItem'
          filteredBy=filteredBy
          filterType='list'
          filterValues=categoryItems
        }}
          {{t 'incident.labels.categoryItem'}}
        {{/sortable-column}}
        {{#sortable-column
          sortBy='localizedStatus'
          sortDesc=sortByDesc
          sortKey=sortByKey
          filterBy='localizedStatus'
          filteredBy=filteredBy
          filterType='list'
          filterValues=statusList
        }}
          {{t 'incident.labels.status'}}
        {{/sortable-column}}
        {{#if showActions}}
            <th>{{t 'incident.labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each sortedIncidents as |incident|}}
        <tr class="incident-row" {{action 'editItem' incident}}>
          <td class="incident-date">{{date-format incident.dateOfIncident}}</td>
          <td class="incident-department">{{incident.department}}</td>
          <td class="incident-category">{{incident.categoryName}}</td>
          <td class="incident-category-item">{{incident.categoryItem}}</td>
          <td class="incident-status">{{incident.localizedStatus}}</td>
          {{#if showActions}}
            <td>
              {{#if canAdd}}
                <button class="btn btn-default neutral" {{action 'editItem' incident  bubbles=false}}>{{t 'incident.buttons.edit'}}</button>
              {{/if}} {{#if canDelete}}
                <button class="btn btn-default warning" {{action 'showDeleteIncident' incident  bubbles=false}}><span class="octicon octicon-x"></span> {{t 'incident.buttons.delete'}}</button>
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      {{t 'incident.messages.noIncidents'}} {{#if canAdd}}<a href='#' {{action 'newItem'}}>{{t 'incident.messages.createNew'}}</a>{{/if}}
    </div>
  {{/if}}
{{/item-listing}}
