{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Reported By</th>
            <th>Location of Incident</th>
            <th>Date of Incident</th>
            <th>Incident Type Category</th>
            <th>Incident Tye Item</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each incident in incidentsList }}
                <tr {{action 'editIncident' this}}>
                  	<td>{{incident.reportedBy}}</td>
                    <td>{{incident.locationOfIncident}}</td>
                    <td>{{incident.date-format dateOfIncident}}</td>
                    <td>{{incident.categoryName}}</td>
					<td>{{incident.categoryItem}}</td>
                   {{#if parentController.showActions}}
                        <td>
                            {{#if parentController.canAdd}}
                                <button class="btn btn-default neutral" {{action 'editIncident' this  bubbles=false }}>Edit</button>
                            {{/if}}
                            {{#if parentController.canDelete}}
                                <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                            {{/if}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No Incidents found.</em>
       {{#if canAdd}}
            <em>Create a new Incident?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Incident</button>
        {{/if}}
    </div>
{{/if}}