{{#item-listing paginationProps=paginationProps }}
    {{#if hasRecords}}
        <table class="table">
            <tr class="table-header">
                <th>Incident ID</th>
                <th>Reported By</th>
                <th>Location of Incident</th>
                <th>Date of Incident</th>
                <th>Incident Type Category</th>
                <th>Incident Type Item</th>
                {{#if showActions}}
                    <th>Actions</th>
                {{/if}}
            </tr>
            {{#each model as |incident|}}
                    <tr {{action 'editItem' incident}}>
                        <td>{{incident.friendlyId}}</td>
                  	    <td>{{incident.reportedBy}}</td>
                        <td>{{incident.locationOfIncident}}</td>
                        <td>{{date-format incident.dateOfIncident}}</td>
                        <td>{{incident.categoryName}}</td>
					    <td>{{incident.categoryItem}}</td>
                        {{#if showActions}}
                            <td>
                                {{#if canAdd}}
                                    <button class="btn btn-default neutral" {{action 'editItem' incident  bubbles=false }}>Edit</button>
                                {{/if}}
                                {{#if canDelete}}
                                    <button class="btn btn-default warning" {{action 'showDeleteIncident' incident  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                {{/if}}
                            </td>
                        {{/if}}
                    </tr>
            {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No Incidents found.</em>
       {{#if canAdd}}
            <em>Create a new Incident?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Incident</button>
        {{/if}}
    </div>
{{/if}}
{{/item-listing}}