{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        {{#if showCategory}}
          <th>{{t 'labels.category'}}</th>
        {{/if}}
        <th>{{t 'labels.name'}}</th>
        <th>{{t 'labels.price'}}</th>
        <th>{{t 'labels.type'}}</th>
        <th>{{t 'labels.expenseTo'}}</th>
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |pricingItem|}}
        <tr {{action 'editItem' pricingItem}} class="clickable">
          {{#if showCategory}}
            <td>{{pricingItem.category}}</td>
          {{/if}}
          <td class="price-name">{{pricingItem.name}}</td>
          <td>{{pricingItem.price}}</td>
          <td>{{pricingItem.pricingType}}</td>
          <td>{{pricingItem.expenseAccount}}</td>
          {{#if showActions}}
            <td>
              {{#if canEdit}}
                <button class="btn btn-default neutral" {{action 'editItem' pricingItem bubbles=false }}>{{t 'labels.edit'}}</button>
              {{/if}}
              {{#if canDelete}}
                <button class="btn btn-default warning" {{action 'deleteItem' pricingItem bubbles=false }}>
                  <span class="octicon octicon-x"></span> {{t 'buttons.delete'}}
                </button>
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'billing.alerts.noPricingItems'}} {{#if canAdd}}<a href="#" {{action 'newItem'}}>{{t 'messages.createNewRecord'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
