{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            {{#if showCategory}}
                <th>Category</th>
            {{/if}}
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Expense Account</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr {{action 'editItem' this}}>
                    {{#if parentController.showCategory}}
                        <td>{{category}}</td>
                    {{/if}}
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{type}}</td>
                    <td>{{expenseAccount}}</td>
                    {{#if parentController.showActions}}
                        <td>
                            {{#if parentController.canEdit}}
                                <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                            {{/if}}
                            {{#if parentController.canDelete}}
                                <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                            {{/if}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <p>No pricing items found. {{#if canAdd}}<a href="#" {{action 'newItem'}}>Create a new record?</a>{{/if}}</p>
    </div>
{{/if}}