{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Date Requested</th>
            <th>Patient</th>
            <th>Imaging Type</th>
            <th>Notes</th>            
            {{#if canComplete}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with canComplete as canComplete}}
            {{#each}}
                <tr>
                    <td>{{date-format requestedDate}}</td>
                    <td>{{patient.displayName}}</td>
                    <td>{{imagingType}}</td>
                    <td>{{notes}}</td>
                    {{#if canComplete}}
                        <td>
                            <button class="btn btn-default" {{action 'completeItem' this}}>Complete</button>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.  Create a new record?</em> 
        {{#if canAdd}}
            <button class="btn btn-primary" {{action 'newItem'}}>New Imaging</button>
        {{/if}}
    </div>    
{{/if}}