{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Date Requested</th>
            <th>Patient</th>
            <th>Imaging Type</th>
            <th>Notes</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr {{action 'editItem' this}}>
                    <td>{{date-format requestedDate}}</td>
                    <td>{{patient.displayName}}</td>
                    <td>{{imagingType.name}}</td>
                    <td>{{notes}}</td>
                     {{#if parentController.showActions}}
                        <td>
                            {{#if parentController.canEdit}}
                                <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                            {{/if}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.</em>
        {{#if canAdd}}
            <em>Create a new record?</em>
            <button class="btn btn-primary" {{action 'newItem'}}>New Imaging</button>
        {{/if}}
    </div>
{{/if}}