{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>DOB</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr {{action 'editItem' this}}>
                    <td>{{id}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{gender}}</td>
                    <td>{{date-format dateOfBirth}}</td>
                    {{#if parentController.showActions}}
                        <td>
                            {{#if parentController.canAdd}}
                                <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                            {{/if}}
                            {{#if parentController.canDelete}}
                                <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                            {{/if}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No patients found.</em>
        {{#if canAdd}}
            <em>Create a new patient record?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Patient</button>
        {{/if}}
    </div>
{{/if}}