<div class="panel-group" id="social-accordion">
    {{#em-form model=this submit_button=false }}
        <div class="panel detail-section">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#social-accordion" href="#family-info">
                        Family Information
                        {{#if canAddSocialWork}}
                            <button class="btn btn-primary align-right" {{ action "showEditFamily" bubbles=false }}><span class="octicon octicon-plus"></span>Add Family Member</button>
                        {{/if}}
                    </a>
                </h3>
            </div>
            <div id="family-info" class="panel-collapse collapse in">
                <table class="table">
                    <tr class="table-header">
                        <th>Name</th>
                        <th>Age</th>
                        <th>Civil Status</th>
                        <th>Relation to Patient</th>
                        <th>Education</th>
                        <th>Occupation</th>
                        <th>Incomey</th>
                        <th>Insurance</th>
                        <th>Action</th>
                    </tr>
                    {{#with this as socialWorkController}}
                        {{#each familyInfo}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{age}}</td>
                                <td>{{civilStatus}}</td>
                                <td>{{relationship}}</td>
                                <td>{{education}}</td>
                                <td>{{occupation}}</td>
                                <td>{{income}}</td>
                                <td>{{insurance}}</td>
                                
                                <td>
                                    {{#if socialWorkController.canAddMedication}}
                                        <button class="btn btn-default neutral" {{action "showEditFamily" this}}>Edit</button>
                                    {{/if}}
                                    {{#if socialWorkController.canDeleteSocialWork}}
                                        <button class="btn btn-default warning" {{action "showDeleteFamily" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                    {{/if}}
                                    
                                </td>
                            </tr>
                        {{/each}}
                    {{/with}}
                </table>         
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#social-accordion" href="#expense-info">
                        Expenses
                        <button class="btn btn-primary align-right" {{action "showEditExpense" bubbles=false }}><span class="octicon octicon-plus"></span>Add Expense</button>
                    </a>
                </h3>
            </div>
            <div id="expense-info" class="panel-collapse collapse in">
                <table class="table">
                    <tr class="table-header">
                        <th>Category</th>
                        <th>Sources</th>
                        <th>Monthly Cost</th>
                    </tr>
                    {{#each expense}}
                        <tr>
                            <td>{{category}}</td>
                            <td>{{sources}}</td>
                            <td>{{cost}}</td>
                            <td>
                                <button class="btn btn-default warning" {{action "showDeleteExpense" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td colspan="2"><b>Total Monthly Expenses</b></td>
                        <td>{{totalExpenses}}</td>
                    </tr>
                </table>         
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#social-accordion" href="#additional-info">
                        Additional Information
                    </a>
                </h3>
            </div>
            <div id="additional-info" class="panel-collapse collapse in">
                {{em-text label="Other support or income" property="otherIncome"}}

                <div class="form-group">
                    <label>Living Arrangement</label>
                    {{ext-radio name=additionalData.livingArrangement content=livingArrangementList value=additionalData.livingArrangement includeOtherOption=true otherOptionLabel="Other" }}
                </div>
                <div class="form-group">
                    <label>Family Support Systems</label>
                    {{em-checkbox label="Family members are living together" property="additionalData.familySupport1"}}
                    {{em-checkbox label="Family members listen, care and help one another" property="additionalData.familySupport2"}}
                    {{em-checkbox label="Spend time together in prayer especially in difficult times" property="additionalData.familySupport3"}}
                    {{em-checkbox label="Family and closest relatives have open communication" property="additionalData.familySupport4"}}
                    {{em-checkbox label="Has relatives around who are responsive to families needs" property="additionalData.familySupport5"}}
                </div>
                {{em-text label="Family practices" property="additionalData.familyPractices"}}
                {{em-text label="Family Spiritual Needs" property="additionalData.familySpiritualNeeds"}}
                {{em-select label="Philhealth" 
                    property="additionalData.philhealth" content=philhealthTypes
                    optionValuePath="content" optionLabelPath="content"
                    selected=additionalData.philhealth
                }}

                {{em-select label="Classification" 
                    property="economicClassification" content=economicClassificationTypes
                    optionValuePath="content" optionLabelPath="content"
                    selected=economicClassification
                }}
                {{em-text label="Other Notes" property="notes"}}
            </div>
        </div>
    {{/em-form}}
</div>
