<section>
    <header id='header'>
        <h1>Inventory</h1>
        <label>Name</label>{{input type='text' value=newName}}<br/>
        <label>Description</label>{{input type='password' value=newDesc}}<br/>
        <label>Quantity</label>{{input type='text' value=newQuantity}}<br/>
        <label>SCANNED VALUE:</label>{{newScan}}<br/>
        <br/>
        <button {{action 'newInventoryItem'}}>Add</button>
        <br/>
        <label>Search</label>
        {{text-search valueBinding="searchText"}}
    </header>
</section>
<section id='main'>
    {{outlet}}
</section>
