{{#modal-dialog
    additionalButtons=additionalButtons
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText
  }}
  {{#em-form model=model submitButton=false }}
    {{#if model.isNew}}
      {{select-or-typeahead
          property="diagnosis"
          label=(t 'diagnosis.labels.diagnosis')
          list=diagnosisList
          hint=false
          class="diagnosis-text required"
      }}
    {{else}}
      <div class="form-group">
        <label class="control-label">{{t 'diagnosis.labels.diagnosis'}}</label>
        <div>
          <p class="form-control-static">{{model.diagnosis}}</p>
        </div>
      </div>
    {{/if}}
    <div class="row">
      {{date-picker property="date" label=(t "diagnosis.labels.date") class="col-sm-4 required"}}
    </div>
    <div class="row">
      {{em-checkbox label=(t 'diagnosis.labels.secondaryDiagnosis') property="secondaryDiagnosis" class="col-sm-4 secondary-diagnosis"}}
      {{#unless model.isNew}}
        {{em-checkbox label=(t 'diagnosis.labels.activeDiagnosis') property="active" class="col-sm-4"}}
      {{/unless}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
