{{#edit-panel editPanelProps=editPanelProps}}
  <div class="panel panel-primary">
    <div class="panel-body">
      {{#em-form model=model submitButton=false as |form|}}
        {{form.checkbox label=(t 'admin.workflow.admissionDepositLabel') property="value.admissionDeposit"}}
        {{form.checkbox label=(t 'admin.workflow.clinicPrepaymentLabel') property="value.clinicPrepayment"}}
        {{form.checkbox label=(t 'admin.workflow.followupPrepaymentLabel') property="value.followupPrepayment"}}
        {{form.checkbox label=(t 'admin.workflow.outpatientLabLabel') property="value.outpatientLabPrepayment"}}
        {{form.checkbox label=(t 'admin.workflow.outpatientImagingLabel') property="value.outpatientImagingPrepayment"}}
        {{form.checkbox label=(t 'admin.workflow.outpatientMedicationLabel') property="value.outpatientMedicationPrepayment"}}
      {{/em-form}}
    </div>
  </div>
{{/edit-panel}}
