{{#if model}}
    <table class="table">
        <tr class="table-header">
            <th>Date</th>
            <th>Patient</th>
            <th>Medication</th>
            <th>Quantity</th>        
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {{#each}}

            <tr>
                <td>{{date-format prescriptionDate}}</td>
                <td>{{patient.displayName}}</td>
                <td>{{inventoryItem.name}}</td>
                <td>{{quantity}}</td>
                <td>{{status}}</td>
                <td>
                    <button class="btn btn-default" {{action 'editItem' this}}>Fulfill</button>
                </td>        
            </tr>
        {{/each}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.  Create a new record?</em> <button class="btn btn-primary" {{action 'newItem'}}>New Medication Request</button>
    </div>
{{/if}}
