{{#item-listing paginationProps=paginationProps }}
  {{#if model}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.date'}}</th>
        <th>{{t 'labels.patient'}}</th>
        <th>{{t 'labels.prescriber'}}</th>
        <th>{{t 'labels.medication'}}</th>
        <th>{{t 'labels.quantity'}}</th>
        <th>{{t 'labels.status'}}</th>
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |medicationRequest|}}
        <tr {{action 'editItem' medicationRequest}} class="clickable">
          <td>{{date-format medicationRequest.prescriptionDate}}</td>
          <td>{{medicationRequest.patient.displayName}}</td>
          <td>{{medicationRequest.requestedBy}}</td>
          <td>{{medicationRequest.medicationName}}</td>
          <td>{{medicationRequest.quantity}}</td>
          <td>{{medicationRequest.status}}</td>
          {{#if showActions}}
            <td>
              <button class="btn btn-default" {{action 'editItem' medicationRequest bubbles=false }}>{{t 'labels.fulfill'}}</button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'messages.noItemsFound'}} {{#if canAdd}}<a href="#" {{action 'newItem'}}>{{t 'medication.messages.createNew'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
