{{#if model}}
    <table class="table">
        <tr class="table-header">
            <th>Date</th>
            <th>Patient</th>
            <th>Medication</th>
            <th>Quantity</th>        
            <th>Status</th>
            {{#if showActions}}
                <th>Actions</th>
            {{/if}}
        </tr>
        {{#with showActions as showActions}}
            {{#each}}
                <tr>
                    <td>{{date-format prescriptionDate}}</td>
                    <td>{{patient.displayName}}</td>
                    <td>{{inventoryItem.name}}</td>
                    <td>{{quantity}}</td>
                    <td>{{status}}</td>
                    {{#if showActions}}
                        <td>
                            <button class="btn btn-default" {{action 'editItem' this}}>Fulfill</button>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.</em> 
        {{#if canAdd}}
            <em>Create a new medication request?</em> 
            <button class="btn btn-primary" {{action 'newItem'}}>New Medication Request</button>
        {{/if}}
    </div>
{{/if}}
