{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    <div class="row">
      {{date-picker property="dateReceived" label=(t 'inventory.labels.dateReceived') class="col-sm-4 required"}}
      {{select-or-typeahead property="vendor" label=(t 'inventory.labels.vendor') list=vendorList selection=model.vendor className="col-sm-4 required test-vendor"}}
      {{em-input property="invoiceNo" label=(t 'inventory.labels.invoiceNumber') class="col-sm-4 test-invoice-number"}}
    </div>
    <div class="form-group row">
      {{select-or-typeahead property="location" label=(t 'inventory.labels.location') list=warehouseList selection=model.location className="col-sm-5"}}
      {{select-or-typeahead property="aisleLocation" label=(t 'inventory.labels.aisleLocation') list=aisleLocationList selection=model.aisleLocation className="col-sm-5"}}
      <div class="col-sm-2 checkbox-label-space">
        <div class="form-check">
          <label class="control-label sr-only">{{t 'inventory.labels.gift'}}</label>
          {{em-checkbox label=(t 'inventory.labels.gift') property="giftInKind"}}
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'inventory.labels.invoiceLineItem'}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          {{inventory-typeahead
            class="col-sm-7 required test-inv-item"
            property="inventoryItemTypeAhead"
            label=(t 'inventory.labels.inventoryItem')
            content=inventoryList
            selection=selectedInventoryItem
            showQuantity=false
          }}
          {{number-input property="quantity" label=(t 'labels.quantity') class="col-sm-2 required test-inv-quantity"}}
          <div class="form-group col-sm-1">
            <label class="control-label">{{t 'inventory.labels.unit'}}</label>
            {{#if showDistributionUnit}}
              <p class="form-control-static">{{model.inventoryItem.distributionUnit}}</p>
            {{/if}}
          </div>
          {{number-input property="purchaseCost" label=(t 'inventory.labels.purchaseCost') class="col-sm-2 required test-inv-cost"}}
        </div>
        <div class="row">
          {{em-input property="vendorItemNo" label=(t 'inventory.labels.vendorItemNumber') class="col-sm-4"}}
          {{em-input property="lotNumber" label=(t 'inventory.labels.serialNumber') class="col-sm-4"}}
          {{date-picker property="expirationDate" label=(t 'inventory.labels.expirationDate') minDate="now" class="col-sm-2"}}
          <div class="form-group col-sm-2">
            <label class="control-label">&nbsp;</label>
            <p class="form-control-static">
              <button class="btn btn-primary" {{action "addInventoryItem"}}>
                <span class="octicon octicon-plus"></span> {{t 'inventory.labels.add'}}
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    {{#if model.invoiceItems}}
      <h3>{{t 'inventory.labels.invoiceItems'}}</h3>
      <table class="table">
        <tr class="table-header">
          <th>{{t 'inventory.labels.name'}}</th>
          <th>{{t 'labels.quantity'}}</th>
          <th>{{t 'inventory.labels.cost'}}</th>
          <th>{{t 'inventory.labels.itemNumber'}}</th>
          <th>{{t 'inventory.labels.serialNumber'}}</th>
          <th>{{t 'inventory.labels.expirationDate'}}</th>
          <th>{{t 'inventory.labels.action'}}</th>
        </tr>
        {{#each model.invoiceItems as |invoiceItem|}}
          <tr>
            <td class="col-sm-2">
              {{invoiceItem.inventoryItem.name}}
            </td>
            <td class="col-sm-2">
              <div class="input-group">
                {{input class="form-control" value=invoiceItem.quantity }}
                <span class="input-group-addon">
                  {{invoiceItem.inventoryItem.distributionUnit}}
                </span>
              </div>
            </td>
            <td class="col-sm-2">
              <div class="form-group">
                {{input class="form-control" value=invoiceItem.purchaseCost }}
              </div>
            </td>
            <td class="col-sm-2">
              <div class="form-group">
                {{input class="form-control" value=invoiceItem.vendorItemNo }}
              </div>
            </td>
            <td class="col-sm-2">
              <div class="form-group">
                {{input class="form-control" value=invoiceItem.lotNumber }}
              </div>
            </td>
            <td class="col-sm-2">
              {{date-picker property="expirationDate" minDate="now" model=invoiceItem }}
            </td>
            <td class="col-sm-1">
              <button class="btn btn-default warning" {{action "showRemoveItem" invoiceItem bubbles=false }}>
                <span class="octicon octicon-x"></span>{{t 'inventory.labels.remove'}}
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
      <h4>{{t 'inventory.labels.totalReceived' total=totalReceived}}</h4>
    {{/if}}
  {{/em-form}}
{{/edit-panel}}
