{{#em-form model=this submit_button=false }}
<div class="row">
    {{date-picker property="dateReceived" label="Date Received" class="col-sm-4 required"}}
    {{select-or-typeahead property="vendor" label="Vendor" list=vendorList selection=vendor className="col-sm-4 required"}}
    {{em-input property="invoiceNo" label="Invoice Number" class="col-sm-4"}}
</div>
<div class="row">    
    {{select-or-typeahead property="location" label="Location" list=warehouseList selection=location className="col-sm-5"}}
    {{select-or-typeahead property="aisleLocation" label="Aisle Location" list=aisleLocationList selection=aisleLocation className="col-sm-5"}}
    <div class="form-group col-sm-2">
        <label class="control-label">Gift In Kind</label>
        {{em-checkbox label="Gift In Kind" property="giftInKind"}}
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Invoice Line Item</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {{inventory-typeahead 
                class="col-sm-7 required"
                property="inventoryItemTypeAhead" 
                label="Inventory Item" 
                content=inventoryList 
                selection=selectedInventoryItem
                showQuantity=false
            }}
            {{em-input property="quantity" label="Quantity" class="col-sm-2 required"}}    
             <div class="form-group col-sm-1">
                <label class="control-label">Unit</label>
                {{#if showDistributionUnit}}
                    <p class="form-control-static">{{inventoryItem.distributionUnit}}</p>
                {{/if}}                 
            </div>
            {{em-input property="purchaseCost" label="Purchase Cost" class="col-sm-2 required"}}
        </div>
        <div class="row">
            {{em-input property="vendorItemNo" label="Vendor Item Number" class="col-sm-4"}}
            {{em-input property="lotNumber" label="Serial/Lot Number" class="col-sm-4"}}
            {{date-picker property="expirationDate" label="Expiration Date" minDate="now" class="col-sm-2"}}
            <div class="form-group col-sm-2">
                <label class="control-label">&nbsp;</label>
                <p class="form-control-static">
                    <button class="btn btn-primary" {{action "addInventoryItem"}}>
                        <span class="octicon octicon-plus"></span> Add
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
{{#if invoiceItems}}
    <h3>Invoice Items</h3>
    <table class="table">
        <tr class="table-header">
            <th>Name</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Item Number</th>
            <th>Serial/Lot Number</th>        
            <th>Expiration Date</th>
            <th>Action</th>
        </tr>
        {{#each invoiceItems}}
            <tr>
                <td class="col-sm-2">
                    {{inventoryItem.name}}
                </td>
                <td class="col-sm-2">
                     <div class="input-group">
                        {{input class="form-control" value=quantity }}
                        <span class="input-group-addon">
                        {{inventoryItem.distributionUnit}}
                         </span>
                    </div>
                </td>
                <td class="col-sm-2">
                    <div class="form-group">
                        {{input class="form-control" value=purchaseCost }}
                    </div>
                </td>
                <td class="col-sm-2">
                    <div class="form-group">
                        {{input class="form-control" value=vendorItemNo }}
                    </div>
                </td>
                <td class="col-sm-2">
                    <div class="form-group">
                        {{input class="form-control" value=lotNumber }}
                    </div>
                </td>                
                <td class="col-sm-2">
                    {{date-picker property="expirationDate" minDate="now" model=this }}
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-default warning" {{action "showRemoveItem" this bubbles=false }}>
                        <span class="octicon octicon-x"></span>Remove
                    </button>
                </td>
            </tr>
        {{/each}}
    </table>
    <h4>Total Received: {{totalReceived}}</h4>
{{/if}}
        
{{/em-form}}