{{#item-listing}}
  <table class="table">
    <tr class="table-header">
      <th>{{t 'labels.name'}}</th>
    <th>{{t 'labels.type'}}</th>
      {{#if showActions}}
        <th>{{t 'labels.actions'}}</th>
      {{/if}}
    </tr>
    {{#each model as |customForm|}}
      {{#unless customForm.archived}}
        <tr {{action 'editItem' customForm}} class="clickable">
          <td class="custom-form-name">{{customForm.name}}</td>
          <td>
            {{#if customForm.formType}}
              {{t (concat 'admin.customForms.labels.' customForm.formType 'FormType')}}
            {{/if}}
          </td>
          {{#if showActions}}
            <td>
              {{#if canEdit}}
                <button class="btn btn-default neutral" {{action 'editItem' customForm bubbles=false }}>{{t 'labels.edit'}}</button>
              {{/if}}
              {{#if canDelete}}
                <button class="btn btn-default warning" {{action 'deleteItem' customForm bubbles=false }}>
                  <span class="octicon octicon-x"></span> {{t 'buttons.delete'}}
                </button>
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/unless}}
    {{/each}}
  </table>
{{/item-listing}}
