{{#em-form model=this submit_button=false}}    
    {{#if canEditQuantity}}
        {{quantity-calc  calculated=quantity targetUnit="pill" targetUnitName="pills"}}
    {{else}}
        <div class="form-group">
            <label>Quantity</label>
            {{input class="form-control" value=originalQuantity type="text" disabled=true}}                    
        </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-4">
            {{em-input property="batchCost" label="Batch Cost"}}
        </div>
        <div class="col-sm-4">
            {{em-input property="batchNo" label="Batch Number"}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Expiration Date</label>
            {{date-picker-input controls="my-datepicker" value=expirationDate class="form-control" dateFormat="l"}}
            {{date-picker-controls id="my-datepicker" minYear="+0" maxYear="+100"}}        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{em-input property="vendor" label="Vendor"}}
        </div>
        <div class="col-sm-6">
            {{em-input property="vendorItemNo" label="Vendor Item Number"}}
        </div>
    </div>
    {{type-ahead property="location" label="Location" content=warehouseList.value selection=location}}
    {{type-ahead property="aisleLocation" label="Aisle Location" content=aisleLocationList.value selection=aisleLocation}}
    {{em-checkbox label="Gift In Kind" property="giftInKind"}}
{{/em-form}}