<div class="panel panel-info">
    <div class="panel-body">
        {{#em-form model=model submitButton=false as |form|}}
          <div class="row">
              {{form.select class="col-sm-3 form-input-group"
                label=(t "models.appointment.labels.status")
                property="selectedStatus"
                content=appointmentStatusesWithEmpty
              }}
              {{form.select class="col-sm-3 form-input-group"
                label=(t "models.appointment.labels.type")
                property="selectedAppointmentType"
                content=visitTypesWithEmpty
              }}
              {{form.select class="col-sm-3 form-input-group"
                label=(t 'models.appointment.labels.provider')
                property="selectedProvider"
                content=physicianList
              }}
              {{form.select class="col-sm-3 form-input-group"
                label=(t 'models.appointment.labels.location')
                property="selectedLocation"
                content=locationList
              }}
          </div>
        {{/em-form}}
        <div class="panel-footer">
          <button class="btn btn-default warning" {{action 'clearFilteringCriteria'}}>{{t 'buttons.clear'}}</button>
          <button class="btn btn-primary" {{action 'filter'}}>{{t 'buttons.filter'}}</button>
        </div>
        {{calendar-control events=model.events
          defaultDate=calendarDate
          defaultView=viewType
          onDayClick=(action "createNewAppointment")
          onEventClick=(action "navigateToAppointment")
          onEventDrop=(action "updateAppointment")
          onEventResize=(action "updateAppointment")
          onVisualConfigurationChanged=(action "handleVisualConfigurationChanged")
          userCanEdit=canEdit
        }}
  </div>
</div>
