<div class="panel panel-info">
    <div class="panel-body">
        {{#em-form submitButton=false}}
        <div class="row">
            {{em-select class="col-sm-3"
                label=(t "labels.status")
            }}
            {{em-select class="col-sm-3"
                label=(t "labels.type")
            }}
        </div>
        <div class="row">
            {{em-select class="col-sm-3"
                label=(t 'labels.with')
            }}
        </div>
        {{/em-form}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'filter'}}>{{t 'buttons.filter'}}</button>
    </div>
</div>
{{full-calendar events=model
    header=calendarHeader
    eventClick=(action "navigateToAppointment")
}}
