{{#item-listing paginationProps=paginationProps }}
  {{#if model}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'models.lab.labels.requestedDate'}}</th>
        <th>{{t 'models.lab.labels.labDate'}}</th>
        <th>{{t 'models.lab.labels.patient'}}</th>
        <th>{{t 'models.lab.labels.requestedBy'}}</th>
        <th>{{t 'models.lab.labels.labType'}}</th>
        <th>{{t 'models.lab.labels.result'}}</th>
        <th>{{t 'models.lab.labels.notes'}}</th>
      </tr>
      {{#each model as |lab|}}
        {{labs/completed/labs-completed-list-item lab=lab}}
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'labs.messages.noCompleted'}}</p>
    </div>
  {{/if}}
{{/item-listing}}
