{{#item-listing paginationProps=paginationProps }}
  {{#if model}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.date_requested'}}</th>
        <th>Date Completed</th>
        <th>{{t 'labels.patient'}}</th>
        <th>Lab Type</th>
        <th>Results</th>
        <th>{{t 'labels.notes'}}</th>
      </tr>
      {{#each model as |lab|}}
        <tr>
          <td>{{date-format lab.requestedDate}}</td>
          <td>{{date-format lab.labDate}}</td>
          <td>{{lab.patient.displayName}}</td>
          <td>{{lab.labType.name}}</td>
          <td>{{lab.result}}</td>
          <td>{{lab.notes}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>No completed items found.</p>
    </div>
  {{/if}}
{{/item-listing}}
