{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'incident.titles.incidentCategoryName'}}</th>
        <th>{{t 'incident.labels.actions'}}</th>
      </tr>
      {{#each model as |category|}}
        {{#unless category.archived}}
          <tr {{action 'editItem' category}}>
            <td class="incident-catergory-name">{{category.incidentCategoryName}}</td>
            <td>
                <button class="btn btn-default neutral" {{action 'editItem' category  bubbles=false }}>{{t 'incident.buttons.edit'}}</button>
                {{#if canDeleteIncidentCategory}}
                  <button class="btn btn-default warning" {{action 'showDeleteIncidentCategory' category  bubbles=false }}><span class="octicon octicon-x"></span>{{t 'incident.buttons.delete'}}</button>
                {{/if}}
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <em>{{t 'incident.messages.noIncidentCategoriesFound'}}</em>
      <em>{{t 'incident.messages.createNewIncidentCategory'}}</em>
      <button class="btn btn-primary on-white" {{action 'newItem'}}>{{t 'incident.buttons.newCategory'}}</button>
    </div>
 {{/if}}
{{/item-listing}}
