{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false as |form|}}
    {{select-or-typeahead form=form model=model className="required procedure-description" property="description"
      label="Procedure" list=procedureList
      selection=model.description hint=false
    }}
    <div class="row">
      {{select-or-typeahead form=form model=model className="col-xs-6" property="cptCode"
        label="CPT Code" list=cptCodeList
        selection=model.cptCode
      }}
    </div>
    <div class="row">
      {{select-or-typeahead form=form model=model className="col-sm-3" property="location"
        label="Procedure Location" list=procedureLocations
        selection=model.location
      }}
      {{date-picker model=model originalProperty="procedureDate" property="display_procedureDate"  label="Procedure Date" class="col-sm-3 required"}}
      {{form.input property="timeStarted" label="Time Started" class="col-sm-3"}}
      {{form.input property="timeEnded" label="Time Ended" class="col-sm-3"}}
    </div>
    <div class="row">
      {{select-or-typeahead form=form model=model className="col-sm-4 required procedure-physician" property="physician"
        label="Physician" list=physicianList
        selection=model.physician
      }}
      {{select-or-typeahead form=form model=model className="col-sm-4" property="assistant"
        label="Assistant" list=physicianList
        selection=model.assistant prompt=" "
      }}
      {{select-or-typeahead form=form model=model className="col-sm-4" property="anesthesiologist"
        label="Anesthesiologist" list=anesthesiologistList
        selection=model.anesthesiologist
      }}
    </div>
    <div class="row">
      {{select-or-typeahead form=form model=model className="col-sm-4" property="anesthesiaType"
        label="Anesthesia Type" list=anesthesiaTypes
        selection=model.anesthesiaTypes
      }}
    </div>
    {{expand-text label="Notes" property="notes" rows=3 class="procedure-notes" form=form}}
    {{partial 'item-charges'}}
    <div class="panel detail-section medication-charges">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'procedures.titles.medicationUsed'}}
          {{#if canAddCharge}}
            <button class="btn btn-primary align-right" {{action "showAddMedication" bubbles=false }}>
              <span class="octicon octicon-plus"></span>{{t 'procedures.buttons.addMedication'}}
            </button>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body detail-section-content">
        <table class="table">
          <tr class="table-header">
            <th>{{t 'inventory.labels.item'}}</th>
            <th>{{t 'labels.quantity'}}</th>
            <th>{{t 'labels.action'}}</th>
          </tr>
          {{#each model.charges as |charge|}}
            {{#if charge.medicationCharge}}
              <tr>
                <td>{{charge.medicationName}}</td>
                <td class="medication-charge-quantity">{{charge.quantity}}</td>
                <td>
                  {{#if canAddCharge}}
                    <button class="btn btn-default neutral" {{action "showEditMedication" charge}}>{{t 'labels.edit'}}</button>
                  {{/if}}
                  {{#if canAddCharge}}
                    <button class="btn btn-default warning" {{action "showDeleteMedication" charge bubbles=false }}>
                      <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                    </button>
                  {{/if}}
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </table>
      </div>
    </div>
    <div class="panel-body detail-section-content">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'patients.navigation.photos'}}
          {{#if canAddPhoto}}
            <button type="button" class="btn btn-primary align-right" {{action "showAddPhoto" bubbles=false }}>
              <span class="octicon octicon-plus"></span>{{t 'patients.buttons.newPhoto'}}
            </button>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body detail-section-content">
        <div class="row">
          {{#each model.photos as |photo|}}
            <div class="col-sm-4 col-md-3">
              <div {{action "editPhoto" photo}} class="thumbnail">
                {{photo-display photo=photo }}
                <div class="caption">
                  {{photo.caption}}
                  <p>
                    {{#if canAddPhoto}}
                      <button type="button" class="btn btn-default neutral" {{action "editPhoto" photo}}>{{t 'labels.edit'}}</button>
                    {{/if}}
                    {{#if canDeletePhoto}}
                      <button type="button" class="btn btn-default warning" {{action "showDeletePhoto" photo bubbles=false }}>
                        <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                      </button>
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/em-form}}
{{/edit-panel}}
