{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{select-or-typeahead className="required procedure-description" property="description"
      label="Procedure" list=procedureList
      selection=model.description hint=false
    }}
    <div class="row">
      {{select-or-typeahead className="col-xs-6" property="cptCode"
        label="CPT Code" list=cptCodeList
        selection=model.cptCode
      }}
    </div>
    <div class="row">
      {{select-or-typeahead className="col-sm-3" property="location"
        label="Procedure Location" list=procedureLocations
        selection=model.location
      }}
      {{date-picker property="procedureDate" label="Procedure Date" class="col-sm-3 required"}}
      {{em-input property="timeStarted" label="Time Started" class="col-sm-3"}}
      {{em-input property="timeEnded" label="Time Ended" class="col-sm-3"}}
    </div>
    <div class="row">
      {{select-or-typeahead className="col-sm-4 required procedure-physician" property="physician"
        label="Physician" list=physicianList
        selection=model.physician
      }}
      {{select-or-typeahead className="col-sm-4" property="assistant"
        label="Assistant" list=physicianList
        selection=model.assistant prompt=" "
      }}
      {{select-or-typeahead className="col-sm-4" property="anesthesiologist"
        label="Anesthesiologist" list=anesthesiologistList
        selection=model.anesthesiologist
      }}
    </div>
    <div class="row">
      {{select-or-typeahead className="col-sm-4" property="anesthesiaType"
        label="Anesthesia Type" list=anesthesiaTypes
        selection=model.anesthesiaTypes
      }}
    </div>
    {{em-text label="Notes" property="notes" rows=3 class="procedure-notes"}}
    {{partial 'item-charges'}}
    <div class="panel detail-section medication-charges">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'procedures.titles.medicationUsed'}}
          {{#if canAddCharge}}
            <button class="btn btn-primary align-right" {{action "showAddMedication" bubbles=false }}>
              <span class="octicon octicon-plus"></span>{{t 'procedures.buttons.addMedication'}}
            </button>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body detail-section-content">
        <table class="table">
          <tr class="table-header">
            <th>{{t 'inventory.labels.item'}}</th>
            <th>{{t 'labels.quantity'}}</th>
            <th>{{t 'labels.action'}}</th>
          </tr>
          {{#each model.charges as |charge|}}
            {{#if charge.medicationCharge}}
              <tr>
                <td>{{charge.medicationName}}</td>
                <td class="medication-charge-quantity">{{charge.quantity}}</td>
                <td>
                  {{#if canAddCharge}}
                    <button class="btn btn-default neutral" {{action "showEditMedication" charge}}>{{t 'labels.edit'}}</button>
                  {{/if}}
                  {{#if canAddCharge}}
                    <button class="btn btn-default warning" {{action "showDeleteMedication" charge bubbles=false }}>
                      <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                    </button>
                  {{/if}}
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </table>
      </div>
    </div>
  {{/em-form}}
{{/edit-panel}}
