{{#em-form model=this submit_button=false }}
    {{icd10-pcs-typeahead property="description" label="Procedure" selection=billingId class="required"}}
    <div class="row">
        {{select-or-typeahead class="col-sm-3" property="location"
            label="Procedure Location" list=procedureLocations
            selection=location
        }}  
        {{date-picker property="procedureDate" label="Procedure Date" class="col-sm-3 required"}}
        {{em-input property="timeStarted" label="Time Started" class="col-sm-3"}}
        {{em-input property="timeEnded" label="Time Ended" class="col-sm-3"}}
    </div>
    <div class="row">
        {{select-or-typeahead class="col-sm-4 required" property="physician"
            label="Physician" list=physicianList
            selection=physician
        }}
        {{select-or-typeahead class="col-sm-4" property="assistant"
            label="Assistant" list=physicianList
            selection=assistant prompt=" "
        }}
        {{select-or-typeahead class="col-sm-4" property="anesthesiologist"
            label="Anesthesiologist" list=anesthesiologistList
            selection=anesthesiologist
        }}
    </div>
    <div class="row">
        {{select-or-typeahead class="col-sm-4" property="anesthesiaType"
            label="Anesthesia Type" list=anesthesiaTypes
            selection=anesthesiaTypes
        }}
        {{em-input property="oxygenHours" label="Oxygen Hours" class="col-sm-2"}}
        {{em-input property="pacuHours" label="PACU Hours" class="col-sm-2"}}
        
    </div>
    {{em-text label="Notes" property="notes" rows=3 }}
    {{partial 'item-charges'}}
{{/em-form}}
