<div class="panel panel-primary">
  <div class="panel-body">
    {{#em-form model=this submitButton=false as |form|}}
      <div class="row">
        <div class="form-group col-xs-6">
          <label class="control-label" for="report-type">{{t 'inventory.reports.reportType'}}</label>
          {{select-list
            action=(action (mut reportType))
            class='form-control'
            content=reportTypes
            id='report-type'
            optionValuePath='value'
            optionLabelPath='name'
            value=reportType
          }}
        </div>
        {{#unless hideLocationFilter}}
          {{form.select class="col-xs-6" label=(t 'inventory.labels.location')
            property="filterLocation" content=warehouseList
            prompt=" "
          }}
        {{/unless}}
      </div>
      <div class="row">
        {{#if showEffectiveDate}}
          {{date-picker model=this originalPropery="endDate" property="display_endDate"  label=(t 'inventory.labels.dateEffective') class="col-sm-4"}}
        {{else}}
          {{date-picker model=this originalPropery="startDate" property="display_startDate"  label=(t 'inventory.labels.dateStart') class="col-sm-4 test-start-date"}}
          {{date-picker model=this originalPropery="endDate" property="display_endDate"  label=(t 'inventory.labels.dateEnd') class="col-sm-4 test-end-date"}}
        {{/if}}
      </div>
      {{#if useFieldPicker}}
        <h3>{{t 'inventory.reports.fields'}}</h3>
        <div class="row">
          <div class="col-xs-1"></div>
          {{#if includeDate}}
            {{form.checkbox label=reportColumns.date.label property="reportColumns.date.include" class="col-xs-2"}}
          {{/if}}
          {{form.checkbox label=reportColumns.id.label property="reportColumns.id.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.name.label property="reportColumns.name.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.description.label property="reportColumns.description.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.type.label property="reportColumns.type.include" class="col-xs-2"}}
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.quantity.label property="reportColumns.quantity.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.unit.label property="reportColumns.unit.include" class="col-xs-2"}}
          {{#if includeCostFields}}
            {{form.checkbox label=reportColumns.total.label property="reportColumns.total.include" class="col-xs-2"}}
            {{form.checkbox label=reportColumns.unitcost.label property="reportColumns.unitcost.include" class="col-xs-2"}}
          {{/if}}
          {{#if includeDaysLeft}}
            {{form.checkbox label=reportColumns.consumedPerDay.label property="reportColumns.consumedPerDay.include" class="col-xs-2"}}
            {{form.checkbox label=reportColumns.daysLeft.label property="reportColumns.daysLeft.include" class="col-xs-2"}}
          {{/if}}
          {{form.checkbox label=reportColumns.price.label property="reportColumns.price.include" class="col-xs-2"}}
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.reorder.label property="reportColumns.reorder.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.gift.label property="reportColumns.gift.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.locations.label property="reportColumns.locations.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.aisle.label property="reportColumns.aisle.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.xref.label property="reportColumns.xref.include" class="col-xs-2"}}

        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.vendor.label property="reportColumns.vendor.include" class="col-xs-2"}}
          {{#if includeExpenseAccount}}
            {{form.checkbox label=reportColumns.expenseAccount.label property="reportColumns.expenseAccount.include" class="col-xs-2"}}
          {{/if}}
          {{#if includeTransactionType}}
            {{form.checkbox label=reportColumns.transactionType.label property="reportColumns.transactionType.include" class="col-xs-2"}}
          {{/if}}
        </div>
      {{/if}}

    {{/em-form}}
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" {{action 'generateReport'}}>{{t 'inventory.reports.generate'}}</button>
  </div>
</div>
{{#if showReportResults}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{reportTitle}}{{nav-paging paginationProps=paginationProps }}</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr class="table-header">
          {{#each reportHeaders as |reportHeader|}}
            <th>
              {{reportHeader}}
            </th>
          {{/each}}
        </tr>
        {{partial "report-rows"}}
      </table>
    </div>
    <div class="panel-footer">
      <a href={{csvExport}} target="_blank" download="{{reportTitle}}.csv" class="btn btn-primary">{{t 'inventory.reports.export'}}</a>

    </div>
  </div>
{{/if}}
