<div class="panel panel-primary">
  <div class="panel-body">
    {{#em-form model=model submitButton=false }}
      {{file-upload label=(t 'labels.fileToLoad') property="importFileName" selectedFile=importFile }}
      <button class="btn btn-default" {{action 'loadFile'}}>{{t 'buttons.loadFile'}}</button>
    {{/em-form}}
    {{#if syncResults}}
      <h4>{{t 'labels.fileLoadSuccessful'}}</h4>
      <div class="form-group col-xs-4">
        <label>{{t 'labels.fileName'}}</label>
        <p class="form-control-static">{{fileImportedName}}</p>
      </div>
      <div class="form-group col-xs-2">
        <label>{{t 'labels.startTime'}}</label>
        <p class="form-control-static">{{date-format syncResults.start_time format="l h:mm A"}}</p>
      </div>
      <div class="form-group col-xs-2">
        <label>{{t 'labels.endTime'}}</label>
        <p class="form-control-static">{{date-format syncResults.end_time format="l h:mm A"}}</p>
      </div>
      <div class="form-group col-xs-2">
        <label>{{t 'labels.docRead'}}</label>
        <p class="form-control-static">{{syncResults.docs_read}}</p>
      </div>
      <div class="form-group col-xs-2">
        <label>{{t 'labels.docWritten'}}</label>
        <p class="form-control-static">{{syncResults.docs_written}}</p>
      </div>
    {{/if}}
  </div>
</div>
