{{#modal-dialog
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText
    updateButtonClass='update-payment-btn'}}
  {{#em-form model=model submitButton=false }}
    {{#if model.isNew}}
      {{#if selectPatient}}
        {{patient-typeahead property="patientTypeAhead" label=(t 'labels.patient') content=patientList selection=selectedPatient class="required payment-patient"}}
      {{else}}
        <div class="form-group">
          <label>{{t 'labels.patient'}}</label>
          <p class="form-control-static">{{model.invoice.patient.displayName}}</p>
        </div>
      {{/if}}
    {{/if}}
    {{number-input property="amount" label=(t 'labels.amount') class="required payment-amount"}}
    {{date-picker property="datePaid" label=(t 'labels.datePaid') maxDate="now" class="required"}}
    {{select-or-typeahead property="expenseAccount" label=(t 'labels.creditTo') list=expenseAccountList selection=model.expenseAccount }}
    {{em-text property="notes" label=(t 'labels.notes')}}
  {{/em-form}}
{{/modal-dialog}}
