<div class="panel panel-default">
  <div class="panel-body">
    <img src={{barcodeUri}}>
  </div>
</div>

{{#if havePrinters}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'inventory.labels.printBarcode'}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        {{#unless singlePrinter}}
          <label for="printerSelect">{{t 'inventory.labels.printer'}}</label>
          {{select-list
            content=printers
            optionLabelPath='name'
            optionValuePath='name'
            value=selectedPrinter
            class="form-control"
            action=(action (mut selectedPrinter))
            id="printerSelect"
          }}
        {{/unless}}
      </div>
      <button class="btn btn-primary" {{action 'print'}}><span class=" glyphicon glyphicon-print"></span> {{t 'inventory.labels.print'}}</button>
    </div>
  </div>
{{/if}}
