<div class="panel panel-default">
  <div class="panel-body">
    {{bar-code value=model.id tagName="img" id=(concat "barcode-" model.id) options=(hash displayValue=true text=model.name)}}
  </div>
</div>

{{#if havePrinters}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'inventory.labels.printBarcode'}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          {{#unless singlePrinter}}
            {{#em-form model=this submitButton=false as |form|}}
              {{form.select
                content=printers
                optionLabelPath='name'
                optionValuePath='name'
                class='col-xs-6 form-input-group'
                property='selectedPrinter'
                id='printerSelect'
                label=(t 'inventory.labels.printer')
              }}
            {{/em-form}}
          {{/unless}}
        </div>
      <button class="btn btn-primary" {{action 'print'}}><span class=" glyphicon glyphicon-print"></span> {{t 'inventory.labels.print'}}</button>
    </div>
  </div>
{{/if}}
