<div class="panel panel-primary">
<h3>Existing Replacements</h3>
<p>When entering text, these shortcuts allow you to replace a short sequence of characters with a longer phrase.</p>
<table class="table">
  <tr class="table-header">
    <th style="min-width: 150px">From</th>
    <th style="min-width: 150px">To</th>
    <th/>
  </tr>
  <tbody>
{{#each model as |expansion|}}
<tr>
  <td>#{{expansion.from}}</td>
  <td>{{expansion.to}}</td>
  <td>
    <button class="pull-right btn button-default on-white" {{action 'deleteExpansion' expansion}}>Delete</button>
  </td>
</tr>
{{/each}}
</tbody>
</table>
<div class="panel">
  <div class="panel-body">
    <h3>Create a new replacement</h3>
    {{#em-form model=newExpansion action="addExpansion" formLayout="horizontal" showErrorsOnFocusIn="true" submitButton=false}}
        {{em-input property="from" label="From" placeholder="Text to replace"}}
        {{em-input property="to" label="To" placeholder="Replace with"}}
    {{/em-form}}
  </div>
  <div class="panel-footer">
    <button class="btn button-primary on-white" disabled={{isInvalid}} {{action 'addExpansion' newExpansion}}>Create</button>
    <button class="btn button-default on-white" {{action 'cancelExpansion'}}>Cancel</button>
  </div>
</div>
</div>
