{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th>{{t 'labels.name'}}</th>
        <th>{{t 'billing.labels.discountAmount'}}</th>
        <th>{{t 'billing.labels.discountPercentage'}}</th>
        {{#if showActions}}
          <th>{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |profile|}}
        <tr {{action 'editItem' profile}} class="clickable">
          <td class="pricing-profile-name">{{profile.name}}</td>
          <td>{{profile.discountAmount}}</td>
          <td>{{profile.discountPercentage}}</td>
          {{#if showActions}}
            <td>
              {{#if canEdit}}
                <button class="btn btn-default neutral" {{action 'editItem' profile bubbles=false }}>{{t 'labels.edit'}}</button>
              {{/if}}
              {{#if canDelete}}
                <button class="btn btn-default warning" {{action 'deleteItem' profile bubbles=false }}><span class="octicon octicon-x"></span> {{t 'buttons.delete'}}</button>
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'billing.alerts.noPricingProfiles'}}. {{#if canAdd}}<a href="#" {{action 'newItem'}}>{{t 'messages.createNewRecord'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
