{{#if model}}
    <table class="table">
        <tr class="table-header">
            <th>Date Requested</th>
            <th>Date Completed</th>
            <th>Patient</th>
            <th>Imaging Type</th>
            <th>Results</th>
            <th>Notes</th>            
        </tr>
            {{#each}}
                <tr>
                    <td>{{date-format requestedDate}}</td>
                    <td>{{date-format imagingDate}}</td>
                    <td>{{patient.displayName}}</td>
                    <td>{{imagingType}}</td>
                    <td>{{result}}</td>
                    <td>{{notes}}</td>
                </tr>
            {{/each}}        
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No completed items found.</em>
    </div>
{{/if}}