{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false as |form|}}
    {{patient-summary patient=model.patient disablePatientLink=true diagnosisContainer=model}}
    {{expand-text property="operationDescription" label=(t 'operativePlan.labels.operationDescription') class="operation-description" form=form}}
    {{operative-procedures model=model procedureList=procedureList}}
    <div class="row">
      {{select-or-typeahead form=form model=model className="col-sm-4" property="surgeon"
        label=(t "operativePlan.labels.surgeon") list=physicianList
        selection=model.surgeon
        class="plan-surgeon"
      }}
      {{form.select
        prompt=" "
        label=(t 'operativePlan.labels.status')
        property="status"
        content=planStatuses
        class="form-input-group col-sm-2 plan-status"
      }}
      {{form.input property="caseComplexity" label=(t 'operativePlan.labels.caseComplexity') class="col-sm-2 case-complexity"}}
    </div>
    {{expand-text property="admissionInstructions" label=(t 'operativePlan.labels.admissionInstructions') class="admission-instructions" form=form}}
    {{expand-text property="additionalNotes" label=(t 'operativePlan.labels.additionalNotes') class="additional-notes" form=form}}
    {{upcoming-appointments patient=model.patient}}
    {{custom-form-manager model=model formType="operativePlan" rapidForm=form}}
  {{/em-form}}
{{/edit-panel}}
