{{#item-listing paginationProps=paginationProps }}
  <div class="panel panel-info">
    <div class="panel-body">
      {{#em-form model=model submitButton=false }}
        <div class="row">
          {{date-picker property="selectedStartingDate" label=(t "appointments.labels.selectedStartingDate")class="col-sm-3"}}
          {{em-select class="col-sm-3" property="selectedStatus"
              label=(t "labels.status") content=appointmentStatusesWithEmpty
          }}
        </div>
        <div calss="row">
          {{em-select class="col-sm-3" label=(t "labels.type")
              property="selectedAppointmentType" content=visitTypesWithEmpty
          }}
          {{em-select class="col-sm-3" property="selectedProvider"
              label=(t 'labels.with') content=physicianList
          }}
        </div>
      {{/em-form}}
    </div>
    <div class="panel-footer">
      <button class="btn btn-default" {{action 'search'}}>{{t 'buttons.search'}}</button>
    </div>
  </div>
  <table class="table">
    <tr class="table-header">
      {{#sortable-column sortBy='date' sortDesc=sortDesc sortKey=sortKey }}{{t 'labels.date'}}{{/sortable-column}}
      <th>{{t 'labels.name'}}</th>
      {{#sortable-column sortBy='appointmentType' sortDesc=sortDesc sortKey=sortKey }}{{t 'labels.type'}}{{/sortable-column}}
      {{#sortable-column sortBy='location' sortDesc=sortDesc sortKey=sortKey }}{{t 'labels.location'}}{{/sortable-column}}
      {{#sortable-column sortBy='provider' sortDesc=sortDesc sortKey=sortKey }}{{t 'labels.with'}}{{/sortable-column}}
      {{#sortable-column sortBy='status' sortDesc=sortDesc sortKey=sortKey }}{{t 'labels.status'}}{{/sortable-column}}
      <th>{{t 'labels.actions'}}</th>
    </tr>
    {{#each model as |appointment|}}
      {{partial 'appointments/item'}}
    {{/each}}
  </table>
{{/item-listing}}
