{{#if showPricingTypeTabs}}
    <ul class="nav nav-pills" role="tablist">
        {{#each pricingTypeList itemController='item-charge-controller'}}
            <li role="presentation"><a {{bind-attr href=tabHref class=activeClass}} role="tab" data-toggle="pill">{{model}} charges</a></li>
        {{/each}}
    </ul>
{{/if}}
<div class="tab-content">
    {{#each pricingTypeList itemController='item-charge-controller'}}    
        <div role="tabpanel" {{bind-attr id=tabId class=":tab-pane activeClass"}}>
            <div class="panel detail-section">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{model}} charged items
                    </h3>
                </div>
                <div class="panel-body detail-section-content">
                    <table class="table table-bordered">
                        <tbody>
                            {{#with this as itemController}}
                                {{#each pricingListByType}}
                                    <tr>
                                        {{#each this}}
                                            <td class="col-xs-2">
                                                {{em-input property=_id label=name}}
                                            </td>
                                        {{/each}}
                                    </tr> 
                                {{/each}}
                            {{/with}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/each}}
</div>