<div class="row">
    {{date-picker property="dateReceived" label="Date Received" class="col-sm-4"}}
    {{em-input property="invoiceNo" label="Invoice Number" class="col-sm-4"}}
</div>
{{#if canEditQuantity }}
    {{quantity-calc calculated=originalQuantity targetUnit=distributionUnit quantityGroups=quantityGroups }}
{{else}}
    <div class="form-group">
        <label>Quantity</label>
        {{input class="form-control" value=originalQuantity type="text" disabled=true }}                    
    </div>
{{/if}}
<div class="row">
    {{em-input property="purchaseCost" label="Purchase Cost" class="required col-sm-4"}}
    {{em-input property="lotNumber" label="Serial/Lot Number" class="col-sm-4"}}
</div>
<div class="row">
    {{date-picker property="expirationDate" label="Expiration Date" minDate="now" class="col-sm-4"}}
</div>
<div class="row">    
    {{select-or-typeahead property="vendor" label="Vendor" list=vendorList selection=vendor class="col-sm-6 required"}}
    {{em-input property="vendorItemNo" label="Vendor Item Number" class="col-sm-6"}}    
</div>
{{#if isNew}}
    {{select-or-typeahead property="location" label="Location" list=warehouseList selection=location }}
    {{select-or-typeahead property="aisleLocation" label="Aisle Location" list=aisleLocationList selection=aisleLocation }}
{{/if}}
{{em-checkbox label="Gift In Kind" property="giftInKind"}}