{{#if this}}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>XRef</th>
        <th>Actions</th>
    </tr>
    {{#each itemController='inventory/item-controller'}}    
    <tr>
        {{#if isEditing}}
            <td>{{id}}</td>
            <td>{{input value=name}}</td>
            <td>{{input value=description}}</td>
            <td>{{type}}</td>
            <td>{{input value=quantity}}</td>
            <td>{{input value=price}}</td>
            <td>{{input value=crossReference}}</td>
            <td>
                <button class="btn btn-default" {{action 'cancelUpdate'}}>Cancel</button>
                <button class="btn btn-default" {{action 'updateInventory'}}>Update</button>
            </td>
        {{else}}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{type}}</td>
            <td>{{quantity}}</td>
            <td>{{price}}</td>
            <td>{{crossReference}}</td>        
            <td>
                {{#if showAdd}}
                    {{#if isAdding}}
                        <label>Amount: </label>{{input value=addAmount}}
                        <button class="btn btn-default" {{action 'addInventory'}}>Add</button>
                        <button class="btn btn-default" {{action 'cancelUpdate'}}>Cancel</button>
                    {{else}}
                        <button class="btn btn-default" {{action 'addInventory'}}>Add</button>
                    {{/if}}
                {{/if}}
                {{#if showDecrease}}
                    {{#if isDecreasing}}
                        <label>Amount: </label>{{input value=decreaseAmount}}
                        <button class="btn btn-default" {{action 'decreaseInventory'}}>Decrease</button>
                        <button class="btn btn-default" {{action 'cancelUpdate'}}>Cancel</button>
                    {{else}}
                        <button class="btn btn-default" {{action 'decreaseInventory'}}>Decrease</button>
                    {{/if}}
                {{/if}}
                {{#if showEdit}}
                    <button class="btn btn-default" {{action 'editInventory' this}}>Edit</button>
                    <button class="btn btn-default" {{action 'deleteInventory'}}>Delete</button>
                {{/if}}
                {{#link-to 'inventory.barcode' this class="btn btn-default"}}Barcode{{/link-to}}
            </td>        
        {{/if}}
    </tr>
    {{/each}}
</table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.  Create a new record?</em> <button class="btn btn-primary" {{action 'newInventory'}}>New Item</button>
    </div>
{{/if}}
