<div class="row">
  {{#unless model.isNew}}
    <div class="form-group col-sm-2">
      <label>{{t 'labels.id'}}</label>
      {{input class="form-control test-item-id" value=model.friendlyId type="text" disabled=true }}
    </div>
  {{/unless}}
  {{form.input property="name" label=(t 'labels.name') class="required  col-sm-6 test-inv-name"}}
  {{inventory/rank-select property="rank" form=form}}
  {{#unless model.isNew}}
    <div class="form-group col-sm-2">
      <label>{{t 'labels.quantity'}}</label>
      <p class="form-control-static">{{model.quantity}}</p>
    </div>
  {{/unless}}
</div>

{{expand-text label=(t 'labels.description') property="description" rows=1 form=form}}
<div class="row">
  {{form.select label=(t 'labels.type') property="inventoryType"
    content=inventoryTypes
      class="required col-sm-4 form-input-group test-inv-type"
      prompt=" "
  }}
  {{form.input property="crossReference" label=(t 'inventory.labels.crossReference') class="col-sm-8 test-inv-cross"}}
</div>
<div class="row">
  {{form.input property="reorderPoint" label=(t 'inventory.labels.reorderPoint') class="col-sm-3 test-inv-reorder"}}
  {{number-input model=model property="price" label=(t 'inventory.labels.salePricePerUnit') class="col-sm-3 test-inv-price"}}
  {{form.select label=(t 'inventory.labels.distributionUnit') class="col-sm-3 required form-input-group test-inv-dist-unit"
    property="distributionUnit"
    content=unitListForSelect
    prompt=" "
  }}
</div>
