{{#if model}}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    {{#each itemController='inventory/item-controller'}}    
    <tr>
        {{#if isEditing}}
            <td>{{id}}</td>
            <td>{{input value=name}}</td>
            <td>{{input value=description}}</td>
            <td>{{input value=quantity}}</td>
            <td>
                <button {{action 'cancelUpdate'}}>Cancel</button>
                <button {{action 'updateInventory'}}>Update</button>
            </td>
        {{else}}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{quantity}}</td>
            <td>
                <button {{action 'editInventory'}}>Edit</button>
                <button {{action 'deleteInventory'}}>Delete</button>
            </td>        
        {{/if}}
    </tr>
    {{/each}}
</table>
{{else}}
    <div class="alert alert-info">
        <em>No items found.  Create a new record?</em> <button class="btn btn-primary" {{action 'newInventory'}}>New Item</button>
    </div>
{{/if}}
