<div class="row">
    {{#unless isNew}}
        <div class="form-group col-sm-2">
            <label>ID</label>
            {{input class="form-control" value=friendlyId type="text" disabled=true }}
        </div>
    {{/unless}}
    {{em-input property="name" label="Name" class="required  col-sm-8"}}
    {{#unless isNew}}
        <div class="form-group col-sm-2">
            <label>Quantity</label>
            <p class="form-control-static">{{quantity}}</p>                    
        </div>
    {{/unless}}

</div>
{{em-text label="Description" property="description" rows=1 }}
<div class="row">
    {{em-select label="Type" property="type" 
        content=inventoryTypes 
        optionValuePath="content" 
        optionLabelPath="content"
        class="required col-sm-4"
        prompt=" "
    }}
    {{em-input property="crossReference" label="Cross Reference" class="col-sm-8"}}
</div>
<div class="row">
    {{em-input property="reorderPoint" label="Reorder Point" class="col-sm-3"}}
    {{em-input property="price" label="Sale Price Per Unit" class="col-sm-3"}}
    {{em-select label="Distribution Unit" class="col-sm-3 required" 
        property="distributionUnit" 
        content=unitList 
        optionLabelPath="content"
        optionValuePath="content"
        prompt=" "
    }}            
</div>