{{#if organizeByType}}
  {{partial 'charges-by-type'}}
{{else}}
  <div class="panel detail-section">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{t 'headings.chargedItems'}}
        {{#if canAddCharge}}
          <button class="btn btn-primary align-right" {{action "showAddCharge" bubbles=false }}><span class="octicon octicon-plus"></span>{{t 'buttons.addItem'}}</button>
        {{/if}}
      </h3>
    </div>
    <div class="panel-body detail-section-content">
      <table class="table charge-items">
        <tr class="table-header">
          <th>{{t 'labels.date'}}</th>
          <th>{{t 'inventory.labels.item'}}</th>
          <th>{{t 'labels.quantity'}}</th>
          <th>{{t 'labels.action'}}</th>
        </tr>
        {{#each model.charges as |charge|}}
          {{#unless charge.medicationCharge}}
            <tr>
              <td>{{date-format charge.dateCharged}}</td>
              <td class="charge-item-name">{{charge.pricingItem.name}}</td>
              <td>{{charge.quantity}}</td>
              <td>
                {{#if canAddCharge}}
                  <button class="btn btn-default neutral" {{action "showEditCharge" charge}}>{{t 'labels.edit'}}</button>
                  <button class="btn btn-default warning" {{action "showDeleteCharge" charge bubbles=false }}>
                    <span class="octicon octicon-x"></span>{{t "buttons.delete"}}
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </table>
    </div>
  </div>
{{/if}}
