<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              {{partial "components/logo-svg"}}
            </a>
        </div>

        {{#if allowSearch}}
        <div class="navbar-form navbar-left site-search-form" role="search">
            <div class="form-group">
                {{text-search valueBinding="searchText" autofocus="true" placeholder="Search" class="form-control"}}
            </div>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        {{/if}}

        <nav class="header-nav">
        {{#if session.isAuthenticated}}
            <a href="#" class="logout" {{ action 'invalidateSession' }}>Logout</a>
        {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
        {{/if}}
            <a class="menu-link" href="/#">{{partial "components/menu-svg"}}</a>
        </nav>
    </div><!-- /.container-fluid -->
</nav>
