{{#if showPagination}}
    <div class="btn-group pull-right">
        {{#if showFirstPageButton}}
            <button class="btn btn-default on-white" {{action 'firstPage'}} disabled={{disablePreviousPage}}>
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
        {{/if}}
        <button class="btn btn-default on-white" {{action 'previousPage'}} disabled={{disablePreviousPage}}>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btn-default on-white" {{action 'nextPage'}} disabled={{disableNextPage}}>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        {{#if showLastPageButton}}
            <button class="btn btn-default on-white" {{action 'lastPage'}} disabled={{disableNextPage}}>
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
        {{/if}}

    </div>
{{/if}}
