<div class="panel panel-primary">
    <div class="panel-body">
        {{yield}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" {{action updateButtonAction}} {{bind-attr disabled=isUpdateDisabled}}>{{updateButtonText}}</button>
        <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
    </div>
</div>