<div class="panel panel-primary">
    <div class="panel-body">
        {{yield}}
    </div>
    <div class="panel-footer">
        {{#if showUpdateButton}}
            <button class="btn btn-primary on-white" {{action updateButtonAction}} {{bind-attr disabled=isUpdateDisabled }}>{{updateButtonText}}</button>
        {{/if}}
        {{#unless hideCancelButton}}
            {{#if cancelButtonText}}
                <button class="btn btn-default warning" {{action "cancel"}}>{{cancelButtonText}}</button>
            {{else}}
                <button class="btn btn-default warning" {{action "cancel"}}>Cancel</button>
            {{/if}}
        {{/unless}}
        {{#each additionalButtons}}
            <button {{bind-attr class="class"}} {{action buttonAction}}>
                {{#if buttonIcon}}
                    <span {{bind-attr class="buttonIcon"}}></span> 
                {{/if}}
                {{buttonText}}
            </button>
        {{/each}}
    </div>
</div>