<div class="panel panel-primary">
    <div class="panel-body">
        {{yield}}
    </div>
    <div class="panel-footer">
        {{#if showUpdateButton}}
            {{#if disabledAction}}
                <button class="btn btn-primary on-white disabled-btn" {{action disabledAction}}>{{updateButtonText}}</button>
            {{else}}
                <button class="btn btn-primary on-white" {{action updateButtonAction}} disabled={{isUpdateDisabled}}>{{updateButtonText}}</button>
            {{/if}}
        {{/if}}
        {{#unless hideCancelButton}}
            {{#if cancelButtonText}}
                <button class="btn btn-default warning" {{action "cancel"}}>{{cancelButtonText}}</button>
            {{else}}
                <button class="btn btn-default warning" {{action "cancel"}}>Cancel</button>
            {{/if}}
        {{/unless}}
        {{#each button in additionalButtons}}
            <button class="{{button.class}}" {{action button.buttonAction}}>
                {{#if buttonbuttonIcon}}
                    <span class="{{button.buttonIcon}}"></span>
                {{/if}}
                {{button.buttonText}}
            </button>
        {{/each}}
    </div>
</div>
