<div class="panel panel-primary">
    <div class="panel-body">
        {{yield}}
    </div>
    <div class="panel-footer">
        {{#if showUpdateButton}}
            <button class="btn btn-primary on-white" {{action updateButtonAction}} {{bind-attr disabled=isUpdateDisabled }}>{{updateButtonText}}</button>
        {{/if}}
        {{#unless hideCancelButton}}
            <button class="btn btn-default warning" {{action "cancel"}}>Cancel</button>
        {{/unless}}
    </div>
</div>