<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h1 class="pull-left">{{currentScreenTitle}}</h1>
        <div class="pull-right screen-button">
            <button class="btn btn-primary" {{action newButtonAction}}>{{newButtonText}}</button>
        </div>
        <ul class="nav nav-pills navbar-right">
            {{#each subActions}}
                <li>{{#link-to linkTo}}{{text}}{{/link-to}}</li>
            {{/each}}
        </ul>

    </div>
    <div class="panel-body">
        {{outlet}}
    </div>
</div>