<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h1 class="pull-left">{{sectionTitle}}</h1>
        <div class="pull-right screen-button">       
            <button class="btn btn-primary" {{action newButtonAction}}>{{newButtonText}}</button>
        </div>
        <div class="pull-right screen-title">
            <h4>{{currentScreenTitle}}</h4>
        </div>

    </div>
    <div class="panel-body">
        {{outlet}}
    </div>
</div>