<div class="panel-group" id="patient-accordion">
    <div class="panel detail-section">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-demo">
                    General Information
                </a>
            </h3>
        </div>
        <div id="patient-demo" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content detail-section-content">
                {{#em-form model=this submit_button=false }}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group has-success">
                                <label class="control-label0">Record Number</label>
                                <div class="form-control not-editable">
                                    {{id}}
                                </div>
                            </div>
                            {{em-input property="firstName" label="First Name"}}
                            {{em-input property="lastName" label="Last Name"}}
                            <div class="form-group">
                                <label>Gender:</label>
                                {{ext-radio name=gender content=genderList value=gender }}
                            </div>
                            {{date-picker property="dateOfBirth" label="DOB" maxDate="now"}}
                            <div class="form-group">
                                <label class="control-label">Age</label>
                                <p class="form-control-static">{{dobInDays}}</p>
                            </div>
                            {{em-select
                                label="Blood Type"
                                property="bloodType"
                                content=bloodTypes
                                optionValuePath="content"
                                optionLabelPath="content"
                            }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{em-text label="Address" property="address" rows=3 }}
                            {{type-ahead property="country" label="Country" content=countryList.value selection=country }}
                            {{em-input property="phone" label="Phone Contact"}}
                            {{em-input property="email" type="email" label="Email"}}
                            {{em-input property="parent" label="Parent/Guardian"}}
                            {{type-ahead property="clinic" label="Clinic Site" content=clinicList.value selection=clinic }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            {{icd10-typeahead property="primaryDiagnosis" label="Primary Diagnosis" selection=primaryDiagnosisId }}
                            {{em-text label="Patient History" property="history" rows=3 }}
                        </div>
                    </div>
                {{/em-form}}
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-diagnosis">
                    Additional Diagnoses
                    {{#if canAddDiagnosis}}
                        <button class="btn btn-primary align-right" {{action "showAddDiagnosis" bubbles=false }}><span class="octicon octicon-plus"></span> New Diagnosis</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-diagnosis" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Diagnosis</th>
                        <th>Delete</th>
                    </tr>
                    {{#with canDeleteDiagnosis as canDeleteDiagnosis}}
                        {{#each additionalDiagnoses}}
                        <tr>
                            <td>{{date-format date}}</td>
                            <td>{{description}}</td>
                            <td>
                                {{#if canDeleteDiagnosis}}
                                    <button class="btn btn-default warning" {{action "deleteDiagnosis" this}}><span class="octicon octicon-x"></span> Delete</button>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    {{/with}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-medication">
                    Medication
                    {{#if canAddMedication}}
                        <button class="btn btn-primary align-right" {{action "newMedication" bubbles=false }}><span class="octicon octicon-plus"></span>New Medication</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-medication" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Prescription</th>
                        <th>Requested By</th>
                        <th>Actions</th>
                    </tr>
                    {{#each patientMedications itemController="medication/item-controller"}}
                        <tr {{action "editMedication" this}}>
                            <td>{{date-format prescriptionDate}}</td>
                            <td>{{inventoryItem.name}}</td>
                            <td>{{status}}</td>
                            <td>{{prescription}}</td>
                            <td>{{requestedBy}}</td>
                            <td>
                                {{#if canEdit}}
                                    {{#if parentController.canAddMedication}}
                                        <button class="btn btn-default neutral" {{action "editMedication" this}}>Edit</button>
                                    {{/if}}
                                    {{#if parentController.canDeleteMedication}}
                                        <button class="btn btn-default warning" {{action "showDeleteMedication" this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                    {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-labs">
                    Labs
                    {{#if canAddLab}}
                        <button class="btn btn-primary align-right" {{action "newLab" bubbles=false }}><span class="octicon octicon-plus"></span> New Lab</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-labs" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table">
                    <tr class="table-header">
                        <th>Date Requested</th>
                        <th>Lab Type</th>
                        <th>Status</th>
                        <th>Date Processed</th>
                        <th>Result</th>
                        <th>Notes</th>
                        <th>Requested By</th>
                        <th>Actions</th>
                    </tr>
                    {{#each patientLabs itemController="labs/item-controller"}}
                        <tr {{action "editLab" this}}>
                            <td>{{date-format requestedDate}}</td>
                            <td>{{labType}}</td>
                            <td>{{status}}</td>
                            <td>{{date-format labDate}}</td>
                            <td>{{result}}</td>
                            <td>{{notes}}</td>
                            <td>{{requestedBy}}</td>
                            <td>
                                {{#if canEdit}}
                                    {{#if parentController.canAddLab}}
                                        <button class="btn btn-default neutral" {{action "editLab" this}}>Edit</button>
                                    {{/if}}
                                    {{#if parentController.canDeleteLab}}
                                        <button class="btn btn-default warning" {{action "showDeleteLab" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                    {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-imaging">
                    Imaging
                    {{#if canAddImaging}}
                        <button class="btn btn-primary align-right" {{action "newImaging" bubbles=false }}><span class="octicon octicon-plus"></span> New Imaging</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-imaging" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table">
                    <tr class="table-header">
                        <th>Date Requested</th>
                        <th>Imaging Type</th>
                        <th>Status</th>
                        <th>Date Processed</th>
                        <th>Result</th>
                        <th>Notes</th>
                        <th>Requested By</th>
                        <th>Actions</th>
                    </tr>
                    {{#each patientImaging itemController="imaging/item-controller"}}
                        <tr {{action "editImaging" this}}>
                            <td>{{date-format requestedDate}}</td>
                            <td>{{imagingType}}</td>
                            <td>{{status}}</td>
                            <td>{{date-format imagingDate}}</td>
                            <td>{{result}}</td>
                            <td>{{notes}}</td>
                            <td>{{requestedBy}}</td>
                            <td>
                                {{#if canEdit}}
                                    {{#if parentController.canAddImaging}}
                                        <button class="btn btn-default neutral" {{action "editImaging" this}}>Edit</button>
                                    {{/if}}
                                    {{#if parentController.canDeleteImaging}}
                                        <button class="btn btn-default warning" {{action "showDeleteImaging" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                    {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-visits">
                    Visits
                    {{#if canAddVisit}}
                        <button class="btn btn-primary align-right" {{action "newVisit" bubbles=false }}><span class="octicon octicon-plus"></span> New Visit</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-visits" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table" >
                    <tr class="table-header">
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Provider</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    {{#with this as patientController}}
                        {{#each visits}}
                            <tr {{action "editVisit" this}}>
                                <td>{{date-format startDate}}</td>
                                <td>{{date-format endDate}}</td>
                                <td>{{examiner}}</td>
                                <td>{{location}}</td>
                                <td>{{visitType}}</td>
                                <td>
                                    {{#if patientController.canAddVisit}}
                                        <button class="btn btn-default neutral" {{action "editVisit" this}}>Edit</button>
                                    {{/if}}
                                    {{#if patientController.canDeleteVisit}}
                                        <button class="btn btn-default warning" {{action "showDeleteVisit" this bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{/with}}
                </table>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#patient-accordion" href="#patient-appointments">
                    Appointments
                    {{#if canAddAppointment}}
                        <button class="btn btn-primary align-right" {{action "newAppointment" bubbles=false }}><span class="octicon octicon-plus"></span> New Appointment</button>
                    {{/if}}
                </a>
            </h3>
        </div>
        <div id="patient-appointments" class="panel-collapse collapse in">
            <div class="panel-body detail-section-content">
                <table class="table">
                    <tr class="table-header">
                        <th>Date</th>
                        <th>Examiner</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    {{#with this as patientController}}
                        {{#each appointments itemController='appointments/item'}}
                            <tr {{action "editAppointment" this}}>
                                <td>{{appointmentDate}}</td>
                                <td>{{provider}}</td>
                                <td>{{location}}</td>
                                <td>{{appointmentType}}</td>
                                <td>
                                    {{#if patientController.canAddAppointment}}
                                        <button class="btn btn-default neutral" {{action "editAppointment" this}}>Edit</button>
                                    {{/if}}
                                    {{#if patientController.canDeleteAppointment}}
                                        <button class="btn btn-default warning" {{action "showDeleteAppointment" this  bubbles=false }}><span class="octicon octicon-x"></span> Delete</button>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{/with}}
                </table>
            </div>
        </div>
    </div>

</div>