{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#if isRequested}}
      <div class="form-group">
        <label class="control-label">{{t 'inventory.labels.item'}}</label>
        <p class="form-control-static">{{model.inventoryItem.name}}</p>
      </div>
      <div class="form-group">
        <label class="control-label">{{t 'inventory.labels.quantityRequested'}}</label>
        <p class="form-control-static">{{model.quantity}}</p>
      </div>
      <div class="form-group">
        <label class="control-label">{{t 'inventory.labels.quantityOnHand'}}</label>
        <p class="form-control-static">{{model.inventoryItem.quantity}}</p>
      </div>
    {{else}}
      <div class="row">
        {{inventory-typeahead
          class="col-sm-8 test-inv-item"
          property="inventoryItemTypeAhead"
          label=(t 'inventory.labels.inventoryItem')
          content=inventoryList
          selection=selectedInventoryItem
        }}

        {{number-input property="quantity" label=quantityLabel class="col-sm-3 test-inv-quantity"}}
        <div class="form-group col-sm-1">
          <label class="control-label"></label>
          <h4 class="form-control-static">
            <span class="glyphicon glyphicon-plus" {{action 'addInventoryItem'}}></span>
          </h4>
        </div>
      </div>
      {{#if showRequestedItems}}
        <h3>{{t 'inventory.labels.requestedItems'}}</h3>
        <table class="table">
          <tr class="table-header">
            <th>{{t 'labels.name'}}</th>
            <th>{{t 'labels.quantity'}}</th>
            <th>{{t 'labels.action'}}</th>
          </tr>
          {{#each model.requestedItems as |requestedItem|}}
            <tr>
              <td>
                {{requestedItem.item.name}}
              </td>
              <td class="col-xs-2">
                <div class="input-group">
                  {{input class="form-control" value=requestedItem.quantity }}
                  <div class="input-group-addon">{{requestedItem.item.distributionUnit}}</div>
                </div>
              </td>
              <td>
                <button class="btn btn-default warning" {{action "showRemoveItem" requestedItem bubbles=false }}>
                  <span class="octicon octicon-x"></span> {{t 'buttons.remove'}}
                </button>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
      {{#if canFulfill}}
        <div class="form-group">
          <label class="control-label sr-only">{{t 'inventory.labels.fulfillRequest'}}</label>
        </div>
        {{em-checkbox label=(t 'inventory.labels.fulfillRequest') property="shouldFulfillRequest"}}
      {{/if}}
    {{/if}}
    {{select-or-typeahead property="deliveryLocation" label=(t 'inventory.labels.deliveryLocation') list=warehouseList selection=model.deliveryLocation class="test-delivery-location"}}
    {{select-or-typeahead property="deliveryAisle" label=(t 'inventory.labels.deliveryAisle') list=aisleLocationList selection=model.deliveryAisle class="test-delivery-aisle"}}
    {{select-or-typeahead property="expenseAccount" label=(t 'inventory.labels.billTo') list=expenseAccountList selection=model.expenseAccount class="test-bill-to"}}
    {{#if isFulfilling}}
      <div class="row">
        {{date-picker property="dateCompleted" label=(t 'labels.dateCompleted') class="col-sm-4"}}
      </div>
      {{inventory-location-picker label=(t 'inventory.labels.pullFrom') quantityRequested=model.quantity
        locationList=model.inventoryItem.availableLocations
        selectedLocations=model.inventoryLocations
      }}
      <div class="form-group">
        <label class="control-label sr-only">{{t 'inventory.labels.consumePurchases'}}</label>
      </div>
      {{em-checkbox label=(t 'inventory.labels.markAsConsumed') property="markAsConsumed"}}
    {{/if}}
  {{/em-form}}
{{/edit-panel}}
